<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src ="ckeditor5-build-classic/ckeditor.js"></script>
<style>
.ck.ck-editor {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

.ck-editor__editable {
	height: 80vh;
}

form {
	text-align: center;
}


</style>

</head>
<body>
<div layout:fragment="content">
	<div id="readEditor"></div>

	<script>
	
	var content = "[[${info.content }]]";
	
	/* content = content.replace("&lt;","<");
	content = content.replace("&gt;",">");
	content = content.replace("+"," ");
	content = content.replace("&amp;lt;","<");
	content = content.replace("&amp;gt;",">");
	content = content.replace("&amp;nbsp;"," ");
	content = content.replace("&amp;amp;","&"); */
	
	content = content.replace(/&lt;/g, "<")
					 .replace(/&gt;/g, ">")
					 .replace(/\+/g, " ")
					 .replace(/&amp;lt;/g, "<")
					 .replace(/&amp;gt;/g, ">")
					 .replace(/&amp;nbsp;/g, " ")
					 .replace(/&amp;amp;/g, "&");
	
	var decodeContent = decodeURIComponent(content);
	console.log(decodeContent);
	ClassicEditor
		.create( document.querySelector( '#readEditor' ))
	
		.then(editor => {
			window.editor = editor;
	        // 에디터 초기화 후에 읽기 전용 모드 설정
	        //editor.isReadOnly = true;   
	        //'my-feature-id'는 사용자 정의 기능 ID이며, 특정 기능에 대한 읽기 전용 모드를 활성화할 때 사용됩니다.
	        editor.enableReadOnlyMode( 'my-feature-id' );
	        const toolbarElement = editor.ui.view.toolbar.element;
	        toolbarElement.style.display = 'none';
	        editor.setData(decodeContent);
		})
		.catch( error => {
			console.error( 'Oops, something went wrong!' );
			console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
			console.warn( 'Build id: g64ljk55ssvc-goqlohse75uw' );
			console.error( error );
		});
	
		
		
	
	</script>
</div>
</body>
</html>