<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
$(document).ready(function () {
	var formObj = $(".sidebar-search");
	
	$("button[type='submit']").on("click",function(event){
		var str='';
		var sigunguCode = $("#location > option:selected").attr("value1");
		var areaCode = $("#location > option:selected").attr("value2");
		str+=`<input type='hidden' name='sigunguCode' value='${sigunguCode}'>
			 <input type ='hidden' name = 'areaCode' value='${areaCode}'>`
		formObj.append(str);
	});
});
</script>
</head>
<body>
<div layout:fragment="content">
	<!-- Property Section Begin -->
	<section class="property-section spad">
	
		<div class="container">
			<div class="row">
			
				<div class="col-lg-3">
					<div class="property-sidebar">
						<h4>Search Property</h4>
						<form action="" class="sidebar-search">
						<button type="submit" class="search-btn">Search Property</button>
							<div>
								<select id="searchBy" name="searchBy">
									<option value="name">이름으로 검색</option>
								</select>
								<input type="text" id="keyword" name="keyword" placeholder="검색어를 입력해주세요.">
							</div>
							<div class="price-range-wrap">
								<div class="price-text">
									<label for="priceRangeP">Price:</label> <input type="text" id="priceRangeP" readonly>
								</div>
								<div id="price-range-P" class="slider"></div>
							</div>
							<div>
								<label for="location">지역</label>
								<select id="location" class="location">
									<option value="">선택</option>
									<option th:each = "a : ${area}"  th:value1="${a.sigunguCode}" th:value2="${a.areaCode}" th:text="${a.locationName}"></option>	
								</select>
							</div>
							
						</form>
					</div>
					
				</div>
				
				<div class="col-lg-9">
					<h4 class="property-title">Property</h4>
					<div class="property-list">
					<th:block th:if="${!#lists.isEmpty(packageList)}">
						<th:block th:each="pck : ${packageList}">
							<div th:onclick="|location.href='@{/packageInfo(postId=${pck.postId})}'|">
								<div class="single-property-item">
									<div class="row">
										<div class="col-md-4">
											<div class="property-pic">
												<img th:src="${pck.loadingImg}" alt="">
											</div>
										</div>
										<div class="col-md-8">
											<div class="property-text">
												<div class="s-text">For Sale</div>
												<th:h5 class="r-title" >[[ ${pck.name} ]]</h5>
													<div class="room-price">
														<span>Start From:</span>
														<h5>[[ ${pck.price} ]]</h5>
													</div>
											</div>
											<p>[[ ${pck.tourTheme} ]]</p>
											<ul class="room-features">
												<li><i class="fa fa-arrows"></i>
													<p>5201 sqft</p></li>
												<li><i class="fa fa-bed"></i>
													<p>8 Bed Room</p></li>
												<li><i class="fa fa-bath"></i>
													<p>7 Baths Bed</p></li>
												<li><i class="fa fa-car"></i>
													<p>1 Garage</p></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</th:block>
					<th:block th:if="${#lists.isEmpty(packageList)}">
						<div align="center">
							<span>조회된 패키지가 없습니다.</span>
						</div>
					</th:block>
				</div>
				
			</div>
				<!-- 페이징 구문 -->
				<!-- 검색키워드가 없을때 -->
				<th:block th:if="${#strings.isEmpty(keyword)}">
					<div style="text-align : center;" class="property-pagination">
						<th:block th:if="${paging.nowPage != 1}">
							<a th:href="@{packageList(nowPage=1, cntPerPage=${paging.cntPerPage})}">&lt;&lt;</a>
						</th:block>
						<th:block th:if="${paging.startPage != 1}">
							<a th:href="@{packageList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
						</th:block>
						<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
							<th:block th:if="${p eq paging.nowPage}">
								<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
							</th:block>
							<th:block th:if="${p ne paging.nowPage}">
								<a th:href="@{packageList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"	th:text="${p}"></a>
							</th:block>
						</th:block>
						<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
							<a th:href="@{packageList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
						</th:block>
						<th:block th:if="${paging.nowPage != paging.lastPage}">
							<a th:href="@{packageList(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">&gt;&gt;</a>
						</th:block>
					</div>
				</th:block>
				<!-- 검색키워드가 있을때 -->
				<th:block th:if="${!#strings.isEmpty(keyword)}">
					<div style="text-align : center;" class="property-pagination">
						<th:block th:if="${paging.nowPage != 1}">
							<a th:href="@{searchPackage(nowPage=1, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;&lt;</a>
						</th:block>
						<th:block th:if="${paging.startPage != 1}">
							<a th:href="@{searchPackage(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;</a>
						</th:block>
						<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
							<th:block th:if="${p eq paging.nowPage}">
								<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
							</th:block>
							<th:block th:if="${p ne paging.nowPage}">
								<a th:href="@{searchPackage(nowPage=${p}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}" th:text="${p}"></a>
							</th:block>
						</th:block>
						<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
							<a th:href="@{searchPackage(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;</a>
						</th:block>
						<th:block th:if="${paging.nowPage != paging.lastPage}">
							<a th:href="@{searchPackage(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;&gt;</a>
						</th:block>
					</div>
				</th:block>
			</div>
		</div>
	</section>
</div>
<!-- Property Section End -->


</body>
</html>