<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	> -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js">
</script>
 -->
<script src ="/ckeditor5-build-classic/ckeditor.js"></script>
<style>
form {
	text-align: center;

}
#tourTheme{
	margin: 0 auto;
}

.input-group {
    width: 700px; /* 파일 입력 필드와 버튼의 전체 너비 조절 */
    
}
.img-thumbnail{
	width:400px;
	height:400px;
	
}
body {
       background-color: #ffffff;
       color: #000000;
      }

.text-center {
       text-align: center;
       width: 60%;
       margin: 0 auto;
      }

.form-control {
       width: 100%;
       padding: 10px;
       border: 1px solid #ced4da;
       border-radius: 4px;
       box-sizing: border-box;
      }

.btn-outline-secondary {
       padding: 10px 50px;
       font-size: 16px;
       border-radius: 4px;
       height :38px;
      }

.btn-primary {
       background-color: #007bff;
       border: none;
       color: #ffffff;
      }

.btn-primary:hover {
       background-color: #0069d9;
       color: #ffffff;
      }

.btn-secondary {
      background-color: #6c757d;
      border: none;
      color: #ffffff;
      }

.btn-secondary:hover {
      background-color: #5a6268;
      color: #ffffff;
      }
        
.ck.ck-editor {
     width: 100%;
     max-width: 1500px;
     margin: 0 auto;
      }

.ck-editor__editable {
     height: 70vh;
      }
li {
    list-style-type: none;
}

</style>
<!-- CKEditor -->
<!-- <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script> -->
<script>
$(document).ready(function() {	
	var isIfExecuted = false;
ClassicEditor
	.create(document.querySelector('#editor'), {
		/* htmlEncodeOutput: false, */
		ckfinder: {
			uploadUrl : '/common/upload'	
		}
	
		
	})
	.then(editor => {
		console.log('Editor was initialized');
		
		document.getElementById("cancelBtn").addEventListener("click",function(){
			const data = editor.getData();
			//Data 변수에 저장된 데이터를 파싱하여 이미지 태크를 찾음
			const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
			
			const filenames = imgTags.map(img=> {
				const src = img.getAttribute('src');
				
				return src.substring(src.lastIndexOf('/')+1);
			});
			console.log(filenames);
			fetch(`/common/deleteImg`,{
				method: 'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ filenames })
			})
			.then(response => response.text())
			.then(message => {
				console.log(message);
				editor.setData('');
			})
			
		})
		
		
		var formObj = $("#editorForm");
		
		//document.getElementById("editorForm").addEventListener("submit",function(event){
		$("button[type='button']").on("click",function(event){
				
			event.stopPropagation();
		 	var startDate2 = document.getElementById("startDate").value;
		 	var endDate2 = document.getElementById("endDate").value;
		 	var deadlineDate2 = document.getElementById("deadlineDate").value;
            // 현재 날짜 가져오기
            var currentDate = new Date();

            // 입력한 패키지 시작일을 Date 객체로 변환
            var selectedStartDate = new Date(startDate2);
            var selectedEndDate = new Date(endDate2);
            var selectedDeadlineDate = new Date(deadlineDate2);
            // 날짜 차이 계산 (밀리초 단위)
            var timeDifference = selectedStartDate - currentDate;

            // 30일을 밀리초로 계산
            var thirtyDaysInMillis = 30 * 24 * 60 * 60 * 1000;
            
            if (selectedStartDate < currentDate) {
                alert("여행 시작일은 오늘보다 이전일 수 없습니다.");
                return false;
            }

            if (selectedEndDate < selectedStartDate) {
                alert("여행 종료일은 여행 시작일 이후여야 합니다.");
                return false;
            }
            if (selectedDeadlineDate > selectedStartDate) {
                alert("패키지 마감일은 여행 시작일 이전이여야 합니다.");
                return false;
            }
            // 여행 시작일이 최소 한 달 전이 아닌 경우 예외 처리
            if (timeDifference < thirtyDaysInMillis) {
                alert("여행 시작일은 최소 한 달 전으로 설정해야 합니다.");
                return false; // 폼 제출 중지
            }
            
				
	           
	            
			var str="";
			const data = editor.getData();
		
			let objData = serializeObject();
			var sigunguCode = $("#location > option:selected").attr("value1");
			var areaCode = $("#location > option:selected").attr("value2");
			str+=`<input type='hidden' name='sigunguCode' value='${sigunguCode}'>
				 <input type ='hidden' name = 'areaCode' value='${areaCode}'>`
			
			const { tourTheme, name, price, startDate, endDate, deadlineDate, maxReservation,writerId } = objData;
			var combinedData={
				content: data,
			
			};
			
			
			var paths;
			var resultPath;
			$(".uploadResult ul li").each(function(i,obj){
				var jobj = $(obj);
				str += "<input type ='hidden' name='attachList["+i+"].originImg' value='"+jobj.data("filename")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].savedImg' value='"+jobj.data("path")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].memberId' value='[[${session.sessionId}]]'>";
				str += "<input type ='hidden' name='attachList["+i+"].imgType' value='"+jobj.data("type")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].loadingImg' value='"+jobj.data("loadingpath")+"'>";
				pahts = jobj.data("path").split("/upload");
				resultPath = pahts[0];
			});
			str +="<input type='text' name='content' value='"+combinedData.content+"'>";
			
			const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
			console.log(combinedData.content);
			
			
			const filenames = imgTags.map(img=> {
				const src = img.getAttribute('src');
				
				return src;
			});		
			$.each(filenames,function(i,obj){
				str += "<input type ='hidden' name='editorAttachList["+i+"].savedImg' value='"+resultPath+obj+"'>";
			});
			
			
			//filenames.forEach(function(src, i) {
			   // var jobj = $(imgTags[i]);
			    //console.log(jobj);
			    //str += "<input type ='text' name='attachList[" + i + "].originImg' value='" + jobj. + "'>";
			    //str += "<input type ='text' name='attachList[" + i + "].savedImg' value='" + jobj.data("path") + "'>";
			    //str += "<input type ='text' name='attachList[" + i + "].imgType' value='" + jobj.data("type") + "'>";
			//});
			
			// 등록 시 필수 항목이 미작성 되어있으면 alert 후 focuse로 해당 위치로 보내줌
		    let packageName = document.getElementsByName('name')[0];
		    let packagePrice = document.getElementsByName('price')[0];
		    let packageStartDate = document.getElementsByName('startDate')[0];
		    let packageEndDate = document.getElementsByName('endDate')[0];
		    let packageDeadlineDate = document.getElementsByName('deadlineDate')[0];
		    let packageMaxReservation = document.getElementsByName('maxReservation')[0];
		    let packageContent = combinedData.content;
		    let packageTourTheme = document.getElementsByName('tourTheme')[0];
		    let packageLocation = document.getElementById('location').value;
		    let packageImage = document.getElementsByName('mainImage')[0];
		   
		    /* if (!isIfExecuted) {
			    if (packageImage.value == '') {
				       alert('이미지를 업로드해주세요.')
				       packageImage.focus();
				       isIfExecuted=true;
				       return;
				    }
		    } */
		    if (packageName.value == '') {
		       alert('타이틀을 입력해주세요.')
		       packageName.focus();
		       return;
		    }
		    
		    if (packagePrice.value == '') {
		       alert('패키지 금액을 입력해주세요.')
		       packagePrice.focus();
		       return;
		    }
		    
		    if (packageStartDate.value == '' || packageEndDate.value == '') {
		       alert('패키지 일정을 입력해주세요.')
		       packageStartDate.focus();
		       return;
		    }
		    
		    if (packageDeadlineDate.value == '') {
		       alert('모집 마감일을 입력해주세요.')
		       packageDeadlineDate.focus();
		       return;
		    }
		  
		    
		    if (packageMaxReservation.value == '' || packageMaxReservation.value == '') {
		       alert('모집 인원을 입력해주세요.')
		       packageMaxReservation.focus();
		       return;
		    }
		    
		    if (packageContent == '') {
		      	alert('내용을 입력해주세요.')
		      	$(".ck .ck-content").focus();
		      	return;
		 	 } 
		   
		    if (packageLocation =='') {
		       alert('여행 지역을 선택 해주세요.')
		       packageLocation.focus();
		       return;
		    } 
		   
		 //   if (packageTourTheme.value == '') {
		 //      alert('여행 테마을 지정해주세요.')
		 //      packageTourTheme.focus();
		 //      return;
		 //   } 
			
		     
			var star = confirm("등록 하시겠습니까?")
			console.log(star)
		    //등록하기 클릭 시 등록할지 여부를 확인
		    if(star==true){
		    	var formattedPrice = parseFloat($("#price").val().replace(/\,/g, '')); // 콤마 제거 및 숫자로 변환
				document.getElementById("price").value=formattedPrice;
		    
		    	formObj.append(str);
		        document.getElementById('editorForm').action = "/guide/register";
		        document.getElementById('editorForm').submit();
		        alert("등록 되었습니다.");
		        }else{
		        }
					
			
			/* document.getElementById('editorForm').action = "/guide/register";
			document.getElementById('editorForm').submit(); */
			
			
			
			
		})
		//////////////////////////////////////////////////////////////////////
	})
	.catch(error => {
		console.error(error);
	});
	
	function serializeObject(){
		let formData = $('form').serializeArray();
		let formObject={};
		$.each(formData, function(idx,obj){
			//let field = obj.name;
			//let val= obj.value;
			formObject[obj.name] = obj.value;
			//formObject[field] = val;
		});
		
		return formObject;
	}
	var cloneObj = $(".uploadDiv").clone();
	
	$(function(){
		$("#uploadBtn").on('click',function(e){
			e.preventDefault();
			let imageData = new FormData();
			
			let inputTag = document.querySelector('input[name="mainImage"]');
			
			let files = inputTag.files;
			
			for(let i=0; i<files.length; i++){
				console.log(files[i]);
				imageData.append("mainImage",files[i]);
			}
		
			$.ajax({
				url:'/common/mainImageUpload',
				processData: false,
				contentType: false,
				data: imageData,
				type:'POST',
				dataType:'json',
				success: function(result){
					alert("성공");
					
					console.log(result);
					
					showUploadedFile(result);
					
					$(".uploadDiv").html(cloneObj.html());
				}
			});
			//readURL(this);	
		});
	});

	/* document.getElementById("packageInfo").addEventListener("submit",function(event){
		
	}) */
	
	$(".uploadResult").on("click","span",function(e){
		var targetFile = $(this).data("file");
		var clickedSpan = $(this);
		$.ajax({
			url:'/common/deleteFile',
			data: {savedImg: targetFile},
			dataType: 'text',
			type: 'POST',
			success: function(result){
				alert(result);
				//$(this).closest("li").load();
				var currentNode = clickedSpan.closest("li");
				var prevNode = currentNode.prev();
				var nextNode = currentNode.next();
				
				currentNode.add(prevNode).add(nextNode).remove();
				
				//clickedSpan.closest("li").prev().remove();
				//clickedSpan.closest("li").next().remove();
				//$(this).closest(li).load(window.location.href + "#div의 id");
			}
		})
	});
	
	var uploadResult = $(".uploadResult ul");
	
	function showUploadedFile(uploadResultArr){
		var str = "";
		$(uploadResultArr).each(function(i,obj){
			//str += "<li>" + obj.originImg + "</li>";
			
			var fileCallPath = encodeURIComponent(obj.savedImg);
			
			//str += "<li><img src='display?savedImg="+fileCallPath+"'>"+"<span data-file=\'"+fileCallPath+"\'> X </span>"+"<li>";
			
			str += "<li data-path='"+obj.savedImg+"'";
			str +=" data-filename='"+obj.originImg+"' data-type='"+obj.imgType+"'";
			str +=" data-loadingpath='"+obj.loadingImg+"'"+"><div style='text-align: left;'>";
			//str +="<span> " + obj.originImg +"</span>";
			str +="<img src='/display?savedImg="+fileCallPath+"'class='img-thumbnail' >"+"<span data-file=\'"+fileCallPath+"\'> X </span>"+"</div>"+"</li>";
		});
		uploadResult.append(str);
	}
	
	document.getElementById("price").addEventListener("keyup", function (e) {
        $(this).val($(this).val().replace(/\,/g, '').replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,'));
   });
	
	
	
});
</script>
</head>
<body>
<div layout:fragment="content">
<div id="ls" class="text-center" >
	<form method="post" id="editorForm" enctype="multipart/form-data" >
		<div id="packageInfo" class="mb-3" style="margin-bottom: 20px;">
		<input type="hidden" name="writerId" th:value="${session.sessionId}">
			<div id="tourTheme" class="mb-3" style=" text-align: left;">
				<select name="tourTheme" aria-label="Default select example">
					<option value="맛집 투어">맛집 투어</option>
					<option value="관광 명소 투어">관광 명소 투어</option>
					<option value="쇼핑 여행">쇼핑 여행</option>
					<option value="도시 여행">도시 여행</option>
				</select>	
			</div>	
			<div class="mb-3" style="display: inline-block; text-align: left; padding-right:80%;">
				<select id="location">
					<option value="">지역</option>
					<option th:each = "a : ${area}"  th:value1="${a.sigunguCode}" th:value2="${a.areaCode}" th:text="${a.locationName}"></option>	
				</select>
			</div>
			<div class="uploadResult">
				<ul>
				
				</ul>
			</div>
			<table class="table">
				<tr>
					<th style="text-align: left; width: 20%;">메인 이미지</th>
					<td colspan="5">
					<div class="uploadDiv input-group">
						<input type="file" class="form-control" name="mainImage" id="mainImage" aria-describedby="inputGroupFileAddon03" aria-label="Upload" style="width:400px;" multiple/>
						<button type="button" class="btn btn-outline-secondary" id ="uploadBtn">upload</button>
					</div>
					<td>
				</tr>
				<tr>
					<th style="text-align: left; width: 20%;">패키지명</th>
		            <td colspan="2">
						<input type="text" style="width: 370px;" class="form-control" placeholder="패키지 명" name="name" id="name">
					</td>	
					<th style="text-align: left; width: 20%;">패키지 가격</th>
					<td colspan="2">
						<input type="text" style="width: 370px margin-left: 4px;;" class="form-control" placeholder="판매가" name="price" id="price" onKeyup="this.value=this.value.replace(/[^-0-9]/g,'');">
					</td>
				</tr>
				
				<tr>
					<th style="text-align: left; width: 20%;">여행 시작일</th>
					<td colspan="2" >
	                    <input type="date" style="width: 370px;" id="startDate" name="startDate" size="30" class="form-control" >
	                </td>
	                <th style="text-align: left; width: 20%;">여행 마지막일</th>
	          		<td colspan="2">
	                     <input type="date" style="width: 450px; margin-left: 4px;" id="endDate" name="endDate" size="30" class="form-control">
	                 </td>
				</tr>
				
				<tr>
					<th style="text-align: left; width: 20%;">모집 마감일</th>
	                <td colspan="5">
	                	<input type="date"  name="deadlineDate" id="deadlineDate" class="form-control" />
	                </td>
				</tr>
				<tr>
				 	<th style="text-align: left; width: 20%;">모집 인원</th>
	             	<td colspan="5">
	             		<input type="number"  class="form-control" name ="maxReservation" id="maxReservation"/>
	            	</td>
				</tr>
			</table>
		</div>
		<h5>패키지 설명</h5>
		<div id="editor">
		
		</div>
		<button type="button" class="btn btn-primary mt-3 mx-2" value="작성완료" >작성완료</button>
		<input type="button" class="btn btn-secondary mt-3 mx-2" value="작성취소" id="cancelBtn"/>
	</form>
</div>
</div>
</body>
</html>