<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.attachedFile.mapper.AttachedFileMapper">
	<insert id="insertAttachedFile" parameterType="AttachedFileVO">
		insert into attached_file
						(
						post_id, 
						origin_img, 
						saved_img, 
						img_type
						)
					values
						(
						#{postId}
						,#{originImg}
						,#{savedImg}
						,#{imgType}
						)
	</insert>
	<select id="findByPostId" resultType="AttachedFileVO">
		SELECT * FROM attached_file WHERE post_id = #{postId}
	</select>
</mapper>