<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.trip.finalProject.authConfirm.mapper.AuthConfirmMapper">
  		<!-- 권한승인신청 처리현황 전체 조회 -->
  		
  		<!-- 권한승인내역 테이블에 승인 내역 추가 -->
  		<insert id="insertApproveData" parameterType="AuthConfirmVO">
  			<selectKey keyProperty="confirmId" resultType="int" order="BEFORE">
			SELECT NVL(MAX(confirm_id),0) + 1
			FROM auth_confirm
			</selectKey>
			INSERT INTO auth_confirm
						(
						 confirm_id
	  			       , confirm_date
	  			       , status
	  			       , requester_id
	  			       , reject_reason
					     ) 
					     VALUES
					     (
					      #{confirmId}
					      , sysdate
					      , 'A2'
					      , #{requesterId}
					      , null
					     )
		</insert>
  		
  		<!-- 권한승인내역 테이블에 거절 내역 추가 -->
  </mapper>