<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.trip.finalProject.calculation.mapper.CalculationMapper">
  		<!-- 미정산 내역 카운트 -->
  		<select id="countNotCalList">
  			SELECT COUNT(*)
  			  FROM calculation
  			 WHERE cal_status = 'V1'
  		</select>
  		
  		<!-- 이번달 정산해줘야할 미정산 내역 전체 조회 - 정산요청 들어오는 시점 : 해당 패키지여행의 여행 시작일 -->
  		<select id="selectNotCalList" resultType="CalculationVO">
			SELECT *
			  FROM (SELECT ROWNUM rn, a.cal_id
							        , a.cal_amount
							        , a.cal_status
							        , a.post_id
							        , a.cal_date
							        , a.writer_id
							        , a.bank_code
							        , a.start_date
							        , a.account_number
				        FROM(SELECT c.cal_id
							      , c.cal_amount
							      , code_val(c.cal_status) cal_status
							      , c.post_id
							      , c.cal_date
							      , p.writer_id
							      , p.start_date
							      , code_val(m.bank_code) bank_code
							      , account_number
							   FROM calculation c JOIN package_regist p ON c.post_id = p.post_id
							                      JOIN member m ON p.writer_id = m.member_id
							   WHERE c.cal_status = 'V1' 
							     AND SUBSTR(p.start_date, 4, 2) = SUBSTR(sysdate, 4, 2)
							ORDER BY c.cal_id DESC) a )
			  WHERE rn BETWEEN #{start} AND #{end}  		
  		</select>
  		
  		<!-- 정산 처리 -->
  		<update id="calProc" parameterType="String">
  			UPDATE calculation
  			<set>
  				cal_status = 'V2',
  				cal_date = sysdate,
  			</set>
  			 WHERE cal_id = #{calId}
  		</update>
  		
  		<!-- 특정월 정산 내역 카운트 -->
  		<select id="countCompCalList">
  			SELECT COUNT(*)
  			  FROM calculation
  			 WHERE cal_status = 'V2'
  			   AND SUBSTR(cal_date, 4, 2) = #{searchMonth}
   		</select>
  		
  		<!-- 특정월 정산 내역 조회 -->
  		<select id="selectCompCalList" resultType="CalculationVO">
			SELECT *
			  FROM (SELECT ROWNUM rn, a.cal_id
							        , a.cal_amount
							        , a.cal_status
							        , a.post_id
							        , a.cal_date
							        , a.writer_id
							        , a.bank_code
							        , a.start_date
							        , a.account_number
				        FROM(SELECT c.cal_id
							      , c.cal_amount
							      , code_val(c.cal_status) cal_status
							      , c.post_id
							      , c.cal_date
							      , p.writer_id
							      , p.start_date
							      , code_val(m.bank_code) bank_code
							      , account_number
							   FROM calculation c JOIN package_regist p ON c.post_id = p.post_id
							                      JOIN member m ON p.writer_id = m.member_id
							   WHERE c.cal_status = 'V2' 
							     AND SUBSTR(c.cal_date, 4, 2) = #{searchMonth}
							ORDER BY c.cal_id DESC) a )
			  WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}  		
  		</select>
  		
  </mapper>