<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.trip.finalProject.cart.mapper.CartMapper">
 	 <!-- 페이징 -->
 	<select id="getPostIdCount" resultType="int">
	    SELECT COUNT(*)
	    FROM cart
	    WHERE post_id LIKE '${postId}%'
	</select>
 	
 	 <!-- 버튼조회 -->
 	<select id="ajaxCart" resultType="CartVO">
 		SELECT *
		FROM(SELECT ROWNUM rn, a.*
			 FROM(SELECT *
				  FROM cart
				  WHERE post_id LIKE '${cartVO.postId}%'
				  ORDER BY reg_date DESC) a)
		WHERE rn BETWEEN #{pagingVO.start } AND #{pagingVO.end }
 	</select>
 	
 	
 	<!-- 등록 -->
 	<insert id="insertCartInfo" parameterType="CartVO">
 	INSERT INTO cart
 				(
 				cart_id
 				,post_id
 				,option_id
 				,quantity
 				,price
 				,member_id
 				,reg_date
 				)
 				VALUES
 				(
 				#{cartId}
 				,#{postId}
 				,#{optionId}
 				,#{quantity}
 				,#{price}
 				,#{member_id}
 				,sysdate
 				)
 	</insert>
 	<!-- 삭제 -->
 	<delete id="deleteCartInfo" parameterType="CartVO">
 		DELETE FROM cart
 		WHERE post_id = #{postId}
 	</delete>
 	<!-- 수량 업데이트 -->
 	<update id="quanUpdate" parameterType="CartVO">
 		UPDATE cart 
 		<set>
 			quantity = #{quantity}
 		</set>
 		WHERE post_id = #{postId}
 	</update>
 
 
 </mapper>