<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.kakaoPay.mapper.KakaoPayMapper">

	<insert id="insertPaymentInfo" parameterType="KakaoPayInfoVO">
		<selectKey keyProperty="paymentId" resultType="String" order="BEFORE">
			SELECT 'PAY' || (TO_NUMBER(NVL((SUBSTR(MAX(payment_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM payment
			WHERE SUBSTR(payment_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		INSERT INTO payment
					(
						payment_id
						,partner_user_id
						,order_name
						,total_amount
						,tid
						,cid
						,status
						,calculate_status
						,partner_order_id
						,approved_at
					)
					VALUES
					(
						#{paymentId}
						,#{partnerUserId}
						,#{orderName}
						,#{totalAmount}
						,#{tid}
						,#{cid}
						,#{status}
						,#{calculateStatus}
						,#{partnerOrderId}
						,TO_DATE(#{approvedAt},'YYYY-MM-DD HH24:MI:SS')
					)
					
	</insert>
	<insert id="insertPurchaseInfo" parameterType="KakaoPayInfoResponseVO">
		<selectKey keyProperty="orderDetailId" resultType="String" order="BEFORE">
			SELECT 'PUR' || (TO_NUMBER(NVL((SUBSTR(MAX(order_detail_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM purchase
			WHERE SUBSTR(order_detail_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		INSERT INTO purchase
					(
						order_detail_id
						,post_id
						,member_id
						,quantity
						,price
						,order_date
						<choose>
				    		<when test='postId.substring(0,3).equals("PKG") and orderStatus.equals("SUCCESS_PAYMENT")' >
				    			,order_status
				    		</when>
				    		<when test='postId.substring(0,3).equals("SPE") and orderStatus.equals("SUCCESS_PAYMENT")'>
				    			,order_status
				    		</when> 
				    		<otherwise>
				    			,order_status
				    		</otherwise>
				    	</choose>
						,payment_id
						,cid
						,tid
						,specialty_type
						,cancel_amount
						,cancel_tax_free_amount
						,item_code
						,item_name

					)
				    VALUES
				    (
				    	#{orderDetailId}
				    	,#{postId}
				    	,#{memberId}
				    	,#{quantity}
				    	,#{price}
				    	,TO_DATE(#{orderDate},'YYYY-MM-DD HH24:MI:SS')
				    	<choose>
				    		<when test='postId.substring(0,3).equals("PKG") and orderStatus.equals("SUCCESS_PAYMENT")'>
				    			,'B1'
				    		</when> 
				    		<when test='postId.substring(0,3).equals("SPE") and orderStatus.equals("SUCCESS_PAYMENT")'>
				    			,'B7'
				    		</when>
				    		<otherwise>
				    			,'B8'
				    		</otherwise>
				    	</choose>
				    	,#{paymentId}
				    	,#{cid}
				    	,#{tid}
				    	,#{specialtyType}
				    	,#{cancelAmount}
				    	,#{cancelTaxFreeAmount}
				    	,#{item_code}
				    	,#{item_name}
				    )
	</insert>
	<update id="updatePurchaseStatus" parameterType="KakaoPayInfoResponseVO">
		UPDATE purchase 	
		<set>
		 	cancel_amount=0,
 			cancel_tax_free_amount=0,
			ORDER_STATUS = 'X2'
		</set>		
		WHERE order_detail_id = #{orderDetailId}
	</update>
	
		<!-- 카트 soft delete -->
 	<update id="deleteCart" parameterType="CartVO">
 	update cart
 	<set>
 		delete_type='Y'
 	</set>
 	WHERE cart_id = #{cartId}
 	</update>
 	
 	<update id="updatePackageReservation" parameterType="KakaoPayInfoResponseVO">
 		UPDATE package_regist
 		<set>
 		now_reservation = now_reservation+#{quantity},
 		completion = 
        <choose>
            <when test="maxReservation == nowReservation+quantity">
                'D1',
            </when>
            <otherwise>
                'D2',
            </otherwise>
        </choose>
 			
 		</set>
 		WHERE post_id = #{postId}
 	</update>
</mapper>  