<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.trip.finalProject.login.mapper.NaverLoginMapper">
  <!--JSONObject 타입의 id="findNaver"  -->
  <select id="findNaver" parameterType="java.util.HashMap" resultType="MemberVO">
		select * 
		from member 
		where  member_id=#{id}
</select>

<insert id="insertNaverLogin" >
	<!-- 	insert into 
		member(member_id, member_name , BIRTH_DATE,GENDER, sign_up_date )
			values
			(#{id}, '1', '940426','G1', sysdate) -->
				insert into member
					(member_id,
					<!-- password, -->
					member_Name,
					Email,
					saved_profile_img,
					AUTHORITY,
					access_token,
					refresh_token,			
					login_type,
					birth_date,
					gender,
					sign_up_date)
		values
					(#{responseMap.id},
				<!-- 	#{password}, -->
					#{responseMap.nickname},
					#{responseMap.email},					
					#{responseMap.profileImage},
					'A1',
					#{oauthToken.accessToken},
					#{oauthToken.refreshToken},
					'L3',
					null,
					CASE
				        WHEN #{responseMap.gender} = 'M' THEN 'G1'
				        WHEN #{responseMap.gender} = 'F' THEN 'G2'
				        ELSE NULL
				    END,
					sysdate)
	</insert>
  
  </mapper>
  