<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.web.naverlogin.mapper.NaverLoginMapper">
  <!--JSONObject 타입의 id="findNaver"  -->
  <select id="findNaver" parameterType="java.util.HashMap" resultType="MemberVO">
		select * 
		from member_table 
		where  id=#{id}
</select>

<insert id="insertNaverLogin" parameterType="java.util.HashMap">
		insert into 
		member_table(id )
			values
			(#{id})
	</insert>
  
  </mapper>
  