<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.packaged.mapper.PackageMapper"> 
	
	<!-- 패키지 등록 -->
	 <insert id="insertEditor" parameterType="PackageVO">
		<selectKey keyProperty="postId" resultType="String" order="BEFORE">
			SELECT 'PKG' || (TO_NUMBER(NVL((SUBSTR(MAX(post_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM package_regist
			WHERE SUBSTR(post_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		insert into package_regist
					(
						post_id
						,content
						,name
						,price
						,start_date
						,end_date
						,deadline_date
						,max_reservation
						,tour_theme
						,reg_date
						,area_code
						,sigungu_code
						,writer_id
						,completion
						,delete_type
					)
				values
					(
						#{postId}
						,#{content}
						,#{name}
						,#{price}
						,#{startDate}
						,#{endDate}
						,#{deadlineDate}
						,#{maxReservation}
						,#{tourTheme}
						,sysdate
						,#{areaCode}
						,#{sigunguCode}
						,#{writerId}
						,'D2'
						,'N'
					)
	</insert>
	 
	<update id="updatePackage" parameterType="PackageVO">
		UPDATE package_regist
		<set>
			content = #{content}
			,name = #{name}
			,price = #{price}
			,start_date = #{startDate}
			,end_date = #{endDate}
			,deadline_date = #{deadlineDate}
			,max_reservation = #{maxReservation}
			,tour_theme = #{tourTheme}
			,area_code = #{areaCode}
			,sigungu_code = #{sigunguCode}
		</set>
		WHERE post_id = #{postId}
	</update>
	

	<select id="listPackage">
		SELECT *
		FROM(SELECT ROWNUM rn,b.*
			 FROM(select p.name, 
						p.tour_theme, 
						p.price, 
						p.now_reservation,
						p.deadline_date,
						p.start_date,
						p.end_date,
						a.saved_img, 
						p.post_id, 
						a.loading_img,
						code_val(p.completion) completion,
						p.max_reservation,
						l.location_name
				from package_regist p JOIN location l ON p.area_code = l.area_code JOIN attached_file a ON p.post_id = a.post_id 
				WHERE a.img_type = 'U2' AND delete_type = 'N'
				ORDER BY reg_date DESC)b) 
		WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}
	</select>
	
	<select id="packageInfo" resultType="PackageVO">
		SELECT content, name, price, start_date, end_date, deadline_date, max_reservation, tour_theme,post_id,now_reservation,code_val(completion) completion
		FROM package_regist
		WHERE post_id=#{postId}
	</select>
	
	<select id="listArea" parameterType="LocationVO">
		SELECT area_code
				,sigungu_code
				,location_name
		FROM location
		
	</select>
	
	<!-- 패키지 수 카운트 -->
	<select id="getPackageCount">
		SELECT COUNT(*)
		from package_regist p JOIN location l ON p.area_code = l.area_code JOIN attached_file a ON p.post_id = a.post_id 
				WHERE a.img_type = 'U2' AND delete_type = 'N' 
	</select>
	
	<!-- 패키지 명 검색 결과 카운트 -->
	<select id="packageCountTitle" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM package_regist p JOIN attached_file a ON p.post_id = a.post_id
		WHERE name LIKE '%${keyword}%' AND a.img_type = 'U2' AND delete_type = 'N'
	</select>
	
	<!-- 패키지 명 검색 -->
	<select id="searchPackageByTitle" resultType="PackageVO">
		SELECT *
		FROM(SELECT ROWNUM rn,b.*
			 FROM(select p.name, 
						p.tour_theme, 
						p.price, 
						p.now_reservation,
						p.deadline_date,
						p.start_date,
						p.end_date,
						a.saved_img, 
						p.post_id, 
						a.loading_img,
						code_val(p.completion) completion,
						p.max_reservation,
						l.location_name
				from package_regist p JOIN location l ON p.area_code = l.area_code JOIN attached_file a ON p.post_id = a.post_id 
				WHERE p.name LIKE '%${packageVO.name}%' AND a.img_type = 'U2' AND delete_type = 'N'
				ORDER BY reg_date DESC)b) 
		WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}
			 
	
	</select>
	
	<!-- 지역 검색 결과 카운트 -->
	<select id="packageCountLocation" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM package_regist p JOIN location l ON p.area_code = l.area_code JOIN attached_file a ON p.post_id = a.post_id 
		WHERE l.location_name LIKE '%${keyword}%' AND a.img_type = 'U2' AND delete_type = 'N'
	</select>
	
	<!-- 지역 검색 -->
	<select id="searchPackageByLocation" resultType="PackageVO">
		SELECT *
		FROM(SELECT ROWNUM rn,b.*
			 FROM(select p.name, 
						p.tour_theme, 
						p.price, 
						p.now_reservation,
						p.deadline_date,
						p.start_date,
						p.end_date,
						a.saved_img, 
						p.post_id, 
						a.loading_img,
						code_val(p.completion) completion,
						p.max_reservation,
						l.location_name
				from package_regist p JOIN location l ON p.area_code = l.area_code JOIN attached_file a ON p.post_id = a.post_id 
				WHERE l.location_name LIKE '%${packageVO.locationName}%' AND a.img_type = 'U2' AND delete_type = 'N'
				ORDER BY reg_date DESC)b) 
		WHERE rn BETWEEN #{pagingVO.start} AND #{pagingVO.end}
			 
	
	</select>
	
	
	 <select id="selectReview" resultType="PackageReviewVO">
   SELECT *       FROM(SELECT ROWNUM rn, a.*             FROM(
      SELECT *
        FROM review
       WHERE origin_post_id = #{postId}
       ORDER BY review_id DESC
   ) a			 )        WHERE rn BETWEEN (#{page }*5-4) AND (#{page }*5)
    </select>

    <select id="selectReviewTotalCount" resultType="String">
        SELECT count(*)
        FROM review
        WHERE origin_post_id = #{postId}
    </select>

    <insert id="insertReviewInfo" parameterType="PackageReviewVO">
        <selectKey keyProperty="reviewId" resultType="String" order="BEFORE">
            SELECT 'RIV' || (TO_NUMBER(NVL((SUBSTR(MAX(review_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM review
			WHERE SUBSTR(review_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
        </selectKey>
        INSERT INTO review (review_id, 
                            writer_id, 
                            review_type, 
                            origin_post_id, 
                            grade, 
                            content, 
                            write_date)
              VALUES (#{reviewId},
                      #{writerId}, 
                      'E1', 
                      #{originPostId}, 
                      #{grade}, 
                      #{content}, 
                      sysdate)
    </insert>

    <delete id="deleteReview" parameterType="PackageReviewVO">
        DELETE FROM review
        WHERE review_id=#{reviewId}
    </delete>
    
    <update id="packageUpdateDeadline">
    	UPDATE package_regist
    	<set>
    		COMPLETION='D1'
    	</set>
    		WHERE deadlineDate = TO_CHAR(sysdate, 'YY/MM/DD')
    </update>
	
	<insert id="packageCalculate" parameterType ="PackageVO">
		<selectKey keyProperty="calId" resultType="String" order="BEFORE">
            SELECT 'CAL' || (TO_NUMBER(NVL((SUBSTR(MAX(cal_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM CALCULATION
			WHERE SUBSTR(cal_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
        </selectKey>
		INSERT INTO CALCULATION(CAL_ID,CAL_AMOUNT,POST_ID,CAL_DATE,cal_status)
		SELECT #{calId},SUM(p.price),r.post_id,sysdate,'V1'
		FROM purchase p JOIN package_regist r ON p.post_id = r.post_id 
		WHERE r.start_date=TO_CHAR(sysdate, 'YY/MM/DD') and p.post_id = r.post_id
		group by r.post_id
	</insert>
	
	
	
	
	
	
	<!-- 가이드용 ========================================================================== -->
	<select id="guiListCount" resultType="int">
		SELECT COUNT(*)
		FROM package_regist
		WHERE writer_id = #{pacVO.writerId} AND delete_type = 'N' AND completion='D2'
	</select>
	
	<select id="guiListPackage" resultType="PackageVO">
	SELECT *
		FROM(SELECT ROWNUM rn, a.*
			 FROM(SELECT post_id,
					   	 name,
					     content,
					     tour_theme,
					     deadline_date,
					     start_date,
					     end_date,
					     max_reservation,
					     code_val(completion) completion,
					     writer_id,
					     now_reservation,
					     reg_date
			FROM package_regist
			WHERE writer_id = #{pacVO.writerId} AND delete_type = 'N' AND completion='D2'
				  ORDER BY reg_date DESC) a)
		WHERE rn BETWEEN #{pagingVO.start } AND #{pagingVO.end }
	</select>
	<select id="guiListComCount" resultType="int">
		SELECT COUNT(*)
		FROM package_regist
		WHERE writer_id = #{writerId} AND completion='D1' AND delete_type = 'N'
	</select>
	
	<select id="guiListComPackage" resultType="PackageVO">
	SELECT *
		FROM(SELECT ROWNUM rn, a.*
			 FROM(SELECT post_id,
					   	 name,
					     content,
					     tour_theme,
					     deadline_date,
					     start_date,
					     end_date,
					     max_reservation,
					     code_val(completion) completion,
					     writer_id,
					     now_reservation,
					     reg_date
			FROM package_regist
			WHERE writer_id = #{pacVO.writerId} AND delete_type = 'N' AND completion='D1'
				  ORDER BY reg_date DESC) a)
		WHERE rn BETWEEN #{pagingVO.start } AND #{pagingVO.end }
	</select>
	
	<select id="guidePacInfo" resultType="PackageVO">
		SELECT p.content, 
			  p.name, 
			  p.price, 
			  p.start_date, 
			  p.end_date, 
			  p.deadline_date,
			  p.now_reservation, 
			  p.max_reservation, 
			  p.tour_theme,
			  code_val(p.completion) completion,
			  p.post_id,
			  a.loading_img
		FROM package_regist p JOIN attached_file a ON p.post_id = a.post_id
		WHERE p.post_id=#{postId} AND a.img_type = 'U2'
	</select>
	<!-- 패키지 상세보기 내의 회원 정보 불러오기 -->
	<select id="pacMember" resultType="PackageVO">
		SELECT p.post_id,
			   p.member_id,
			   p.price,
			   code_val(p.order_status) order_status,
			   p.quantity,
			   p.order_date,
			   m.member_name,
			   m.nationality,
			   code_val(m.gender) gender,
			   m.birth_date
		FROM purchase p LEFT JOIN member m on p.member_id = m.member_id 
		WHERE p.post_id = #{postId} 
	</select>
	
	<update id="deletePackage" parameterType="PackageVO">
	update package_regist
	<set>
		delete_type = 'Y'
	</set>
	WHERE post_id = #{postId}
	</update>
</mapper>