<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.postComment.mapper.PostCommentMapper">
	<!-- 댓글 작성 -->
	<insert id="insertPostComment" parameterType="PostCommentVO">
    	<selectKey keyProperty="commentId" resultType="String" order="BEFORE">
			SELECT 'CMT' || (TO_NUMBER(NVL((SUBSTR(MAX(comment_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM post_comment
			WHERE SUBSTR(comment_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
    		INSERT INTO post_comment
    					(
    						comment_id
    						, cmtContent
    						, regist_date
    						, post_id
    						, writer_id
    						, cmt_style
    						<choose>
    							<when test="cmtParentId == null">
    							, null
    							</when>
    							<otherwise>
    							, cmt_parent_id
    							</otherwise>
    						</choose>
    						, del_yn
    					)
    				VALUES
    					(
    						#{commentId}
    						, #{cmtContent}
    						, #{registDate}
    						, #{postId}
    						, #{writerId}
    						, #{cmtStyle}
    						<choose>
    							<when test="cmtParentId == null">
    							, null
    							</when>
    							<otherwise>
    							, #{cmtParentId}
    							</otherwise>
    						</choose>
    						, 'N'
    					)
	</insert>
</mapper>
<!-- 	private String commentId; 					//댓글id - 댓글 고유번호
	private String cmtContent;					//댓글 내용
	@DateTimeFormat(pattern = "yyyy-MM-dd")    
	private Date registDate;					//댓글 작성일
	private String postId;						//게시글id
	private String writerId;					//작성자id
	private String cmtStyle;					//댓글 대댓글 구분
	private String cmtParentId;					//부모댓글 아이디
	private String delYn;						// 삭제 여부 -->

