<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.postComment.mapper.PostCommentMapper">
	<!-- 댓글 작성 -->
	<insert id="insertPostComment" parameterType="PostCommentVO">
    	<selectKey keyProperty="commentId" resultType="String" order="BEFORE">
			SELECT 'CMT' || (TO_NUMBER(NVL((SUBSTR(MAX(comment_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM post_comment
			WHERE SUBSTR(comment_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
    		INSERT INTO post_comment
    					(
    						comment_id
    						, post_id
    						, cmt_num
    						, writer_id
    						, cmt_content
    						, regist_date
    						, step
    					)
    				VALUES
    					(
    						#{commentId}
    						, #{postId}
    						, #{cmtNum}
    						, #{writerId}
    						, #{cmtContent}
    						, sysdate
    						, #{step}
    					)
	</insert>
</mapper>