<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.trip.finalProject.question.mapper.QuestionMapper">
  	 <!-- 페이징 -->
 	<select id="getTotalCount" resultType="int">
 		SELECT COUNT(*)
 		FROM question
 	</select>
 	<!-- 전체조회 -->
 	<select id="selectAllQue" resultType="QuestionVO">
	SELECT *
	FROM (
	    SELECT ROWNUM rn, a.*
	    FROM (
	        SELECT
	            q.question_id AS question_id,
	            q.question_type AS question_type,
	            q.question_content AS question_content,
	            q.question_date AS question_date,
	            q.product_id AS product_id,
	            q.member_id AS member_id,
	            q.answer_result AS answer_result,
	            an.answer_id AS answer_id,
	            an.answer_contexts AS answer_contexts,
	            an.answer_date AS answer_date,
	            an.member_id AS ans_member_id
	        FROM
	            question q
	        LEFT JOIN
	            question_answer an ON q.question_id = an.question_id
	        ORDER BY
	            q.question_date DESC
	    ) a
	) WHERE rn BETWEEN #{start} AND #{end}
 	</select>
 	<!-- 입력 -->
 	<insert id="insertQue" parameterType="QuestionVO">
 		<selectKey keyProperty="answerId" resultType="String" order="BEFORE">
			SELECT 'ANS' || (TO_NUMBER(NVL((SUBSTR(MAX(answer_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM question_answer
			WHERE SUBSTR(answer_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		INSERT INTO question_answer
					(
					answer_id,
					answer_contexts,
					answer_date,
					member_id,
					question_id
					)
				VALUES
					(
					#{answerId},
					#{answerContexts},
					sysdate,
					'kimnana',
					#{questionId}
					)
 	</insert>
 	<!-- 수정 -->
 	<update id="updateQue" parameterType="QuestionVO">
	 	update question_answer 
		set answer_contexts = #{answerContexts}
		where answer_id = #{answerId}
 	</update>
  
  </mapper>