<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.trip.finalProject.tourInfo.mapper.TourInfoMapper">
    <select id="selectSpotDetailReview" resultType="SpotDetailReviewVO">
        SELECT *
        FROM(SELECT ROWNUM rn, a.*
        FROM(SELECT *
        FROM review
        WHERE origin_post_id = #{contentId}
        ORDER BY review_id DESC) a)
        WHERE rn BETWEEN (#{page }*5-4) AND (#{page }*5)
    </select>

    <select id="selectSpotDetailReviewTotalCount" resultType="int">
        SELECT count(*)
        FROM review
        WHERE origin_post_id = #{contentId}
    </select>

    <insert id="insertReviewInfo" parameterType="SpotDetailReviewVO">
        <selectKey keyProperty="reviewId" resultType="String" order="BEFORE">
            SELECT 'RIV' || (TO_NUMBER(NVL((SUBSTR(MAX(review_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM review
			WHERE SUBSTR(review_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
        </selectKey>
        INSERT INTO review
        (review_id, writer_id, review_type, origin_post_id, grade, content, write_date)
        VALUES (#{reviewId}, #{writerId}, 'E1', #{originPostId}, #{grade}, #{content}, sysdate)
    </insert>

    <delete id="deleteReview" parameterType="SpotDetailReviewVO">
        DELETE FROM review
        WHERE review_id=#{reviewId}
    </delete>

  </mapper>