<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.finalProject.trip.mapper.TripMapper">
	 <!-- 여행기록 전체조회 페이징 -->
 	<select id="getTotalCount" resultType="int">
 		SELECT COUNT(*)
 		FROM trip_record
 		WHERE trip_save = 'T2' 
			AND trip_disclose = '01'
 	</select>
	
	<!-- 여행기록 전체 조회 -->
	<select id="selectAllTrip" resultType="TripVO">		
		SELECT *
		FROM(SELECT ROWNUM rn, a.*
			 FROM(SELECT *
				  FROM trip_record t LEFT OUTER JOIN 
				  	   attached_file a ON t.post_id = a.post_id
				  WHERE trip_save = 'T2' 
				  	AND trip_disclose = '01'
				  ORDER BY t.post_id DESC) a)
		WHERE rn BETWEEN #{start } AND #{end }
	</select>
	<!-- 마이페이지 여행 기록 불러오기 -->
	<select id="selectPerTrip" resultType="TripVO">		
		SELECT *
		FROM(SELECT ROWNUM rn, a.*
			 FROM(SELECT *
				  FROM trip_record
				  WHERE writer_id = 'test01'
				  ORDER BY regist_day DESC) a)
		WHERE rn BETWEEN #{start } AND #{end }
	</select>
	
	<!-- 여행기록 상세조회 -->
	<select id="selectTripInfo" resultType="TripVO">
		SELECT writer_id,
			   trip_title,
			   start_day,
			   end_day
		FROM trip_record
		WHERE post_id = #{postId}
	</select>
	
	
	<!-- 여행기록 등록(임시저장에서 저장상태로 업데이트) -->
	<update id="insertTripInfo" parameterType="TripVO">
		UPDATE trip_record
		<set>
			trip_save = 'T2'
		</set>
		WHERE post_id = #{postId}
	</update>
	<!--
	<insert id="insertTripInfo" parameterType="TripVO">
		<selectKey keyProperty="postId" resultType="String" order="BEFORE">
			SELECT 'trr' || (TO_NUMBER(NVL((SUBSTR(MAX(post_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM trip_record
			WHERE SUBSTR(post_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
			INSERT INTO trip_record
						(
							post_id
							, writer_id
							, trip_title
							, start_day
							, end_day
							, trip_disclose
							, trip_save
							, regist_day
						)
				   VALUES
				        (
							#{postId}
							, #{writerId}
							, #{tripTitle}
							, #{startDay}
							, #{endDay}
							, #{tripDisclose}
							, 'T2'
							, sysdate
				        )
	</insert>
	  -->
	  
	<!-- 여행기록 임시저장(임시저장에서 임시저장 상태로 업데이트) -->
	<update id="tsTripInfo" parameterType="TripVO">
		UPDATE trip_record
		<set>
			trip_save = 'T1'
		</set>
		WHERE post_id = #{postId}
	</update>
		
	<!-- 여행기록 등록(등록시 임시저장 상태로 페이지 이동) -->
	<insert id="tsInsertTripInfo" parameterType="TripVO">
		<selectKey keyProperty="postId" resultType="String" order="BEFORE">
			SELECT 'trr' || (TO_NUMBER(NVL((SUBSTR(MAX(post_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM trip_record
			WHERE SUBSTR(post_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		INSERT INTO trip_record
						(
							post_id
							, writer_id
							<if test="tripTitle != null and !tripTitle.equals('')">
							, trip_title
							</if>
							<if test="startDay != null and !startDay.equals('')">
							, start_day
							</if>
							<if test="endDay != null and !startDay.equals('')">
							, end_day
							</if>
							, trip_disclose
							, trip_save
							, regist_day
						)
				   VALUES
				        (
							#{postId}
							, #{writerId}
							<if test="tripTitle != null and !tripTitle.equals('')">
							, #{tripTitle}
							</if>
							<if test="startDay != null and !startDay.equals('')">
							, #{startDay}
							</if>
							<if test="endDay != null and !startDay.equals('')">
							, #{endDay}
							</if>
							, #{tripDisclose}
							, 'T1'
							, sysdate
				        )
	</insert>
	
	<!-- 여행기록 등록 - 여행 경로 맵핑-->
	<insert id="insertTripMapping" parameterType="TripVO">
		<selectKey keyProperty="mapId" resultType="String" order="BEFORE">
			SELECT 'map' || (TO_NUMBER(NVL((SUBSTR(MAX(map_id), 4)), (TO_CHAR(SYSDATE, 'YYMMDD') || '0000'))) + 1)
			FROM map
			WHERE SUBSTR(map_id, 4, 6) = TO_CHAR(SYSDATE, 'YYMMDD')
		</selectKey>
		INSERT INTO map
					  (
						map_id
						, map_no
						, map_name
						, map_lat
						, map_lng
						, post_id
						, upload_date
						, trip_date
					  )
				VALUES
					  (
					  	#{mapId}
					  	, #{mapNo}
					  	, #{mapName}
					  	, #{mapLat}
					  	, #{mapLng}
					  	, #{postId}
					  	, sysdate
					  	, #{tripDate}
					  )
	</insert>
	

</mapper>