<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>여행메이트 글 전체 조회</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<!-- include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
</head>
<body>
	<div layout:fragment="content">
		<!-- 페이지 제목 부분 -->
		<section class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<h2>여행 메이트 글</h2>
							<div class="col-lg-12">
								<div class="loadmore">								
									<a href="./common/tripMateRecruitForm" class="primary-btn">여행메이트 글 작성</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 여행메이트 글 section-->
		<br>
		<div style="float:right; margin-right: 150px;">
			<select id="searchBy" name="searchBy">
				<option value="tripArea">여행지역으로 검색</option>
				<option value="mateTitle">타이틀로 검색</option>
				<option value="writerId">아이디로 검색</option>
			</select>&nbsp;
			<input type="text" id="keyword" name="keyword" placeholder="검색어를 입력해주세요." style="height: 40px; width: 200px;">
			<button id="searchButton" class="feature-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
		<br>
		<section class="blog-section blog-page spad">
			<div class="container">
				<div class="row">
					<div th:each="tripMateInfo : ${tripMateList}" th:onclick="|location.href='@{/tripMateInfo(postId=${tripMateInfo.postId})}'|"
						class="col-lg-4 col-md-6">
						<div class="single-blog-item">
							<div class="sb-pic">
								<img th:if="${not #strings.isEmpty(tripMateInfo.loadingImg)}" th:src="${tripMateInfo.loadingImg}" alt="이미지" style="height:277px;">
                            	<img th:unless="${not #strings.isEmpty(tripMateInfo.loadingImg)}" th:src="@{/img/no-image.png}" alt="이미지">
							</div>
							<div class="sb-text">
								<div align="center">
									<ul>
										<li>
											<i class="fa fa-user"></i>
											<span th:text="${tripMateInfo.writerId}"></span>
										</li>
										<li>
											<i class="fa fa-clock-o"></i>
											<span th:text="${#dates.format(tripMateInfo.writeDate, 'yy년 MM월 dd일')}"></span>
										</li>
										<li>
											<i class="fa"></i>
											조회수 : <span th:text="${tripMateInfo.hit}"></span>
										</li>
									</ul>
								</div>
									<div align="center">
									<h5>
										<a th:text="${tripMateInfo.mateTitle}"></a>
									</h5>
									</div>
									<div align="center">
									<ul>
										<li>
											<span class="fa" th:text="${#dates.format(tripMateInfo.startDay, 'yy년 MM월 dd일')}"></span>
											~ <span class="fa" th:text="${#dates.format(tripMateInfo.endDay, 'yy년 MM월 dd일')}"></span>
											<br>
											모집 마감일 : <span class="fa" th:text="${#dates.format(tripMateInfo.deadline, 'yy년 MM월 dd일')}"></span>
											<br>
											모집 현황 : <span class="fa" th:text="${tripMateInfo.applyNum}"></span> / <span class="fa" th:text="${tripMateInfo.mateMax}"></span>
											<br>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<th:block th:if="${#lists.isEmpty(tripMateList)}">
						<div align="center">
							<br>
							<h5>조회된 결과가 없습니다.</h5>
							<br>
							<br>
						</div>
					</th:block>
				</div>
			</div>
			
			<!-- 페이징 구문 -->
			<!-- 검색키워드가 없을때 -->
			<th:block th:if="${#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{tripMateList(nowPage=1, cntPerPage=${paging.cntPerPage})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{tripMateList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage and p > 0}">
						<a th:href="@{tripMateList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"	th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{tripMateList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{tripMateList(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">&gt;&gt;</a>
				</th:block>
			</div>
			</th:block>
			<!-- 검색키워드가 있을때 -->
			<th:block th:if="${!#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{searchTripMate(nowPage=1, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{searchTripMate(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage and p > 0}">
						<a th:href="@{searchTripMate(nowPage=${p}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}" th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchTripMate(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchTripMate(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;&gt;</a>
				</th:block>
			</div>
			</th:block>
		</section>
		<!-- 여행메이트 글 section end -->
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function() {
			// 이벤트 설정
			$('#searchButton').on('click', search);
			
			rememberKeyword();
	
		// 조건검색기능
		function search(event){
			let value = $('#searchBy').val();
			let keyword = $('#keyword').val().trim();
			
			if(!keyword.replace(/^\s+|\s+$/g, '')){
				Swal.fire({
					  icon: 'warning',
				      title: '키워드를 입력해주세요.',
				    })
				    return;
			}
			
			location.href='/searchTripMate?searchBy='+value+'&keyword='+keyword;
			rememberKeyword();
		}
		
		// 검색 기록 기억
		function rememberKeyword(){
			// 우리가 실제로 만든 셀렉트 박스의 option을 selected 설정
			$('#searchBy').val([[${searchBy}]]).prop("selected", true);
				      
			// 우리가 실제로 만든 셀렉트 박스의 변경값을 나이스 셀렉트 박스에 업데이트
			$('select').niceSelect('update');
				      
			// 검색어 입력창의 값 유지
			$('#keyword').val([[${keyword}]]);
		}
		
	});
	</script>
	</div>
</body>
</html>