<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">

 <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="/img/footer-bg.jpg">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-logo">
                            <div class="logo">
                                <a href="#"><img src="/img/footer-logo.png" alt=""></a>
                            </div>
                            <p>경상도 지역 종합여행정보 서비스</p>
                            <p>Comprehensive travel information service in Gyeongsang-do</p>
                        </div>
                    </div>
                    <div class="col-lg-2 ">
                        
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                    	<div class="footer-widget">
                    		<div class="service-city">
                            <h4>Service City</h4>
                            <ul >
                                <li><i class="fa fa-caret-right"></i> 대구</li>
                                <li><i class="fa fa-caret-right"></i> 부산</li>
                                <li><i class="fa fa-caret-right"></i> 울산</li>
                                
                            </ul>
                            <ul>
                                <li><i class="fa fa-caret-right"></i> 경주</li>
                                <li><i class="fa fa-caret-right"></i> 안동</li>
                                <li><i class="fa fa-caret-right"></i> 포항</li>
                                <li><i class="fa fa-caret-right"></i> 통영</li>
                                <li><i class="fa fa-caret-right"></i> 거제</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <h4>Contact Us</h4>
                            <ul class="contact-option">
                                <li><i class="fa fa-map-marker"></i> 예담직업전문학교</li>
                                <li><i class="fa-solid fa-circle-info" style="color: #2cbdb8;"></i> 3조 : 주창민, 이경호, 오유리, 이승우, 김재운, 이경환</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-text">
                <p><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></p>
            </div>
        </div>
    </footer>
    
</th:block>
</html>