<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<meta charset="UTF-8">
    <meta name="description" content="Azenta Template">
    <meta name="keywords" content="Azenta, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Azenta | Template</title>

	</head>

<body>
	<th:block th:fragment="headerFragment">
	<div sec:authorize="!hasRole('ROLE_A3')">
		<!-- Page Preloder -->
		<!--     <div id="preloder">
	        <div class="loader"></div>
	    </div> -->
		<!-- Offcanvas Menu Section Begin -->
	    <div class="offcanvas-menu-overlay"></div>
	    <div class="canvas-open">
	        <i class="icon_menu"></i>
	    </div>
	    <div class="offcanvas-menu-wrapper">
	        <div class="canvas-close">
	            <i class="icon_close"></i>
	        </div>
	        <div class="language-bar">
	            <div class="language-option">
	                <img src="/img/flag.png" alt="">
	                <span>English</span>
	                <i class="fa fa-angle-down"></i>
	                <div class="flag-dropdown">
	                    <ul>
	                        <li><a href="#">English</a></li>
	                        <li><a href="#">Germany</a></li>
	                        <li><a href="#">China</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="property-btn">
	       <!--        <a th:href="@{/member/memberInsert}"class="property-sub">회원가입</a>
	             <a th:href="@{/member/login}"class="property-sub">로그인</a>
	             <a th:href="@{/member/logout}"class="property-sub">로그아웃</a> -->
	             
	             <!--  로그인 안되어 있다면 '로그인 버튼' 표시 -->
	               	<div th:if="${ session.kakaoN == null and session.sessionId == null}">
	                      <a th:href="@{/member/login}"  method='post' class="property-sub">로그인</a>
	                </div>   
	                 
	                  <!--  로그인 되어 있다면 '로그아웃 버튼' 표시 -->
				  	<div th:if="${ session.kakaoN != null or session.sessionId != null}">
					    <a th:href="@{/member/logout}" class="property-sub">로그아웃</a>
					</div>  
		
	            </div>
	            <div>
	            	<i class="fa-regular fa-heart fa-xs"></i>
	            </div>
	        </div>
	        <nav class="main-menu">
	            <ul>
	                <li><a th:href="@{/}">Home</a></li>
	                <li><a href="/tripRecordList">여행기록</a></li>
	                <li><a href="/tripMateList">여행메이트</a></li>
	                <li><a href="/cartList">cart</a></li>
	                <li><a href="/guideQue">guideQue</a></li>
	                <li><a href="/localTourInfo">TOURINFO</a></li>
	                <li><a href="/property-details.html">Pages</a></li>
	                <li><a href="/contact.html">Contact</a></li>
	                  <li><a th:href="@{/noticeList}" >공지사항</a></li> 
	                  <li><a th:href="@{/myPage}">마이페이지</a></li> 
	                 
	            </ul>
	        </nav>
	        <div class="nav-logo-right">
	            <ul>
	                <li>
	                    <i class="icon_phone"></i>
	                    <div class="info-text">
	                        <span>Phone:</span>
	                        <p>(+12) 345 6789</p>
	                    </div>
	                </li>
	                <li>
	                    <i class="icon_map"></i>
	                    <div class="info-text">
	                        <span>Address:</span>
	                        <p>16 Creek Ave, <span>NY</span></p>
	                    </div>
	                </li>
	                <li>
	                    <i class="icon_mail"></i>
	                    <div class="info-text">
	                        <span>Email:</span>
	                        <p>Info.cololib@gmail.com</p>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- Offcanvas Menu Section End -->
	
			<!-- Header Section Begin -->
			<header class="header-section">
	        <div class="top-nav">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-7">
	                        <nav class="main-menu">
	                            <ul>
	                                <li class="active"><a th:href="@{/}">Home</a></li>
	                                <li><a href="/tripRecordList">여행기록</a></li>
	                                <li><a href="/tripMateList">여행메이트</a></li>
	                                <li><a href="/cartList">cart</a></li>
	              					<li><a href="/guideQue">guideQue</a></li>
	                                <li><a href="/localTourInfo">TOURINFO</a></li>
	                                <li><a href="/property-details.html">Pages</a></li>
	                                <li><a href="/contact.html">Contact</a></li>
	                                <li><a th:href="@{/noticeList}">공지사항</a><li> 
	                                  <li><a th:href="@{/myPage}">마이페이지</a><li>   
	                            </ul>
	                        </nav>
	                    </div>
	                    <div class="col-lg-5">
	                        <div class="top-right">
	                            <div class="language-option">
	                                <img src="/img/flag.png" alt="">
	                                <span>English</span>
	                                <i class="fa fa-angle-down"></i>
	                                <div class="flag-dropdown">
	                                    <ul>
	                                        <li><a href="#">English</a></li>
	                                        <li><a href="#">Germany</a></li>
	                                        <li><a href="#">China</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	    						            
	               <!--  로그인 안되어 있다면 '로그인 버튼' 표시 -->
	               	<div th:if="${ session.kakaoN == null  and session.sessionId == null}">
	                      <a th:href="@{/member/login}"  method='post' class="property-sub">로그인</a>
	                </div>    
	                
			                  <!--  로그인 되어 있다면 '로그아웃 버튼' 표시 -->
					 	<div th:if="${ session.kakaoN != null or session.sessionId != null}">
							    <a th:href="@{/member/logout}" class="property-sub">로그아웃</a>
							</div>  
						
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="nav-logo">
	            <div class="container">
	                <div class="row">
	                    <!-- 필요하면 쓰면 되는곳 : azenta 로고 있던 곳 -->
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- Header End -->
	</div>
	</th:block>
	
	<!-- 로그인한 사람이 관리자인 경우 -->
	<th:block th:fragment="headerFragment">
	<div sec:authorize="hasRole('ROLE_A3')">
		<!-- Page Preloder -->
		<!--     <div id="preloder">
	        <div class="loader"></div>
	    </div> -->
		<!-- Offcanvas Menu Section Begin -->
	    <div class="offcanvas-menu-overlay"></div>
	    <div class="canvas-open">
	        <i class="icon_menu"></i>
	    </div>
	    <div class="offcanvas-menu-wrapper">
	        <div class="canvas-close">
	            <i class="icon_close"></i>
	        </div>
	        <div class="language-bar">
	            <div class="language-option">
	                <img src="/img/flag.png" alt="">
	                <span>English</span>
	                <i class="fa fa-angle-down"></i>
	                <div class="flag-dropdown">
	                    <ul>
	                        <li><a href="#">English</a></li>
	                        <li><a href="#">Germany</a></li>
	                        <li><a href="#">China</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="property-btn">
	       <!--        <a th:href="@{/member/memberInsert}"class="property-sub">회원가입</a>
	             <a th:href="@{/member/login}"class="property-sub">로그인</a>
	             <a th:href="@{/member/logout}"class="property-sub">로그아웃</a> -->
	             
	             <!--  로그인 안되어 있다면 '로그인 버튼' 표시 -->
	               	<div th:if="${ session.kakaoN == null and session.sessionId == null}">
	                      <a th:href="@{/member/login}"  method='post' class="property-sub">로그인</a>
	                </div>   
	                 
	                  <!--  로그인 되어 있다면 '로그아웃 버튼' 표시 -->
				  	<div th:if="${ session.kakaoN != null or session.sessionId != null}">
					    <a th:href="@{/member/logout}" class="property-sub">로그아웃</a>
					</div>  
		
	            </div>
	            <div>
	            	<i class="fa-regular fa-heart fa-xs"></i>
	            </div>
	        </div>
	        <nav class="main-menu">
	            <ul>
	                <li><a th:href="@{/}">Home</a></li>
	                <li><a href="/tripRecordList">여행기록</a></li>
	                <li><a href="/localTourInfo">관광정보</a></li>
	                <li><a th:href="@{/admin/seeAllMemberList}">관리자 페이지</a></li> 
	                <li><a th:href="@{/noticeList}" >공지사항</a></li> 
	                 
	            </ul>
	        </nav>
	        <div class="nav-logo-right">
	            <ul>
	                <li>
	                    <i class="icon_phone"></i>
	                    <div class="info-text">
	                        <span>Phone:</span>
	                        <p>(+12) 345 6789</p>
	                    </div>
	                </li>
	                <li>
	                    <i class="icon_map"></i>
	                    <div class="info-text">
	                        <span>Address:</span>
	                        <p>16 Creek Ave, <span>NY</span></p>
	                    </div>
	                </li>
	                <li>
	                    <i class="icon_mail"></i>
	                    <div class="info-text">
	                        <span>Email:</span>
	                        <p>Info.cololib@gmail.com</p>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <!-- Offcanvas Menu Section End -->
	
			<!-- Header Section Begin -->
			<header class="header-section">
	        <div class="top-nav">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-7">
	                        <nav class="main-menu">
	                            <ul>
	                                <li><a th:href="@{/}">Home</a></li>
					                <li><a href="/tripRecordList">여행기록</a></li>
					                <li><a href="/localTourInfo">관광정보</a></li>
					                <li><a th:href="@{/admin/seeAllMemberList}">관리자 페이지</a></li> 
					                <li><a th:href="@{/noticeList}" >공지사항</a></li> 
					                <li><a th:href="@{/admin/seeAllReport}" >임시1 신고내역조회</a></li>
					                <li><a th:href="@{/noticeList}" >임시2</a></li>
	                            </ul>
	                        </nav>
	                    </div>
	                    <div class="col-lg-5">
	                        <div class="top-right">
	                            <div class="language-option">
	                                <img src="/img/flag.png" alt="">
	                                <span>English</span>
	                                <i class="fa fa-angle-down"></i>
	                                <!-- google api 기능 추가 -->
	                                <div id="google_translate_element" class="flag-dropdown">
	                                    <ul class="translation-links">
											<li><a href="javascript:void(0)" class="english" data-lang="en">English</a></li>
											<li><a href="javascript:void(0)" class="spanish" data-lang="es">Spanish</a></li>
											<li><a href="javascript:void(0)" class="japanese" data-lang="ja">Japanese</a></li>
										</ul>
	                                </div>
	                            </div>
				                <!--  로그인 안되어 있다면 '로그인 버튼' 표시 -->
				               	<div th:if="${ session.kakaoN == null  and session.sessionId == null}">
				                      <a th:href="@{/member/login}"  method='post' class="property-sub">로그인</a>
				                </div>    
			                
					                  <!--  로그인 되어 있다면 '로그아웃 버튼' 표시 -->
							 	<div th:if="${ session.kakaoN != null or session.sessionId != null}">
								    <a th:href="@{/member/logout}" class="property-sub">로그아웃</a>
								</div>  
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="nav-logo">
	            <div class="container">
	                <div class="row">
	                    
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- Header End -->
	</div>
	</th:block>
</body>
</html>