<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layouts/default_layout}"
      	layout:fragment="content"> 

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<!-- Content -->

    <h1>Content</h1>
 	
 	<p>test1</p>
 	
 	<!-- 일반 로그인 -->
    <p th:text="${session.sessionId}">Session ID</p>
    <p th:text="${session.sessionName}">Session Name</p>
    
    <!--  카카오 로그인 -->
    <p th:text="${session.kakaoN}">카카오이름</p>     
    <img th:src="${session.kakaoProfile}" style="width:100px; height:100px;"/>
   

   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
	<p>테스트</p>



</html>