<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>
<!-- Content -->
<div layout:fragment="content">
    <h1>Content</h1>
 	
 	
 	
 	<!-- 일반 로그인 -->
    <p th:text="${session.sessionId}">Session ID</p>
    <p th:text="${session.sessionName}">Session Name</p>
    
    <!--  카카오 로그인 -->
    <p th:text="${session.kakaoN}">카카오이름</p>     
    <img th:src="${session.kakaoProfile}" style="width:100px; height:100px;"/>
   

   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
	<p>테스트</p>
</div>

<div></div>
</html>