<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	> -->
<!-- <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js">
</script>
 -->
<script src ="ckeditor5-build-classic/ckeditor.js"></script>
<style>
.ck.ck-editor {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
}

.ck-editor__editable {
	height: 80vh;
}

form {
	text-align: center;
}
#tourTheme{
	margin: 0 auto;
}

</style>
<!-- CKEditor -->
<!-- <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script> -->
<script>
$(document).ready(function() {	

ClassicEditor
	.create(document.querySelector('#editor'), {
		/* htmlEncodeOutput: false, */
		ckfinder: {
			uploadUrl : 'upload'	
		}
	
		
	})
	.then(editor => {
		console.log('Editor was initialized');
		
		document.getElementById("cancelBtn").addEventListener("click",function(){
			const data = editor.getData();
			//Data 변수에 저장된 데이터를 파싱하여 이미지 태크를 찾음
			const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
			
			const filenames = imgTags.map(img=> {
				const src = img.getAttribute('src');
				
				return src.substring(src.lastIndexOf('/')+1);
			});
			console.log(filenames);
			fetch(`/deleteImg`,{
				method: 'POST',
				headers:{
					'Content-Type':'application/json'
				},
				body: JSON.stringify({ filenames })
			})
			.then(response => response.text())
			.then(message => {
				console.log(message);
				editor.setData('');
			})
			
		})
		
		
		var formObj = $("#editorForm");
		
		//document.getElementById("editorForm").addEventListener("submit",function(event){
		$("button[type='submit']").on("click",function(event){
			event.preventDefault();
			var str="";	
			
			var sigunguCode = $("#location > option:selected").attr("value1");
			var areaCode = $("#location > option:selected").attr("value2");
			str+=`<input type='hidden' name='sigunguCode' value='${sigunguCode}'>
				 <input type ='hidden' name = 'areaCode' value='${areaCode}'>`
			//console.log(sigunguCode);
			//console.log(areaCode);
	
			const data = editor.getData();
			
			let objData = serializeObject();
			//sconsole.log(data);
			const { title, writerId,type } = objData;
			var combinedData={
				content: data,
				title: title,
				sigunguCode: sigunguCode,
				areaCode: areaCode,
		        writerId: writerId,
		        type:type
			};
			
			
			$(".uploadResult ul li").each(function(i,obj){
				var jobj = $(obj);
				
				str += "<input type ='hidden' name='attachList["+i+"].originImg' value='"+jobj.data("filename")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].savedImg' value='"+jobj.data("path")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].imgType' value='"+jobj.data("type")+"'>";
				str += "<input type ='hidden' name='attachList["+i+"].loadingImg' value='"+jobj.data("loadingpath")+"'>";
				
			});
			str +="<input type='hidden' name='content' value='"+combinedData.content+"'>";
			
			
			var specialtiesOption = $(".specialtiesOption");

			$(".specialtype").each(function(i, obj) {
			    var type = $(obj).val();
			    var priceInput = $(obj).closest(".specialtiesOption").find(".price").eq(i);
			    var price = $(priceInput).val();
			    var discountInput = $(obj).closest(".specialtiesOption").find(".discountRate").eq(i);
			    var discountRate = $(discountInput).val();
			    str += `<input type='hidden' name='optionList[${i}].specialtyType' value='${type}'>
			            <input type='hidden' name='optionList[${i}].price' value='${price}'>
			            <input type='hidden' name='optionList[${i}].discountRate' value='${discountRate}'>`;
			});
			
			const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
			
			const filenames = imgTags.map(img=> {
				const src = img.getAttribute('src');
				
				return src;
			});		
			$.each(filenames,function(i,obj){
				str += "<input type ='hidden' name='editorAttachList["+i+"].savedImg' value='c:/"+obj+"'>";
			});
			
			formObj.append(str);
			document.getElementById('editorForm').action = "specialtiesInsert";
			document.getElementById('editorForm').submit();
			
			
			
			
		})
		//////////////////////////////////////////////////////////////////////
	})
	.catch(error => {
		console.error(error);
	});
	
	function serializeObject(){
		let formData = $('form').serializeArray();
		let formObject={};
		$.each(formData, function(idx,obj){
			//let field = obj.name;
			//let val= obj.value;
			formObject[obj.name] = obj.value;
			//formObject[field] = val;
		});
		
		return formObject;
	}
	var cloneObj = $(".uploadDiv").clone();
	
	$(function(){
		$("#uploadBtn").on('click',function(e){
			e.preventDefault();
			let imageData = new FormData();
			
			let inputTag = document.querySelector('input[name="mainImage"]');
			
			let files = inputTag.files;
			
			for(let i=0; i<files.length; i++){
				imageData.append("mainImage",files[i]);
			}
		
			$.ajax({
				url:'mainImageUpload',
				processData: false,
				contentType: false,
				data: imageData,
				type:'POST',
				dataType:'json',
				success: function(result){
					alert("성공");
					
					
					showUploadedFile(result);
					
					$(".uploadDiv").html(cloneObj.html());
				}
			});
			//readURL(this);	
		});
	});

	
	$(".uploadResult").on("click","span",function(e){
		var targetFile = $(this).data("file");
		var clickedSpan = $(this);
		$.ajax({
			url:'deleteFile',
			data: {savedImg: targetFile},
			dataType: 'text',
			type: 'POST',
			success: function(result){
				alert(result);
				//$(this).closest("li").load();
				var currentNode = clickedSpan.closest("li");
				var prevNode = currentNode.prev();
				var nextNode = currentNode.next();
				
				currentNode.add(prevNode).add(nextNode).remove();
				
			}
		})
	})
	
	var uploadResult = $(".uploadResult ul");
	
	function showUploadedFile(uploadResultArr){
		var str = "";
		$(uploadResultArr).each(function(i,obj){
			//str += "<li>" + obj.originImg + "</li>";
			
			var fileCallPath = encodeURIComponent(obj.savedImg);
			
			//str += "<li><img src='display?savedImg="+fileCallPath+"'>"+"<span data-file=\'"+fileCallPath+"\'> X </span>"+"<li>";
			
			str += "<li data-path='"+obj.savedImg+"'";
			str +=" data-filename='"+obj.originImg+"' data-type='"+obj.imgType+"'";
			str +=" data-loadingpath='"+obj.loadingImg+"'"+"><div>";
			str +="<span> " + obj.originImg +"</span>";
			str +="<img src='display?savedImg="+fileCallPath+"'>"+"<span data-file=\'"+fileCallPath+"\'> X </span>"+"</div>"+"</li>";
		});
		uploadResult.append(str);
	}
	$(document).ready(function() {
		$('.optionInsert').on('click', insertOption);
		$('.optionDelete').on('click', deleteOption);
	});
	
	// 옵션 추가 버튼
	function insertOption(e){
		
		e.stopPropagation();
		
		Swal.fire({
		      title: '특산물 옵션 추가',
		      html:` <div class="form-floating mb-3">
				 		<input type="text" class="form-control" id="optionType">
				  		<label for="floatingInput">옵션명</label>
					</div>
					<div class="form-floating">
				  		<input type="number" class="form-control" id="optionPrice" >
				  		<label for="floatingPrice">가격</label>
					</div>
					
					<div class="form-floating">
				  		<input type="number" class="form-control" id="optionDiscount" >
				  		<label for="floatingDiscount">할인율</label>
					</div>`,
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '추가',
		      cancelButtonText: '취소',
		      reverseButtons: true,
		      
		
		      
	    }).then((result) => {
	      if (result.isConfirmed) {
	    	  var specialtiesOption = $(".specialtiesOption");  
	      
	    	  //sweetalert2에서 입력된 값을 가지고옴	
		      const optionType = document.getElementById('optionType').value;
			  const optionPrice = document.getElementById('optionPrice').value;
			  const optionDiscount = document.getElementById('optionDiscount').value;
			  
		      let form = document.getElementById("editorForm");
			  let str="";
			  str +=`<div class="option"><input type="checkbox" class="deleteCheckbox" >
			  		<label>옵션</label><input type="text" class="specialtype" name="" value="${optionType}" readonly>
				  	<label>가격</label><input type="text" class="price" name="" value="${optionPrice}"readonly><br>`
				  	
		  	  if (optionDiscount !== '' && parseFloat(optionDiscount) !== 0) {
		        str += `<label>할인율</label><input type="number" class="discountRate" name="" value="${optionDiscount}" readonly><br>`;
		      }else{
		    	str += `<input type="hidden" class="discountRate" name="" value="" readonly><br>`;  		  
		      }
			  specialtiesOption.append(str);
	      }
	    })
		
	};
	
	function deleteOption(e){
		e.preventDefault();
		/* $("input[type=checkbox]:checked").each(function() {
	        var label = $(this).closest("label");
	        var specialtiesType = label.find("input[type=text]");
	        console.log(label);
	        console.log(specialtiesType)
	       label.remove();
	       specialtiesType.remove();
	    }); */
		 $("input[type=checkbox]:checked").each(function() {
			    $(this).closest(".option").remove();
			  });
	};
	
});
</script>
</head>
<body>
<div layout:fragment="content">
	<form method="post" id="editorForm" enctype="multipart/form-data" >
		<div id="specialtiesInfo">	
			<input type="hidden" name="writerId" th:value="${session.sessionId}">
			<div>
				<label>특산물 종류</label>
				<select name="type" id="type">
					<option value="">선택</option>
					<option th:each = "s : ${S}"  th:value="${s.detailCode}" th:text="${s.value}"></option>		
				</select>	
			</div>
			<div>
				<label>지역</label>
				<select id="location">
					<option value="">선택</option>
					<option th:each = "a : ${area}"  th:value1="${a.sigunguCode}" th:value2="${a.areaCode}" th:text="${a.locationName}"></option>	
				</select>
			</div>
			<div class="uploadDiv">
				<input type="file" name="mainImage" id="mainImage" multiple/>
			</div>
			<button id ="uploadBtn">upload</button>
			<div class="uploadResult">
				<ul>
				
				</ul>
			</div>
			<div>
				<label>특산물 명</label>
				<input type="text" placeholder="특산물 명" name=title id="title"/>
			</div>
			<div class="specialtiesOption">
			</div>
			<div>
				<button type="button" class="optionInsert" name="optionInsert">옵션추가</button>  
				<button type="button" class="optionDelete" name="optionDelete">옵션삭제</button>
			</div>
			
		</div>
		<h5>패키지 설명</h5>
		<div id="editor">
		
		</div>
		<button type="submit" class="btn btn-primary mt-3 mx-2" value="작성완료" >작성완료</button>
		<input type="button" class="btn btn-secondary mt-3 mx-2" value="작성취소" id="cancelBtn"/>
			<input type="hidden" name="writerId" value=""/>
	</form>

</div>
</body>
</html>