<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Azenta Template">
<meta name="keywords" content="Azenta, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>특산물 조회</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<!-- include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<style>
.searchDiv {
    text-align: center;
}

#searchBy {
    display: block;
    margin: 0 auto;
}

</style>

<script>
$(document).ready(function() {
	// 이벤트 설정
	$('#searchButton').on('click', search);
});

function search(event){
	
	let value = $('#searchBy').val();
	let keyword = $('#keyword').val();
	location.href='/searchSepcialties?searchBy='+value+'&keyword='+keyword;
	
}
</script>
</head>
<body>
	<div layout:fragment="content">
		<!-- 페이지 제목 부분 -->
		<section class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<h2>특산물</h2>
						</div>
						<div style="text-align: center;">
							<button th:if="${session.sessionAuthority} != null and ${session.sessionAuthority} == 'A3'" type="button" class="primary-btn" 
							th:onclick="|location.href='@{/admin/specialtiesInsertForm}'|">특산물 등록</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br>
		<div class="searchDiv" style="float:right; margin-right: 150px;" >
			<select id="searchBy" name="searchBy">
				<option value="name">특산물 검색</option>
				<option value="location">지역 검색</option>
				<option value="type">특산물 종류 검색</option>
			</select>
			<input type="text" id="keyword" name="keyword" placeholder="검색어를 입력해주세요." style="height: 40px; width: 200px;">
			<button id="searchButton" class="feature-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
		<section class="blog-section blog-page spad">
		
			<div class="container">
				<div class="row">
					<div th:each="list : ${specialtiesList}" th:onclick="|location.href='@{/specialtiesInfo(postId=${list.postId})}'|"
						class="col-lg-4 col-md-6">
						<div class="single-blog-item">
							<div class="sb-pic">
								<img style="width: 300px; height: 250px;" th:src="${list.loadingImg}" alt="이미지">
							</div>
							<div class="sb-text">
								<ul>
									<li>
										<i class="fa fa-user"></i>
										<span th:text="${list.writerId}"></span>
									</li>
								</ul>
								<h5>
									<a th:text="${list.title}"></a>
								</h5>
							</div>
						</div>
					</div>
				</div>
				<!-- 페이징 구문 -->
		<!-- 검색키워드가 없을때 -->
		<th:block th:if="${#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{specialtiesList(nowPage=1, cntPerPage=${paging.cntPerPage})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{specialtiesList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage and p > 0}">
						<a th:href="@{specialtiesList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"	th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{specialtiesList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{specialtiesList(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">&gt;&gt;</a>
				</th:block>
			</div>
		</th:block>
		<!-- 검색키워드가 있을때 -->
		<th:block th:if="${!#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{searchSepcialties(nowPage=1, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{searchSepcialties(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage and p > 0}">
						<a th:href="@{searchSepcialties(nowPage=${p}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}" th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchSepcialties(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchSepcialties(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;&gt;</a>
				</th:block>
			</div>
		</th:block>
			</div>
		</section>
	</div>
	
</body>
</html>