<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
form {
   text-align: center;
}

.contentStyle{
   width:400px;
   height:400px;
   margin: 0 auto;
}
.pt img{
   width:200px;
   height:200px;
}
</style>

</head>
<body>

<div layout:fragment="content">
 <section class="property-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="pd-details-text">
                    <h4>[[ ${info.title} ]]</h4>
                        <div class="pd-details-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-send"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-print"></i></a>
                            <a href="#"><i class="fa fa-cloud-download"></i></a>
                        </div>
                        <div class="property-more-pic" style="width:500px; height:500px;">
                            <div class="product-pic-zoom">
                               
                            </div>
                        </div>
                       
                        
                            <div class="pd-details-tab">
                            <div class="tab-item">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#tab-1" role="tab">특산물 정보</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-2" role="tab">특산물 상세내용</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-3" role="tab">문의 사항</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-item-content">
                                <div class="tab-content">
                                    <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                        <div class="property-more-table">
                                            <table class="left-table">
                                                <tbody>
                                                   
                                                    <tr>
                                                        <td class="pt-name">특산물 종류</td>
                                                        <td class="p-value">[[ ${info.type} ]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pt-name">작성자</td>
                                                        <td class="p-value">[[ ${info.writerId} ]]</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="right-table">
                                                <tbody>
                                                   
                                                    <tr>
                                                        <td class="pt-name">할인 여부</td>
                                                        <td class="p-value">[[ ${info.discount} ]]</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="pt-name">지역</td>
                                                        <td class="p-value">[[ ${info.writerId} ]]</td>
                                                    </tr>
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                        <div class="pd-table-desc" th:utext="${info.content }" >
                                           
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                        <div class="pd-table-amenities">
                                             <p><b>환불 규정</b><br>
												<b>환불 가능한 기간:</b> 특산물 환불 요청은 구매 3일 내로 가능합니다.<br><br>
												<b>환불 불가 기간:</b> 특산물 구매 후 3일 이내에 환불을 요청하는 경우, 환불이 불가능합니다.<br><br>
												
												<b>환불 절차</b><br>
												
												특산물을 구매한 후 3일 이내에 환불을 신청한 경우, 원래 결제한 방법을 통해 환불이 처리됩니다.<br>
												환불 처리에는 최대 7일의 처리 시간이 소요될 수 있습니다.<br><br>
												
												<b>환불 금액</b><br> 환불 금액은 다음과 같이 계산됩니다.<br><br>
												
												<b>특산물 구매 후 3일 이내 환불 요청:</b> 결제 금액의 100% 환불<br>
												<b>3일 이내 환불 요청:</b> 환불 불가<br>
												<b>환불 문의:</b> 환불에 관한 추가 문의 사항이나 지원이 필요한 경우, 문의하기 버튼을 클릭해주세요.<br>
												
												</p>
                                        
                                        <div class="bt-item">
			                                 <button type="button" name="question" id="question" class="feature-btn">
			                                 문의하기
			                                 </button>
			                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <!--<div class="pd-desc">
                            <h4>패키지 설명</h4>
                            <div th:utext="${info.content }" class="contentStyle"></div>
                        </div>-->
                    </div>
                </div>
               <div class="col-lg-3">
                    <div class="property-sidebar">
                        <h4>구매하기</h4>     
							<!-- 옵션 정보 -->
							<div class="form-horizontal" style="text-align: left;">
								<label>옵션  </label> 
								<select class="form-control opt_select" name="selectedOpt">
									<option value="">선택</option>
									<option th:each ="op : ${option}" 
											th:if="${op.discountRate == null}"
											th:value1="${op.specialtyType}" th:value2 ="${op.price}" th:text="${op.specialtyType + ' / ' + op.price }" >
									</option>
									<option th:each ="op : ${option}"
											th:unless="${op.discountRate == null}"
											th:value1="${op.specialtyType}" th:value2 ="${op.price}" th:value3="${op.discountRate}" th:text="${op.specialtyType + ' / ' + op.price + '/ 할인율' + op.discountRate}"  >
									</option>
								</select>
							</div>
							<div class="form-horizontal" style="text-align: left;">
								<label>구매수량  </label> 
								<select class="form-control count" id="select_count">
								    <th:block th:each="count : ${#numbers.sequence(0, 20)}">
								        <option th:value="${count}" th:text="${count}"></option>
								    </th:block> 
								</select>
							</div>	
							<div class="selected_option" style="text-align: right;">
							</div>
							<div class="sidebar-btn">
                                <div class="bt-item">
                                    <input type="radio" name="kakaoPay" id="kakaoPay" >
                                    <label for="kakaoPay">Buy</label>
                                </div>
                                <div class="bt-item">
                                    <input type="radio" name="cartBtn" id="cartBtn">
                                    <label for="cartBtn">Cart</label>
                                </div>
                            </div>
                    </div>
                </div>
                <div>
	                <input type="hidden" id="sessionAuthority" th:value="${session.sessionAuthority}">
	                <button th:if="${session.sessionAuthority} != null and ${session.sessionAuthority} == 'A3'" type="button" class="btn btn-outline-dark" 
					th:onclick="|location.href='@{/admin/specialtiesUpdateForm(postId=${info.postId})}'|">수정</button>&nbsp;&nbsp;
                </div>
				
               
                
                <!-- 리뷰 -->
        <div class="review">
            <h7 id="reviewCount"></h7>
            <hr>
             <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                <label class="form-check-label" for="inlineRadio1">1점</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">2점</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
                <label class="form-check-label" for="inlineRadio3">3점</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                <label class="form-check-label" for="inlineRadio4">4점</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5" th:checked="true">
                <label class="form-check-label" for="inlineRadio5">5점</label>
            </div>
            <div class="input-group mb-3">
                <input id="reviewInput" type="text" class="form-control" placeholder="리뷰 작성" aria-label="추억을 남겨보세요!" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="addReview">리뷰 등록</button>
            </div>
            <hr id="afterReview">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-outline-info justify-content-center" id="moreReview" type="button"
                        data-page="1" >
                    더보기
                </button>
            </div>
            <hr>
           
        </div>   
             <input type="hidden" id="id" th:value="${session.sessionId}">
        </div>
              
    </section>
    <!-- Property Details Section End -->


<script>



	var content = '[[${info.content }]]';
	var postId = '[[${info.postId}]]';
	var memberId = $("#id").val();
	$(document).ready(function(){
			
		(function(){
			$.getJSON("getAttachList",{postId:postId},function(arr){
				var str="";
				var str2="";
				$(arr).each(function(i, attach){
					if(i==0){
						str+=`<img src="${attach.loadingImg}" class="product-big-img" style="width:500px; height:500px;"  alt="">`	
					}
					else{
						str2+=`<div class="pt" data-imgbigurl="${attach.loadingImg}"><img

                            src="${attach.loadingImg}" alt=""></div>`

					}
				});
				$(".product-pic-zoom").html(str);
				$(".product-thumbs-track.ps-slider.owl-carousel").html(str2);
			});
		})();
		   
	    
	    var sessionId =  '[[${session.sessionId}]]'
	    document.getElementById('question').addEventListener('click',function(){
	    	if(sessionId == null || sessionId ===("")){
	    		alert("로그인 해주세요");
	    		return;
	    	}else{
	       		location.href="/common/memberQueForm?productId="+'[[${info.postId}]]'
	    	}
	    })
	    
	    
		
		
		$(document).on('click', '.nice-select.form-control', function() {
			//var count = $(this).attr("data-value");
			//var count = $(".current").text();
			var count = $("div.count  li.selected").attr("data-value");
			var price = $(".opt_select > option:selected").attr("value2");
			var specialtyType = $(".opt_select > option:selected").attr("value1");
			var discountRate = $(".opt_select > option:selected").attr("value3");
			var opt = $(".opt_select").val();
			var finalPrice = 0;
			var discountPrice = 0;
			var str = '';
			if(discountRate !=null){
				finalPrice = price * count*(1-(discountRate/100));
				discountPrice = price * count * (discountRate/100);
			}else{
				finalPrice = price * count;
			}



			str += '<p><label>수량 : </label><span class="count">&nbsp;' + count + '</span>&nbsp;&nbsp;&nbsp;<br>';	
	
			str += '<label>옵션 : </label><span class="specialtyType">&nbsp;' + specialtyType + '</span>&nbsp;&nbsp;&nbsp;';	
			str+=`<input type="hidden" class="specType" value="${specialtyType}"><br>`
			
			str	+= '<label>가격 : </label><span>&nbsp;' + price + ' 원</span><br>';
			str += '<label>할인 금액: </label><span>&nbsp;' + discountPrice + '원</span></p>';
			str += '<h4><label>결제금액 : </label><span class="finalPrice">&nbsp;' + finalPrice + ' 원</span></h4>'; 
			
			
			$(".selected_option").html(str);
		});
		
		
		
	});
	
	    // 결제 버튼 클릭 이벤트 처리
	    document.getElementById('kakaoPay').addEventListener('click', function() {
	        // 여기에 결제 페이지로 이동하는 코드 추가
	        // 예를 들어, window.location.href = '결제페이지URL';
	       
	        let totalAmount = parseInt($("span.finalPrice").text());
	        let orderName = "[[ ${info.title} ]]";
	        let postId = "[[ ${info.postId} ]]"
	        let quantity = parseInt($("span.count").text());
	     	let specialtyType = $(".specType").val();
	     	console.log(totalAmount);
	     	console.log(orderName);
	     	console.log(postId);
	     	console.log(quantity);
	     	console.log(specialtyType);
	     	console.log(memberId);
	        $.ajax({
	        	type:'post',
	        	url:'/common/payment/ready',
	        	data:{
	        		totalAmount: totalAmount,
	        		orderName : orderName,
	        		quantity : quantity,
	        		postId: postId,
	        		specialtyType: specialtyType,
	        		partnerUserId : memberId
	        	},
	        	success:function(response){
	        		location.href = response.next_redirect_pc_url
	        	},
	               error: function(jqXHR, textStatus, errorThrown) {
	                      // 오류 응답을 처리하는 코드
	                      let errorMessage = JSON.parse(jqXHR.responseText).message;
	                      if(errorMessage == 'no login') {
	                          alert('로그인을 해주세요.');
	                      } else {
	                          alert('신청할 인원 수를 선택해주세요');
	                      }   
	              }
	        	
	        }); 
	    });



	    document.getElementById('cartBtn').addEventListener('click',function(){
	    	let totalAmount = parseInt($("span.finalPrice").text());
	        let orderName = "[[ ${info.title} ]]";
	        let postId = "[[ ${info.postId} ]]"
	        let quantity = parseInt($("span.count").text());
	        let specialtyType = $(".specType").val();
	    	$.ajax({
	    		type:'post',
	    		url:'/common/cartInsert',
	    		data:{
	    			price: totalAmount,
	        		cartName : orderName,
	        		quantity : quantity,
	        		postId: postId,
	        		optionId: specialtyType,
	        		memberId : memberId			
	    		},
	    		success:function(message){
	    			alert(message);
	    		},
	             error: function(jqXHR, textStatus, errorThrown) {
	                   // 오류 응답을 처리하는 코드
	                let errorMessage = JSON.parse(jqXHR.responseText).message;
	                   if(errorMessage == 'no login') {
	                       alert('로그인을 해주세요.');
	                   } else {
	                       alert('신청할 인원 수를 선택해주세요');
	                   }                  
	           }
	    	});
	    });
	    
	    
	    function getPackageDetailInfoReview(postId, callback) {
            $.ajax({
                type: 'GET',
                url: '/packageInfoReview',
                data: {
                    'postId': postId
                }
            })
            .done(function (data, textStatus, jqXHR){
                console.log('done');

                callback(data);
            })
            .fail(function (jqXHR, textStatus, errorThrown){
                console.log('fail');

                callback(null);
            })
        }
       
       function appendPackageDetailInfoReview(data, postId) {
           $('#reviewCount').text(data.totalCount + '개의 리뷰');
           $('#reviewCount').data('totalCount', data.totalCount);
           if(data.totalCount == 0) {
               $('#moreReview').addClass('disabled');
           }
           $('#moreReview').data('postId', postId);
   
           if(data.packageDetailReviewVoList.length > 0) {
               appendReview(data.packageDetailReviewVoList, postId);
           }
       }
   
       //모달창 리뷰 페이징
       $(document).on('click', '#moreReview', function () {
           let page = $(this).data('page');
   
           page = Number(page)+1;
   
           $.ajax({
               type: 'GET',
               url: '/packageReview',
               data: {
                   'postId' : postId,
                   'page' : page
               }
           })
           .done(function(data, textStatus, jqXHR) {
               console.log('done');
   
               appendReview(data, postId);
               changeInfoMoreReviewButton(page);
           })
           .fail(function(jqXHR, textStatus, errorThrown) {
               console.log('fail');
   
           })
       });
   
       function appendReview(data, postId) {
           let node = ``;
           for(let i = 0; i < data.length; i++) {
               let stars = '';
               for(let j = 1; j <= 5; j++) {
                   if(j <= data[i].grade) {
                       stars += '★';
                   } else {
                       stars += '☆';
                   }
               }
   
               let date = data[i].writeDate.substring(0,10);
   
               node += `
                   <div class="review-content">
                       <p>
                           <span class="writerId">${data[i].writerId}</span>
                           <span class="grade">${stars}</span>
                           <span class="writeDate" style="float: right;">${date}&emsp;
                               <button type="button" class="btn btn-secondary btn-sm deleteReview" data-content-id="${postId}" data-review-id="${data[i].reviewId}">삭제</button>
                           </span>
                           <br>
                           <span class="content">${data[i].content}</span>
                       </p>
                   </div>
               `;
           }
           $('#afterReview').before(node);
       }
   
       function changeInfoMoreReviewButton(page) {
           $('#moreReview').data('page', page);
   
           let totalCount = $('#reviewCount').data('totalCount');
           let reviewCount = $('.review-content').length;
   
           if(totalCount == reviewCount) {
               $('#moreReview').addClass('disabled');
           }
       }
   
       //리뷰 등록
       $(document).on('click', '#addReview', function() {
           let contentId = $('#moreReview').data('postId');
   
           let checkedgrade = $('input[name=inlineRadioOptions]:checked').val();
           if(checkedgrade == null) {
               alert("점수를 체크해주세요.");
               return;
           }
   
           let reviewContent = $('#reviewInput').val();
           if(reviewContent == null|| reviewContent.replaceAll(' ', '') == '') {
               alert("내용을 입력해주세요.");
               return;
           }
           //  ajax 들어가서 로그인 되어있는지 먼저 확인 - 안되면 바로 fail throw new Exception(); 예외 일부러 발생시켜주기
           $.ajax({
               type: 'POST',
               url: '/common/packageReview',
               data : {
                   'grade' : checkedgrade,
                   'content' : reviewContent,
                   'originPostId' : postId
               }
           })
           .done(function (data, textStatus, jqXHR){
               console.log('done');
   
               //  data는 totalCount이고, x개의 리뷰를 바꿔야함
               $('#reviewCount').text(data.totalCount + '개의 리뷰');
               $('#reviewCount').data('totalCount', data.totalCount);
   
               $('.review-content').remove();
               appendReview(data.recentReviewList, postId);
   
               changeInfoMoreReviewButton(1);
               clearInput();
   
               alert('리뷰가 등록되었습니다.');
           })
           .fail(function (jqXHR, textStatus, errorThrown) {
               console.log('fail');
   
               let errorMessage = JSON.parse(jqXHR.responseText).message;
               if(errorMessage == 'no login') {
                   alert('로그인을 해주세요.');
               } else if(errorMessage == 'not insert') {
                   alert('리뷰가 등록되지 않았습니다.');
               }
           })
   
       })
   
       //리뷰 삭제
       $(document).on('click', '.deleteReview', function() {
   
           let writerId = $(this).parent().siblings('.writerId').text();
           let reviewId = $(this).data('reviewId');
           //  ajax로 가서 session에 저장된 아이디랑 writerId랑 같은지 확인 - 같지 않다면 fail 
           $.ajax({
               type: 'DELETE',
               url: "/common/packageReview",
               data: {
                   'postId' : postId,
                   'writerId' : writerId,
                   'reviewId' : reviewId
               }
           })
           .done(function (data, textStatus, jqXHR){
               console.log('done');
   
               $('#reviewCount').text(data.totalCount + '개의 리뷰');
               $('#reviewCount').data('totalCount', data.totalCount);
   
               $('.review-content').remove();
               appendReview(data.recentReviewList, postId);
   
               changeInfoMoreReviewButton(1);
   
               alert('리뷰가 삭제되었습니다.');
           })
           .fail(function (data, textStatus, jqXHR) {
               console.log('fail');
   
               let errorMessage = JSON.parse(jqXHR.responseText).message;
               if(errorMessage == 'no login') {
                   alert('로그인을 해주세요.');
               } else if(errorMessage == 'not same') {
                   alert('본인의 리뷰만 삭제할 수 있습니다.');
               } else if(errorMessage == 'not delete') {
                   alert('리뷰가 삭제되지 않았습니다.');
               }
           })
   
       })
   
       function clearInput() {
           $('#reviewInput').val('');
           $('#inlineRadio5').prop('checked', true);
       }
       
       document.getElementById('question').addEventListener('click',function(){
          console.log("asdsad");
          location.href="/common/memberQueForm?productId="+'[[${info.postId}]]'
       })
       
</script>
</div>
</body>
</html>