<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layouts/default_layout}"
   layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>여행기록 등록</title>
<!-- Google Font -->
<link
   href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/map.css}">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<style>
form {
   text-align: center;

}
#tourTheme{
   margin: 0 auto;
}


/* .img-thumbnail{
   width:400px;
   height:400px;
   
} */
body {
       background-color: #ffffff;
       color: #000000;
      }

.text-center {
       text-align: center;
       width: 60%;
       margin: 0 auto;
      }

.form-control {
       width: 100%;
       padding: 10px;
       border: 1px solid #ced4da;
       border-radius: 4px;
       box-sizing: border-box;
      }

.btn-outline-secondary {
       padding: 10px 50px;
       font-size: 16px;
       border-radius: 4px;
       height :38px;
      }

.btn-primary {
       background-color: #007bff;
       border: none;
       color: #ffffff;
      }

.btn-primary:hover {
       background-color: #0069d9;
       color: #ffffff;
      }

.btn-secondary {
      background-color: #6c757d;
      border: none;
      color: #ffffff;
      }

.btn-secondary:hover {
      background-color: #5a6268;
      color: #ffffff;
      }
        
.ck.ck-editor {
     width: 100%;
     max-width: 1500px;
     margin: 0 auto;
      }

.ck-editor__editable {
     height: 70vh;
      }
li {
    list-style-type: none;
}

table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    /* 미디어 쿼리 - 작은 화면에서 테이블 조정 */
    @media (max-width: 768px) {
      th, td {
        display: block; /* 테이블 셀을 블록 요소로 변경 */
        width: 100%; /* 전체 너비로 설정 */
      }

      /* th 요소에 추가적인 스타일 조정 (선택 사항) */
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
    }
     /* Flex 컨테이너 스타일 */
    .select-container {
      display: flex;
      justify-content: space-between; /* 요소 간 여백을 최대화하여 나란히 정렬 */
      align-items: center; /* 세로 중앙 정렬 */
      margin-bottom: 20px;
      width:10%;
    }

    /* 셀렉트 박스 스타일 */
    select {
      width: 45%; /* 각 셀렉트 박스의 너비를 조절 */
      padding: 8px;
      border: 1px solid #ddd;
    }
    
    .image-frame {
            width: 150px; /* 이미지 틀의 너비 */
            height: 150px; /* 이미지 틀의 높이 */
            border: 2px solid #ccc; /* 테두리 스타일 및 색상 설정 */
            padding: 5px; /* 내부 여백 설정 */
            text-align: center; /* 이미지 가운데 정렬 */
        }
    .image-frame img {
            max-width: 100%; /* 이미지의 최대 너비 설정 */
            max-height: 100%; /* 이미지의 최대 높이 설정 */
        }
</style>
</head>
<script src ="/ckeditor5-build-classic/ckeditor.js"></script>
<body>
	<div align="center">
		<form id="tripData" method="post" th:object="${tripVO}">
			<!-- 이전 페이지에서 입력한 정보를 가져와서 hidden으로 여행경로 최종 입력시 새로 추가된 테이터와 함께 보냄 -->
			<input type="hidden" name="writerId" th:value="${session.sessionId}">
            <input type="hidden" name="postId" th:value="${tripVO.postId}">
            <input type="hidden" name="tripTitle" th:value="${tripVO.tripTitle}">
            <input type="hidden" name="tripDisclose" th:value="${tripVO.tripDisclose}">
            <input type="hidden" th:value="${#dates.format(tripVO.startDay, 'yyyy-MM-dd')}" id="startDay" name="startDay">
            <input type="hidden" th:value="${#dates.format(tripVO.endDay, 'yyyy-MM-dd')}" id="endDay" name="endDay">
			<!-- 여행기록 등록자의 아이디, 타이틀, 여행 기간 등을 표시하는 div -->
			<div align="center">
				<br>
				<br>
				<h2>[[${session.sessionId}]]님의 [[${tripVO.tripTitle}]] 여행일정</h2>
				<label>[[ ${#dates.format(tripVO.startDay, 'yyyy년 MM월 dd일 EEE요일')} ]] ~ </label>
        		<label>[[ ${#dates.format(tripVO.endDay, 'yyyy년 MM월 dd일 EEE요일')} ]]</label>
				<br>
				<br>
				<table class="table" style="width: 1400px;">
					<tr>
                       	 <th style="text-align: left; width: 100px;">메인 이미지</th>
                         <td style="width: 400px; ">
                           	<input type="file" id="mainImage" name="mainImage" size="50" class="form-control">
                           	<input type="button" class="btn btn-secondary mt-3 mx-2" id ="uploadBtn" value="upload">
                       		<div class="uploadResult" align="center">
            					<ul style="display:none;"></ul>
            					<div style="display:none;">
               					<div id="editor"></div>
               					</div>
            				</div>
                       	</td>
                   	</tr>
				</table>
			</div>
			<!-- 여행경로가 제대로 저징이 되면 이제 이전 페이지에서 이미지 업도드를 하는 기능을 이식해야함. -->
		</form>
		<!-- 지도영역과 여행 경로, 메모 등을 입력하는 div -->
		<div style="display: flex; margin: 50px 0 0 180px;">
			<!-- 화면에 보여지는 지도영역 -->
			<div class="map_wrap" style="height: 800px; width: 700px; border: solid 1px; margin-left: 50px;">
         		<div id="map"style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
         		<div id="menu_wrap" class="bg_white" style="display: none">
         			<div class="option">
         			</div>
         			<!--지도에  검색결과 리스트를 출력해주는 부분 -->
         			<ul id="placesList"></ul>
                  	<div id="pagination"></div>
         		</div>
        	</div>
        	<!-- 앞에서 선택한 여행 일정 수 만큼 여행 경로 지정과 여행 메모 div 생성 -->
			<div id="tripSchedule" style="width: 700px; margin-left: 50px; overflow-y: auto; max-height: 800px;">
			<h4><b>여행일정</b></h4>
			<hr>
			</div>
			
		</div>
		<br>
		<br>
		<div align="center" style="display: flex; justify-content: center; align-items: center; margin-bottom: 50px;">
    		<!-- 임시저장 -> 임시저장 -->
    		<button type="button" id="tsTripInsert" class="btn btn-primary mx-2">임시저장</button>
    		<!-- 임시저장 -> 저장 -->
    		<button type="button" id="tripInsert" class="btn btn-primary mx-2">등록</button>
    		<input type="button" class="btn btn-secondary mx-2" value="작성취소" id="cancelBtn"/>
    		<!-- 임시저장 -> 해당 데이터 삭제 -->
    		<!-- 목록으로 버튼 클릭시 관련된 데이터들을 모두 삭제하고 목록 페이지로 이동 -->
    		<form method="get">
        		<input type="hidden" name="postId" th:value="${tripVO.postId}">
        		<button type="button" class="btn btn-secondary mx-2" th:onclick="|location.href='@{/common/tripRecordDelete(postId=${tripVO.postId})}'|">목록으로</button>			
    		</form>
		</div>
	</div>
	
    <script>
    	//dom을 실행하고 해당 function 실행
    	$(document).ready(function() {
    		
    	//에디터 관련 스크립트
    		ClassicEditor
            .create(document.querySelector('#editor'), {
            	/* htmlEncodeOutput: false, */
            	ckfinder: {
               	uploadUrl : '/common/upload'   
            	}
         	})
         	.then(editor => {
         
         	document.getElementById("cancelBtn").addEventListener("click",function(){
            const data = editor.getData();
            //Data 변수에 저장된 데이터를 파싱하여 이미지 태크를 찾음
            const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
            
            const filenames = imgTags.map(img=> {
               const src = img.getAttribute('src');
               
               return src.substring(src.lastIndexOf('/')+1);
            });
            console.log(filenames);
            fetch(`/deleteImg`,{
               method: 'POST',
               headers:{
                  'Content-Type':'application/json'
               },
               body: JSON.stringify({ filenames })
            })
            .then(response => response.text())
            .then(message => {
               console.log(message);
               editor.setData('');
            })
            
         })
         
         var formObj = $("#tripData");
         
         $("#tripInsert").on("click",function(event){
               
            event.preventDefault();
      
            const data = editor.getData();
            
            let objData = serializeObject();
            
            let writerId = "[[${session.sessionId}]]";
            
            var str="";
            $(".uploadResult ul li").each(function(i,obj){
               var jobj = $(obj);
               str += "<input type ='hidden' name='attachList["+i+"].originImg' value='"+jobj.data("filename")+"'>";
               str += "<input type ='hidden' name='attachList["+i+"].memberId' value='[[${session.sessionId}]]'>";
               str += "<input type ='hidden' name='attachList["+i+"].savedImg' value='"+jobj.data("path")+"'>";
               str += "<input type ='hidden' name='attachList["+i+"].imgType' value='"+jobj.data("type")+"'>";
               str += "<input type ='hidden' name='attachList["+i+"].loadingImg' value='"+jobj.data("loadingpath")+"'>";
               
            });
            
            const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));
            
            const filenames = imgTags.map(img=> {
               const src = img.getAttribute('src');
               
               return src;
            });      
            $.each(filenames,function(i,obj){
               str += "<input type ='hidden' name='editorAttachList["+i+"].savedImg' value='c:/"+obj+"'>";
            });
            
            Swal.fire({
    	    	icon: 'warning',                      
    	     	title: '등록 하시겠습니까?.',
    	      	showCancelButton: true,
    			confirmButtonColor: '#3085d6',
    			cancelButtonColor: '#d33',
    			confirmButtonText: '등록',
    			cancelButtonText: '취소',
    	    }).then((result) => {
    		   	if (result.isConfirmed) {
    		   		Swal.fire({
    	                icon: 'success',
    	                title: '등록 되었습니다.'
    	            }).then(() => {
    	            	formObj.append(str);
    	                $("#tripData").attr("action", "/common/tripRecordInsertUp").submit();
    	                sendMemoData(memoDataArry);
    	            });
    			}
    		})
            
         })
      })
      .catch(error => {
         console.error(error);
      });
      
      function serializeObject(){
         let formData = $('form').serializeArray();
         let formObject={};
         $.each(formData, function(idx,obj){
            formObject[obj.name] = obj.value;
         });
         
         return formObject;
      }
      var cloneObj = $(".uploadDiv").clone();
      
      $(function(){
         $("#uploadBtn").on('click',function(e){
            e.preventDefault();
            let imageData = new FormData();
            
            let inputTag = document.querySelector('input[name="mainImage"]');
            
            let files = inputTag.files;
            
            for(let i=0; i<files.length; i++){
               console.log(files[i]);
               imageData.append("mainImage",files[i]);
            }
         
            $.ajax({
               url:'mainImageUpload',
               processData: false,
               contentType: false,
               data: imageData,
               type:'POST',
               dataType:'json',
               success: function(result){
                  alert("성공");
                  
                  console.log(result);
                  
                  showUploadedFile(result);
                  
                  $(".uploadDiv").html(cloneObj.html());
               }
            });
         });
      });

      $(".uploadResult").on("click","span",function(e){
         var targetFile = $(this).data("file");
         var clickedSpan = $(this);
         $.ajax({
            url:'deleteFile',
            data: {savedImg: targetFile},
            dataType: 'text',
            type: 'POST',
            success: function(result){
               alert(result);
               var currentNode = clickedSpan.closest("li");
               var prevNode = currentNode.prev();
               var nextNode = currentNode.next();
               
               currentNode.add(prevNode).add(nextNode).remove();
               
            }
         })
      })
      
      var uploadResult = $(".uploadResult ul");
      
      function showUploadedFile(uploadResultArr){
         var str = "";
         $(uploadResultArr).each(function(i,obj){
            
            var fileCallPath = encodeURIComponent(obj.savedImg);
            
            str += "<li style='width:500px; height:500px; text-align: center;' data-path='"+obj.savedImg+"'";
            str +=" data-filename='"+obj.originImg+"' data-type='"+obj.imgType+"'";
            str +=" data-loadingpath='"+obj.loadingImg+"'"+"><div>";
            str +="<span> " + obj.originImg +"</span>";
            str +="<img src='/display?savedImg="+fileCallPath+"'>"+"<span data-file=\'"+fileCallPath+"\'> X </span>"+"</div>"+"</li>";
         });
         uploadResult.append(str);
      }
    	
    	
    		
    	///////////////////////////////////////////////////////////	
    		
    	
 		//이전 페이지에서 받아온 날짜 데이터를 활용해서 두 일수 사이의 값을 계산
   		var inDate = "[[ ${#dates.format(tripVO.startDay, 'yyyy-MM-dd')} ]]"; 
        var outDate = "[[ ${#dates.format(tripVO.endDay, 'yyyy-MM-dd')} ]]";
        
		const getDateDiff = (d1, d2) => {
			//받아온 데이터를 날짜 형식으로 변환
			const date1 = new Date(d1);
			const date2 = new Date(d2);
			  
			const diffDate = date1.getTime() - date2.getTime();
			
			//밀리세컨 * 초 * 분 * 시 = 일
			return Math.abs(diffDate / (1000 * 60 * 60 * 24));
		}
		
		//두 날짜 사이의 일수
		//여행 시작일도 포함이 되어야 함으로 결과값에 +1을 해줘야함.
		var resdays = getDateDiff(inDate, outDate) + 1;
		
		//이전 페이지에서 선택한 일정 만큼의 여행경로, 메모를 동적으로 추가해줌
        var inDate = "[[ ${#dates.format(tripVO.startDay, 'yyyy-MM-dd')} ]]"; 
		var postData = "[[${tripVO.postId}]]";
		
		var memoDataArry = [];
		for (let i = 0; i < resdays; i++) {
			// 여행기록 작성시 가져온 start데이터를 통해 여행일을 각각 나타냄
			const date3 = new Date(inDate);
			//해당 구문을 통해 +1씩 증가시킴
		    date3.setDate(date3.getDate() + i);
			
       	    let addSchedule = `
       	    					<form="mmd${i+1}" method="post">
       	        					<div id="schedule${i+1}">
       	     							<input type="hidden" value="${date3.toISOString().split('T')[0]}" id="tripDate" name="tripDate">
       	     							<input type="hidden" value="${postData}" id="postId" name="postId">
       	     							<h5><b>${i+1}일차 일정</b></h5>
       	     							<h6>(${date3.toISOString().split('T')[0]})</h6>
       	        						<br>
       	        						<input class="keyword" type="text" placeholder="키워드를 입력해주세요." onkeydown="return event.key != 'Enter';">
       	            					<button id="${i+1}" type="button" class="searchPlaces">검색하기</button>
       	            					<button type="button" class="openMemo">메모 입력</button>
       	        						<br>
       	            					<textarea name="content" id="content${i+1}" cols="80" rows="5" placeholder="여행 메모를 입력해주세요." style="display:none;"></textarea>
       	            					<br>
       	            					<div class="showMapData">
       	            						
       	            					</div>
       	            					<button class="mapping" type="button" style="display:block;"> 경로 선택 완료 </button>
       	            					<button class="showShow" type="button" style="display:none;"> 경로 보기 </button>
       	            					<button class="modifyMapping" type="button" style="display:none;"> 경로 수정 </button>
       	            					<br>
       	            					<hr>
       	        					</div>
       	     					</form>
       	    				`;
        		 
       	    $('#tripSchedule').append(addSchedule);
     	    
		}
		
		
		$(".openMemo").click(function(){
			//가장 가까운 textarea의 스타일 속성이 display none에서 block로 변경
			$(this).siblings("textarea").attr('style', 'display:block;');
			$(this).attr('style', 'display:none;');
			
		})
		
		$(".mapping").click(function() {
			var tDate = $(this).parent().find("input[name=tripDate]").attr("value");
			removeMarker();
			
			//선 삭제를 위한 구문이지만 삭제가 안됨 수정해야함
			
			$(this).attr('style', 'display:none;');
			$(this).siblings(".showShow").attr('style', 'display:block;');
			$(this).siblings(".modifyMapping").attr('style', 'display:block;');
			$(this).siblings(".keyword").attr('style', 'display:none;');
			$(this).siblings(".searchPlaces").attr('style', 'display:none;');
    		var mappingCoordinates = $(this).prev(".showMapData");

    		var mappingString ="";
    		
    		mappingCoordinates.html(""); 
    
    		var mapDataArry = [];
    		for (var i = 0; i < mapping.length; i++) {
        		 var mappingObj = mapping[i];
        
        		 mappingString = "<div class='tripDatas" + (i + 1) + "'>" +
        		 					 "<label>" + "순번 : " + (i + 1) + "</label>" +
        		 					 "<label>" + mappingObj.mapName + "</label>" + "<br>" +
            						 "<input type='hidden' name='mapNo' value='" + (i + 1) + "'>" +
            						 "<input type='hidden' name='mapName' value='" + mappingObj.mapName + "'>" +
            						 "<input type='hidden' name='mapLat' value='" + mappingObj.mapLat + "'>" +
            						 "<input type='hidden' name='mapLng' value='" + mappingObj.mapLng + "'>" +
            						 "</div>";

         		 // 위에 여행일자 추가 
        		 mappingCoordinates.append(mappingString);

      			 //객체 생성
        		 var mapDataObj = {
            						mapNo: (i + 1),
            						mapName: mappingObj.mapName,
            						mapLat: mappingObj.mapLat,
            						mapLng: mappingObj.mapLng,
            						postId: postData,
            						tripDate: tDate
        						  };
      			 //객체를 배열로 변환
        		 mapDataArry.push(mapDataObj);
    		 }
    		 sendMappingData(mapDataArry);
    		 
    		 //저장한 여행경로를 초기화 시켜줌
    		 mapping = [];
    		 //검색결과 리스트 초기화
    		 $('#placesList').empty();
		 });
		
		//여행경로 수정버튼 클릭시 여행경로를 삭제 후 다시 저장해야함
		$(".modifyMapping").click(function(){
			tDate = $(this).parent().find("input[name=tripDate]").attr("value");
			$.ajax({
				url: '/common/mapDeleteList',
				type: 'post',
				data: { 
						postId : postData,
						tripDate : tDate 
					  }
				
			}).done(data => {
				//console.log("경로 삭제 완료");
		        
			}).fail(reject => console.log(reject));
			$(this).siblings(".keyword").attr('style', 'display:block;');
			$(this).siblings(".searchPlaces").attr('style', 'display:block;');
			$(this).siblings(".mapping").attr('style', 'display:block;');
			
		})
		
		//경로보기 버튼 클릭시 지도에 해당 일자의 여행경로를 나타냄
		$(".showShow").click(function(){
			
			var mapDb = [];
			
			//날짜 형식을 db에 저장된 형식과 같게 yy/MM/dd형식으로 변경
			tDate = $(this).parent().find("input[name=tripDate]").attr("value");
			
			var parsedDate = new Date(tDate);
			var year = (parsedDate.getYear() - 100); // 연도에서 뒤의 2자리 추출
			var month = (parsedDate.getMonth() + 1); // 월 (0부터 시작하므로 1을 더함)
			var day = parsedDate.getDate(); // 일

			// 월과 일을 두 자리로 만들기 (0을 추가)
			if (month < 10) {
			  month = '0' + month;
			}
			if (day < 10) {
			  day = '0' + day;
			}

			var formattedDate = year + '/' + month + '/' + day;
			
			$.ajax({
				url: '/mapInfoList',
				type: 'post',
				data: {
						postId : postData,
						tripDate : formattedDate
					  }
				
			}).done(data => {
				//console.log(data);
				mapDb = data.tripMap;
				
				markers = [];
				//db에 저장된 좌표를 담아줄 배열
				mapping = [];
				//생성된 마커를 연결하는 선 
				polyline = null;
				
				//ajax를 통해 받은 여행경로 데이터의 첫번째 위도와 경도를 찾아서 그 값을 지도의 중심좌표로 설정
				var firstMapLat = mapDb[0].mapLat;
		        var firstMapLng = mapDb[0].mapLng;
		        
		        var mapContainer = document.getElementById('map'), mapOption = {
			    	// 최초로 생성된 지도의 중심좌표 
			    	center : new kakao.maps.LatLng(firstMapLat, firstMapLng),
			        // 지도의 확대 레벨
			        level : 9
			    };
		        
		     	// 지도 생성 
		        var map = new kakao.maps.Map(mapContainer, mapOption);
		     
		      	//DB에서 가져온 map 데이터
		        var mapL = mapDb;
		         
		        //여행 경로 데이터에서 받아온 장소 데이터를 통해 지도위에 마커 생성
		        var map_positions = [];
		         
		        $.each(mapL, function (index, obj){
		         
		        	let object = {};
		         	object["content"] = obj.mapName;
		         	object["latlng"] = new kakao.maps.LatLng(obj.mapLat, obj.mapLng);
		         		
		         	map_positions.push(object);
		         	
		        });
		         	
		        for (var i = 0; i < map_positions.length; i++) {
		        	// 마커를 생성
		            var marker = new kakao.maps.Marker({
		            	map : map, // 마커를 표시할 지도
		                position : map_positions[i].latlng
		            });

		            // 마커에 표시할 인포윈도우를 생성
		            var infowindow = new kakao.maps.InfoWindow({
		             	content : map_positions[i].content, // 인포윈도우에 표시할 내용
		                removable : true
		            });

		            kakao.maps.event.addListener(marker, 'click', marker_click(map, marker, infowindow));
		         }
		         
		         
		         function marker_click(map, marker, infowindow) {
		          	return function() {
		            	infowindow.open(map, marker);
		            };
		         }
		             
		         //선을 구성하는 좌표 배열 이 좌표들을 이어서 선을 표시
		         var map_polyline = []
		         //여행 경로 데이터에서 받아온 장소 데이터를 통해 마커 사이에 선을 생성
				 
		         $.each(mapL, function (index, obj){
		          	let object2 = {};
		         	object2 = new kakao.maps.LatLng(obj.mapLat, obj.mapLng),
		         	map_polyline.push(object2);
		         		
		         });
		           

		         // 지도에 표시할 선을 생성합니다
		         var map_linePath = new kakao.maps.Polyline({
		          	 path : map_polyline, // 선을 구성하는 좌표 배열
		             strokeWeight : 3, // 선의 두께
		             strokeColor : 'black', // 선의 색깔
		             strokeOpacity : 0.7, // 선의 불투명도 (1에서 0 사이의 값, 0에 가까울수록 투명)
		             strokeStyle : 'solid' // 선의 스타일

		          });
		             
		          // 지도에 마커를 표시
		          marker.setMap(map);
		          
		          // 선 생성 
		          map_linePath.setMap(map);
		          
		          
			}).fail(reject => console.log(reject));
			
		});
		
		
		//ajax를 통해 해당 일자의 여행경로를 db에 저장
		function sendMappingData(data) {   
         	fetch('/common/tripMappingInsert', {
            	method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                // 서버 응답 처리
                //console.log("성공");
            })
            .catch(error => {
                // 응답 실패 처리
                //console.log("실패");
            });
        }
		
		//ajax를 통해 해당 일자의 여행메모를 db에 저장
		function sendMemoData(data) {  
			
			const date4 = new Date(inDate);
			
			for(var i=0; i<resdays; i++){
				//해당 구문을 통해 +1씩 증가시킴
		    	date4.setDate(date4.getDate() + i);
		    	date4.toISOString().split('T')[0]
				var textareaId = $(`#content${i+1}`);
				var textareaValue = textareaId.val();
       	 		var memoDataObj = {
       	 			
					postId: postData,
					tripDate: date4.toISOString().split('T')[0],
					content: textareaValue
				  
       	 		};
       			//객체를 배열로 변환
        		memoDataArry.push(memoDataObj);
			}
       		
         	fetch('/common/tripMemoInsert', {
            	method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                // 서버 응답 처리
                //console.log("성공");
            })
            .catch(error => {
                // 응답 실패 처리
                //console.log("실패");
            });
        }
		
		//저장, 임시저장 버튼 클릭시 id에 맞게 해당 action이 발생함
        //여행기록 임시저장
        $("#tsTripInsert").click(function() {
           $("#tripData").attr("action", "/common/tsTripRecordInsertUp").submit();
           
        });
        
        //여행기록 저장
      /*   $("#tripInsert").click(function() {
           $("#tripData").attr("action", "/common/tripRecordInsertUp").submit();
           sendMemoData(memoDataArry);
        }); */
		
		//지도 관련 스크립트 부분입니다.
		// 마커를 담는 배열
        var markers = [];
		
    	// 최종적으로 저장된 위도, 경도위 정보를 담아주는 배열
        var mapping = [];
		
    	// 지도상의 선을 초기화
        var polyline = null;
    	
     	// 생성된 마커의 위도, 경도를 담아줄 변수
        var markerPosition ;
     	
     	// 지도를 표시할 div
        var mapContainer = document.getElementById('map'), mapOption = {
           // 최초로 생성된 지도의 중심좌표 
           center : new kakao.maps.LatLng([[${tripVO.tripArea}]]),
           // 지도의 확대 레벨
           level : 7
        };
     	
     	// 지도 생성 
        var map = new kakao.maps.Map(mapContainer, mapOption);
     	
     	// 장소 검색 객체를 생성
        var ps = new kakao.maps.services.Places();

        // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성
        var infowindow = new kakao.maps.InfoWindow({
           zIndex : 1
        });
        
        //키워드 검색시 검색 실행되는 함수
        function performSearch(divId) {
            var keywordInput = document.getElementById(divId + '-keyword');
            var keyword = keywordInput.value;
        
            //.replace(/^\s+|\s+$/g 앞 뒤의 공백을 제거
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            ps.keywordSearch(keyword, function(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {
                    displayPlaces(data, divId);
                    displayPagination(pagination, divId);
                } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
                    alert('검색 결과가 존재하지 않습니다.');
                } else if (status === kakao.maps.services.Status.ERROR) {
                    alert('검색 결과 중 오류가 발생했습니다.');
                }
            });
        }
        
        $(".searchPlaces").click(function(){
        	$('#menu_wrap').attr('style', 'display:block');
        	var keywordInput = $(this).siblings(".keyword");
            var keyword = keywordInput.val();
        	console.log(keyword);
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
            }

            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch( keyword, placesSearchCB); 
        })

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 정상적으로 검색이 완료됐으면
                // 검색 목록과 마커를 표출합니다
                displayPlaces(data);

                // 페이지 번호를 표출합니다
                displayPagination(pagination);

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }

        // 검색 결과 목록과 마커를 표출하는 함수입니다
        function displayPlaces(places) {

            var listEl = document.getElementById('placesList'), 
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(), 
            bounds = new kakao.maps.LatLngBounds(), 
            listStr = '';
            
            // 검색 결과 목록에 추가된 항목들을 제거합니다
            removeAllChildNods(listEl);

            for ( var i=0; i<places.length; i++ ) {

                // 마커를 생성하고 지도에 표시합니다
                var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                    itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                bounds.extend(placePosition);

                // 검색결과 리스트와 지도에 나타난 숫자 마커 mouseover시 인포윈도우 나오고 mouseout하면 사라짐
                (function(marker, pname, praddress, paddress, plat, plng) {
                    //kakao.maps.event.addListener(marker, 'mouseover', function() {
                    //    displayInfowindow(marker, pname);
                    //});

                    //kakao.maps.event.addListener(marker, 'mouseout', function() {
                    //    infowindow.close();
                    //});

                    //itemEl.onmouseover =  function () {
                    //    displayInfowindow(marker, pname);
                    //};

                    //itemEl.onmouseout =  function () {
                    //    infowindow.close();
                    //};
                    
                    
                 // 리스트의 아이템을 클릭하면 정보들을 text 영역으로 전송 (hidden 사용가능)
                    itemEl.onclick = function() {
                               
                       //여행경로에 추가할지 여부를 확인하는 함수
                       function addTripMarker(){
                          if(confirm(pname + "을 경로에 추가하시겠습니까?")){
                        	  	 markerPosition = new kakao.maps.LatLng(plat, plng);
                                 alert("추가 되었습니다.");
                                  return;
                              }else{
                                    return;
                              }
                       }
                       
                       //함수 호출
                       addTripMarker();
                       
                       var marker = new kakao.maps.Marker({
                          
                          content : pname,
                          
                          map : map, // 마커를 표시할 지도

                          position : markerPosition
                       });
                       
                       marker.polyline = null; // 선 정보를 저장할 프로퍼티 추가

                       var infowindow = new kakao.maps.InfoWindow({

                          content : pname, // 인포윈도우에 표시할 내용

                          removable : true

                       });

                       kakao.maps.event.addListener(marker, 'click', function() {
                          
                          //여행경로를 삭제할지 여부를 확인하는 함수
                          function deleteTripMarker(){
                             if(confirm(pname + "을 경로에서 삭제하시겠습니까?")){
                                    // 마커 클릭 시 해당 마커와 그에 따른 선을 지우는 함수 호출
                                deleteMarkerAndLine(marker);
                                alert("삭제 되었습니다.");
                                     return;
                                 }else{
                                       return;
                                 }
                          }
                          deleteTripMarker();
                       });
                       

                       // 마커를 배열에 추가하고, 마커들끼리 순서대로 선을 그립니다.
                       markers.push(marker);
                       drawConnectingLines();
                       
                       mapping.push({
                             mapLat: plat, mapLng: plng, mapName: pname
                         });
                    };
                    
                 	// 새로운 마커들끼리 선을 그리는 함수
                    function drawConnectingLines() {
                    	// 기존에 그려진 선들을 모두 제거합니다.
                        for (var i = 0; i < markers.length; i++) {
                        	if (markers[i].polyline) {
                            	markers[i].polyline.setMap(null);
                            }
                        }

                        for (var i = 0; i < markers.length - 1; i++) {
                      		 var linePath = [markers[i].getPosition(), markers[i + 1].getPosition()];

                             markers[i].polyline = new kakao.maps.Polyline({
                                 path: linePath,
                                 strokeWeight: 3,
                                 strokeColor: '#ff0000',
                                 strokeOpacity: 0.7,
                                 strokeStyle: 'solid'
                             });

                             markers[i].polyline.setMap(map);
                         }
                    }
                    
                	// 마커와 그에 따른 선을 지우는 함수
                    function deleteMarkerAndLine(marker) {
                        var markerIndex = markers.indexOf(marker);
                        if (markerIndex !== -1) {
                            mapping.splice(markerIndex, 1);
                            markers.splice(markerIndex, 1);
                            marker.setMap(null);

                            // 해당 마커와 그에 따른 선을 제거
                            if (marker.polyline) {
                                marker.polyline.setMap(null);
                            }

                            // 다른 마커와 연결된 선도 함께 다시 그림
                            drawConnectingLines();
                        }
                    }
                })(marker
                   , places[i].place_name
                   , places[i].road_address_name
                   , places[i].address_name
                   , places[i].y
                   , places[i].x);

                fragment.appendChild(itemEl);
            }

            // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
            listEl.appendChild(fragment);
            menuEl.scrollTop = 0;

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }

        // 검색결과 항목을 Element로 반환하는 함수입니다
        function getListItem(index, places) {

            var el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                        '<div class="info">' +
                        '   <h5>' + places.place_name + '</h5>';

            if (places.road_address_name) {
                itemStr += '    <span>' + places.road_address_name + '</span>' +
                            '   <span class="jibun gray">' +  places.address_name  + '</span>';
            } else {
                itemStr += '    <span>' +  places.address_name  + '</span>'; 
            }
                         
              itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                        '</div>';           

            el.innerHTML = itemStr;
            el.className = 'item';

            return el;
        }

        // 지도 위에 표시되고 있는 마커를 모두 제거합니다
        function removeMarker() {
            for ( var i = 0; i < markers.length; i++ ) {
                markers[i].setMap(null);
            }   
            markers = [];
        }

        // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
        function displayPagination(pagination) {
            var paginationEl = document.getElementById('pagination'),
                fragment = document.createDocumentFragment(),
                i; 

            // 기존에 추가된 페이지번호를 삭제합니다
            while (paginationEl.hasChildNodes()) {
                paginationEl.removeChild (paginationEl.lastChild);
            }

            for (i=1; i<=pagination.last; i++) {
                var el = document.createElement('a');
                el.href = "#";
                el.innerHTML = i;

                if (i===pagination.current) {
                    el.className = 'on';
                } else {
                    el.onclick = (function(i) {
                        return function() {
                            pagination.gotoPage(i);
                        }
                    })(i);
                }

                fragment.appendChild(el);
            }
            paginationEl.appendChild(fragment);
        }

        // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
        // 인포윈도우에 장소명을 표시합니다
        function displayInfowindow(marker, title) {
            var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);
        }

         // 검색결과 목록의 자식 Element를 제거하는 함수입니다
        function removeAllChildNods(el) {   
            while (el.hasChildNodes()) {
                el.removeChild (el.lastChild);
            }
        }
     	
        //리스트 목록에서 클릭한 곳의 좌표
		markerPosition = [{}];
		
		//리스트 목록에서 클릭한 곳에 마커 생성
		for (var i = 0; i < markerPosition.length; i++) {
            // 마커를 생성
            var marker = new kakao.maps.Marker({
                		 	 map : map, // 마커를 표시할 지도
               				 position : markerPosition[i].latlng
            				 // 마커의 위치// 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            			 });

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
            	// 인포윈도우에 표시할 내용
            	content : markerPosition[i].content,

                removable : true

            });

            kakao.maps.event.addListener(marker, 'click', marker_click(map, marker, infowindow));

        }
		
		function marker_click(map, marker, infowindow) {

            return function() {

               infowindow.open(map, marker);

            };

        }
		
		// 지도에 마커를 표시합니다
        marker.setMap(map);
		
     	// 선택한 마커와 연결된 선을 삭제하는 함수
        function deleteSelectedMarkerAndLine() {
            var selectedMarker = markers[markers.length - 1]; // 마지막에 추가된 마커 선택

            if (selectedMarker) {
                deleteMarkerAndLine(selectedMarker);
            }
        }
		
	});        
	</script>
</body>
</html>