<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="@{layouts/default_layout}"
   layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>여행기록 수정</title>
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/map.css}">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<style>
body {
       background-color: #ffffff;
       color: #000000;
      }

.text-center {
       text-align: center;
      }

.form-control {
       width: 100%;
       padding: 10px;
       border: 1px solid #ced4da;
       border-radius: 4px;
       box-sizing: border-box;
      }

.btn {
       padding: 10px 20px;
       font-size: 16px;
       border-radius: 4px;
      }

.btn-primary {
       background-color: #007bff;
       border: none;
       color: #ffffff;
      }

.btn-primary:hover {
       background-color: #0069d9;
       color: #ffffff;
      }

.btn-secondary {
      background-color: #6c757d;
      border: none;
      color: #ffffff;
      }

.btn-secondary:hover {
      background-color: #5a6268;
      color: #ffffff;
      }
        
.ck.ck-editor {
	  width: 100%;
	  max-width: 1500px;
	  margin: 0 auto;
      }

.ck-editor__editable {
	  height: 50vh;
      }
</style>
</head>
<body>
	<div class="container">
		<div class="text-center">
			<br>
            	<h1>여행기록 수정</h1>
        	<br>
		</div>
		<div id="ls" class="text-center">
			<form id="modifyData" method="post">
				<input type="hidden" name="writerId" th:value="${session.sessionId}">
				<input type="hidden" name="postId" th:value="${tripInfo.postId}">
				<div class="mb-3" style="float: left; margin-right: 20px;">
					<select class="" id="tripArea" name="tripArea" aria-label="Default select example" th:value="${tripInfo.tripArea}" >
						<option value="" selected="selected">여행 지역</option>
						<option value="35.871159972672, 128.60183648521">대구
  						<option value="35.1798269951885, 129.075103035027">부산
  						<option value="36.01889392625669, 129.34319484447613">포항
  						<option value="36.5684065570509, 128.7295973406168">안동
  						<option value="35.85619885284879, 129.22477009676797">경주
  						<option value="35.539464253228324, 129.31158865378814">울산
  						<option value="34.85442687930827, 128.43314233985606">통영
  						<option value="34.880381383213354, 128.62132760543582">거제
					</select>				
				</div>
				<div class="mb-3" style="float: left; margin-right: 20px;">
					<select class="" id="tripDisclose" name="tripDisclose" aria-label="Default select example" th:value="${tripInfo.tripDisclose}" >
						<option value="" selected="selected">공개 여부</option>
						<option value="01">공개
  						<option value="02">비공개
					</select>				
				</div>
				<div>
					<table class="table">
						<tr>
							<th style="text-align: left; width: 20%;">작성자</th>
							<td colspan="2">
								<input type="text" id="writerId" name="writerId" size="30" class="form-control" th:value="${session.sessionId}" readonly>							
							</td>
							<th style="text-align: left; width: 20%;">수정일자</th>
        					<td colspan="2">
            					<input type="date" id="now_date" name="" size="30" class="form-control" readonly>
        					</td>						
						</tr>
						<tr>
							<th style="text-align: left; width: 20%;">타이틀</th>
       						<td colspan="5">
            					<input type="text" id="tripTitle" name="tripTitle" size="70" class="form-control" th:value="${tripInfo.tripTitle}">
        					</td>
						</tr>
						<tr>
        					<th style="text-align: left; width: 20%;">여행기간</th>
        					<td colspan="2">
            					<input type="date" id="startDay" name="startDay" size="30" class="form-control" th:value="${#dates.format(tripInfo.startDay, 'yyyy-MM-dd')}" readonly>
        					</td>
        					<td colspan="2">
            					<input type="date" id="endDay" name="endDay" size="30" class="form-control" th:value="${#dates.format(tripInfo.endDay, 'yyyy-MM-dd')}" readonly>
        					</td>
    					</tr>
    					<tr>
    						<!-- 추가 예쩡 -->
                        	<th style="text-align: left; width: 20%;">메인 이미지</th>
                         	<td colspan="5">
                           		<input type="file" id="mainImage" name="mainImage" size="50" class="form-control">
                           		<input type="button" class="btn btn-secondary mt-3 mx-2" id ="uploadBtn" value="upload">
                       		</td>
                   		</tr>
					</table>
				</div>
			</form>
			<!-- 지도영역과 여행 경로, 메모 등을 입력하는 div -->
			<div id="mapDiv" align="center" style="display:none;">
				<!-- 화면에 보여지는 지도영역 -->
				<div class="map_wrap" style="height: 800px; width: 1000px; border: solid 1px;">
         			<div id="map"style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
        		</div>
			</div>
			<div align="center">
				<div style="text-align: center;">
					<form method="post">
						<br>
						<h5>여행 메모</h5>
						<hr>
						<div th:each="mo : ${memoInfo}">
							<label>[[${mo.tripDate}]] 일정</label>
							<br>
							<textarea name="content" cols="80" rows="5">[[${mo.content}]]</textarea>
							<br>
							<input type="hidden" name="tripDate" th:value="${mo.tripDate}">
							<button type="button" class="showMap">여행경로 보기</button>
							<br>
							<br>
						</div>
						<br>
					</form>
				</div>
			</div>
		</div>
		<div align="center">
        	<button type="button" id="modifyTrip" class="btn btn-primary mt-3 mx-2">수정</button>&nbsp;&nbsp;
			<input type="button" class="btn btn-secondary mt-3 mx-2" value="취소" id="cancelBtn"/>&nbsp;&nbsp;
			<button type="button" class="btn btn-primary mt-3 mx-2" onclick="location.href='/tripRecordList'">이전으로</button>
        </div>
        <br>
	</div>
    <script th:inline="javascript">
    	$(document).ready(function() {
  			//현재 날짜 계산 - 수정일자 표시를 위해
			document.getElementById('now_date').value = new Date().toISOString().substring(0, 10);
  			
  			
			$(".showMap").click(function(){
				
				//여행경로보기 버튼 클릭시 지도영역div 나타냄
				$("#mapDiv").attr('style', 'display:block');
				
				//db의 여행 정보를 불러오는 스크립트	
				var postData = [[${tripInfo.postId}]];
				var mapDb = [];
				console.log(postData);
				
				var tData = $(this).siblings("input").val();

				var parsedDate = new Date(tData);

				var year = (parsedDate.getYear() - 100); // 연도에서 뒤의 2자리 추출
				var month = (parsedDate.getMonth() + 1); // 월 (0부터 시작하므로 1을 더함)
				var day = parsedDate.getDate(); // 일
				
				// 월과 일을 두 자리로 만들기 (0을 추가)
				if (month < 10) {
				  month = '0' + month;
				}
				if (day < 10) {
				  day = '0' + day;
				}

				var formattedDate = year + '/' + month + '/' + day;
				console.log(formattedDate);
				$.ajax({
					url: '/mapInfoList',
					type: 'Post',
					data: {
							postId : postData,
							tripDate : formattedDate
						  }
				}).done(data => {
					
					mapDb = data.tripMap;
					console.log(mapDb);
					//지도 관련 스크립트	
					
					//마커를 담을 배열
					var markers = [];
					//db에 저장된 좌표를 담아줄 배열
					var mapping = [];
					//생성된 마커를 연결하는 선 
					var polyline = null;
					
					//ajax를 통해 받은 여행경로 데이터의 첫번째 위도와 경도를 찾아서 그 값을 지도의 중심좌표로 설정
					var firstMapLat = mapDb[0].mapLat;
			        var firstMapLng = mapDb[0].mapLng;
					
					// 지도를 표시
					var mapContainer = document.getElementById('map'), mapOption = {
				    	// 최초로 생성된 지도의 중심좌표 
				    	center : new kakao.maps.LatLng(firstMapLat, firstMapLng),
				        // 지도의 확대 레벨
				        level : 9
				    };
					
					// 지도 생성 
			        var map = new kakao.maps.Map(mapContainer, mapOption);
						
			        //DB에서 가져온 map 데이터
			        var mapList = mapDb;
			         
			        //여행 경로 데이터에서 받아온 장소 데이터를 통해 지도위에 마커 생성
			        var first_positions = [];
			         
			        $.each(mapList, function (index, obj){
			         
			        	let object = {};
			         	object["content"] = obj.mapName;
			         	object["latlng"] = new kakao.maps.LatLng(obj.mapLat, obj.mapLng);
			         		
			         	first_positions.push(object);
			         	
			        });
			         	
			        for (var i = 0; i < first_positions.length; i++) {
			        	// 마커를 생성
			            var marker = new kakao.maps.Marker({
			            	map : map, // 마커를 표시할 지도
			                position : first_positions[i].latlng
			            });

			            // 마커에 표시할 인포윈도우를 생성
			            var infowindow = new kakao.maps.InfoWindow({
			             	content : first_positions[i].content, // 인포윈도우에 표시할 내용
			                removable : true
			            });

			            kakao.maps.event.addListener(marker, 'click', marker_click(map, marker, infowindow));
			         }
			         
			         
			         function marker_click(map, marker, infowindow) {
			          	return function() {
			            	infowindow.open(map, marker);
			            };
			         }
			             
			         //선을 구성하는 좌표 배열 이 좌표들을 이어서 선을 표시
			         var first_polyline = []
			         //여행 경로 데이터에서 받아온 장소 데이터를 통해 마커 사이에 선을 생성
					 
			         $.each(mapList, function (index, obj){
			          	let object2 = {};
			         	object2 = new kakao.maps.LatLng(obj.mapLat, obj.mapLng),
			         	first_polyline.push(object2);
			         		
			         });
			           


			         // 지도에 표시할 선을 생성합니다
			         var first_linePath = new kakao.maps.Polyline({
			          	 path : first_polyline, // 선을 구성하는 좌표 배열
			             strokeWeight : 3, // 선의 두께
			             strokeColor : 'black', // 선의 색깔
			             strokeOpacity : 0.7, // 선의 불투명도 (1에서 0 사이의 값, 0에 가까울수록 투명)
			             strokeStyle : 'solid' // 선의 스타일

			          });
			             
			          // 지도에 마커를 표시
			          marker.setMap(map);
			          
			          // 선 생성 
			          first_linePath.setMap(map);
					
				}).fail(reject => console.log(reject));
					//ajax 실패시 출력되는 부분
			})
			
			$("#modifyTrip").click(function() {
				console.log(typeof tripTitle);
	            $("#modifyData").attr("action", "/common/tripRecordModify").submit();
	            
	            
	            fetch('/common/tripMemoInsert', {
	            	method: 'POST',
	                headers: {
	                    'Content-Type': 'application/json',
	                },
	                body: JSON.stringify(data),
	            })
	            .then(response => response.json())
	            .then(result => {
	                // 서버 응답 처리
	                //console.log("성공");
	            })
	            .catch(error => {
	                // 응답 실패 처리
	                //console.log("실패");
	            });
	            
	            
	         });
  			
    	});
  		
		
  	</script>
</body>
</html>