<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Azenta Template">
<meta name="keywords" content="Azenta, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>여행기록 등록</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/map.css}" >
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="map_wrap" style="height:700px; width:500px; border: solid 1px;">
			<div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
			<div class="option">
	 		</div>
			<hr>
			<div id="wrapper">
				<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=&libraries=services"></script>
				<script>
				var mapContainer = document.getElementById('map'), // 지도를 표시할 div id 
				mapOption = {
				// 지도의 중심좌표
				center : new kakao.maps.LatLng(35.871159972672, 128.60183648521),
				// 지도의 확대 레벨
				level : 8
				};
				// 지도를 생성    
				var map = new kakao.maps.Map(mapContainer, mapOption);
				</script>
			</div>
		</div>
		<form name="insertForm" method="post" th:object="${tripVO}" enctype="multipart/form-data">
			<!-- <input type="hidden" value="T2" id="tripSave" name="tripSave"> -->
			<table>
				<tr>
					<th>작성자 아이디</th>
					<td>
						<input type="text" name="writerId">
					</td>
				</tr>
				<tr>
					<th>여행 타이틀</th>
					<td>
						<input type="text" name="tripTitle">
					</td>
				</tr>
				<tr>
					<th>여행 일정</th>
					<td>
						[[${startDay}]] ~ [[${endDay}]]
						<input type="date" name="startDay" value=""> ~ <input type="date" name="endDay">
					</td>
				</tr>
				<tr>
					<th>여행기록 메인 사진 등록</th>
					<td>
						<input type="file" name="file">
					</td>
				</tr>
				<tr>
					<th>여행 경로</th>
					<td>
						<label></label>
					</td>
				</tr>
				<tr>
					<th>공개여부</th>
					<td>
						<input type="radio" value="01" id="tripDisclose" name="tripDisclose" checked="checked"> 
						<label for="tripDisclose">공개</label> 
						<input type="radio" value="02" id="tripDisclose" name="tripDisclose"> 
						<label for="tripDisclose">비공개</label>
					</td>
				</tr>
				<tr>
					<th>공유여부</th>
					<td><input type="radio" value="01" id="tripShare"
						name="tripShare" checked="checked"> <label for="tripShare">가능</label>
						<input type="radio" value="02" id="tripShare" name="tripShare">
						<label for="tripShare">불가능</label></td>
				</tr>
			</table>
			<div>
				<button type="submit" id="tsTripInsert">임시저장</button>
				<button type="submit" id="tripInsert">등록</button>
				<button type="reset">취소</button>
				<button type="button" onclick="location.href='tripRecordList'">목록으로</button>
			</div>
		</form>		
		<script>
			//여행기록 임시저장
			$("#tsTripInsert").click(function() {
				$("form").attr("action", "tsTripRecordInsert");
			});
			
			//여행기록 저장
			$("#tripInsert").click(function() {
				$("form").attr("action", "/tripRecordInsert");
			});
			
			document.querySelector('form[name="insertForm"]').addEventListener('submit', function(e) {
				e.preventDefault();
				let title = document.getElementsByName('tripTitle')[0];
				if (title.value == '') {
					alert('여행제목이 입력되지 않았습니다.')
					title.focus();
					return;
				}
				insertForm.submit();
			});	
		</script>
	</div>
</body>
</html>