<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Azenta Template">
<meta name="keywords" content="Azenta, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>여행경로 선택</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/map.css}">
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<div class="map_wrap" style="height: 800px; width: 700px; border: solid 1px;">
			<div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;"></div>
			<hr>
			<!-- 클릭 시 마커 생성 -->
			<div id="clickLatlng"></div>
		</div>
		<!-- 키워드 검색 -->
		<div class="option">
			<div>
				<input type="text" value="" id="keyword" size="50" placeholder="키워드를 입력 해주세요.">
				<button onclick="initMap(); return false;">검색하기</button>
			</div>
		</div>
		<!-- 키워드 검색 결과를 나타냄 -->
		<div id="menu_wrap" class="bg_white" style="margin-left: 710px; margin-top: 250px; height: 800px; width: 700px; border: solid 1px;">
			<ul id="placesList"></ul>
			<div id="pagination"></div>
		</div>
		<div id="wrapper">
			<script th:src="@{/js/tripMappingInsert.js}"></script>
			<div>
				<!-- 위도 및 경도 좌표 및 위치정보 -->
				<input type="text" id="fulladdress" name="fulladdress"
					style="width: 90%;" disabled> <input type="text" id="pname"
					name="pname" value=""> <input type="text" id="paddress"
					name="paddress" value=""> <input type="text" id="latclick"
					name="latclick" value=""> <input type="text" id="lngclick"
					name="lngclick" value="">
			</div>
		</div>
	</div>
</body>
</html>