<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>여행기록 상세조회</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<style>

.insertForm {
  background-color: #2cbdb8;
  color: whitesmoke;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px 15px;
  cursor: pointer;
  white-space: nowrap;
  margin: 3px;
  height: 38px;
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333;
}

h1 {
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

th {
	background-color: #f5f5f5;
}

textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	resize: none;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #222;
}

p {
    padding: 5px;
    margin-bottom: 5px;
    margin-left : 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin: 10px;
	padding: 10px;
}

#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 90px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

#modalBody {
  width: 900px;
  height: 800px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#modalBody textarea {
  width: 100%;
  height: 100px; /* 원하는 높이로 조절하세요 */
  padding: 10px;
  border: 1px solid #ddd;
  resize: none;
  margin-bottom: 10px;
}

/* 모달 내부의 table 스타일 */
#modalBody table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

#modalBody th, #modalBody td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#modalBody th {
  background-color: #f5f5f5;
  width: 30%;
  text-align: center;
}

#modalBody td a {
  text-decoration: none;
}

.ck.ck-editor {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}
		
.ck-editor__editable {
	height: 50vh;
}

</style>
</head>
<script src ="/ckeditor5-build-classic/ckeditor.js"></script>
<body>
<div class="container">
    <div class="text-center">
        <br>
        <h1>여행 기록 상세 조회</h1>
        <br>
    </div>
    <!-- 여행 기록 info & map 영역 -->
    <div id="ls" class="text-center">
        <table border="1">
            <tr>
                <th colspan="2">작성자</th>
                <td colspan="2" align="center" th:text="${tripInfo.writerId}"></td>
                <th colspan="1">등록일자</th>
                <td colspan="1" align="center" th:text="${#dates.format(tripInfo.registDay, 'yy년 MM월 dd일')}"></td>
                <th colspan="1">조회수</th>
                <td colspan="1" align="center" th:text="${tripInfo.hit}"></td>
            </tr>
            <tr>
                <th colspan="2">여행 타이틀</th>
                <td colspan="6" align="center" th:text="${tripInfo.tripTitle}"></td>
            </tr>
            <tr>
                <th colspan="2">여행 일자</th>
                <td colspan="6" align="center">[[${#dates.format(tripInfo.startDay, 'yy년 MM월 dd일')}]] ~ [[${#dates.format(tripInfo.endDay, 'yy년 MM월 dd일')}]]</td>
            </tr>
        </table>
    </div>
    <br>
    <div style="display: flex; margin-left: 10px;">
        <div class="map_wrap" style="height: 800px; width: 50%; border: solid 1px;">
            <div id="map" style="width: 100%; height: 100%; position: relative; overflow: hidden;">
            </div>
        </div>
        <!-- 여행 경로, 메모 영역 -->
       <div style="width: 50%; margin-left: 20px; overflow-y: auto; max-height: 800px;">
           <div C>
               <form>
                  <br>
                  <!-- iterStat는 타임리프 내장변수로 반복하는 아이템의 인덱스, 카운트 정보를 제공해줌 -->
                  <div th:each="mo, iterStat: ${memoInfo}">
                     <h5 th:text="'Day ' + ${iterStat.count} + ' 일차 메모' "></h5>
                     <h6>([[${#strings.substring(mo.tripDate, 0, 10)}]])</h6>
                     <textarea name="content" cols="80" rows="5" th:text="${mo.content}"></textarea>
                     <button style="margin-top: 10px;" type="button" id="showMap" class="btn btn-secondary">여행경로 보기</button>
                     <input type="hidden" name="tripDate" th:value="${mo.tripDate}">
                     <br>
                     <br>
                  </div>
                  <br>
              </form>
           </div>
       </div>
    </div>
    <div >
    
    </div>
    
    <!-- 여행후기 등록 모달 -->
    <div id="modalWrap">
		<div id="modalContent">
	    	<div id="modalBody">
	        	<div id="modalData">
	     	    	<div class="text-center">
           		    	<br>
               			<h3>여행 후기 작성</h3>
               			<br>
        			</div>
        			<div id="ls" class="text-center">
						<form id="reviewInsert" method="post">
							<input type="hidden" name="postId" th:value="${tripInfo.postId}">
  							<div>
  								<table class="table">
  									<tr>
  										<th style="text-align: left; width: 20%;">작성자</th>
  										<td colspan="5">
  											<input type="text" name="writerId" th:value="${session.sessionId}" class="form-control">
  										</td>
  									</tr>
  									<tr>
  										<th style="text-align: left; width: 20%;">여행 후기</th>
  										<td colspan="5">
  											<textarea  id="editor" placeholder="내용을 입력해주세요." ></textarea>
  										</td>
  									</tr>
  								</table> 
  							</div>
  							<div style ="margin-top: 10px;"> 
  								<button type="reset" class="btn btn-secondary mx-2">취소</button>
  								<button type="button" id="closeBtn" class="btn btn-secondary mx-2">닫기</button>
  								<button type="submit" class="insertForm" id="tripInsert">등록</button> 
							</div>
						</form>	
					</div>						
	     		</div>
	    	</div>
	  	</div>
	</div>
	<div align="center" style="margin-top: 10px;">
		<!-- href 속성값을 사용하여 modal을 띄워주는 링크 -->
		<button th:if="${session.sessionId} != null and ${session.sessionId} == ${tripInfo.writerId} and ${tripInfo.tripSave} == 'T2' and ${tripInfo.tripReviewPost} == null" 
		id="buttonWrap" class="insertForm">여행후기 등록</button>
		<button th:if="${session.sessionId} != null and ${tripInfo.tripSave} == 'T2' and ${tripInfo.tripReviewPost} != null" 
		id="tripReview" class="insertForm">여행후기 보기</button>
	</div>
    <!-- 여행 후기 등록 모달 끝 -->
    <hr>
    <div align="center" style="margin-bottom: 20px;">
    	<input type="hidden" name="postId" th:value="${tripInfo.postId}">
        <button th:if="${session.sessionId} != null and ${session.sessionId} == ${tripInfo.writerId}" type="button" class="btn btn-primary mt-3 mx-2"
        th:onclick="|location.href='@{/common/tripRecordModifyForm(postId=${tripInfo.postId})}'|">수정</button>&nbsp;&nbsp;
        <button th:if="${session.sessionId} != null and ${session.sessionId} == ${tripInfo.writerId}" id="tripDelbtn" type="button" class="btn btn-secondary mt-3 mx-2">삭제
        </button>&nbsp;&nbsp;
        <button type="button" onclick="location.href='/tripRecordList'" class="btn btn-primary mt-3 mx-2">목록으로</button>
    </div>
</div>
	<script th:inline="javascript">
	$(document).ready(function(){
		
		//모달 부분에서 로그인 페이지로 이동할때 약간 이상
		//modal 창 띄우는 구문
		var btn = $("#btnWrap");
		const modal = document.getElementById('modalWrap');
		const closeBtn = document.getElementById('closeBtn');
		
		$("#buttonWrap").click(function() {
			//모달창 띄우기
			modal.style.display = 'block';
		
		})
		
		closeBtn.onclick = function() {
			modal.style.display = 'none';
		}
			  
		window.onclick = function(event) {
			if (event.target == modal) {
		   		modal.style.display = "none";
		    }
		}
		
		
		//에디터 관련
		ClassicEditor
		.create(document.querySelector('#editor'), {
			/* htmlEncodeOutput: false, */
			ckfinder: {
				uploadUrl : '/common/upload'	
			}	
		})
		.then(editor => {

			var formObj = $("#reviewInsert");
			var str="";

			$("button[type='submit']").on("click",function(event){
				event.preventDefault();		
				const data = editor.getData();
				var pId = [[tripInfo.postId]];
				let objData = serializeObject();
				var combinedData={
						 tripReviewPost: data
				};
				//console.log(combinedData.content);	
				str +="<input type='hidden' name='tripReviewPost' value='"+combinedData.tripReviewPost+"'>";			
				const imgTags = Array.from(new DOMParser().parseFromString(data, 'text/html').querySelectorAll('img'));	
				const filenames = imgTags.map(img=> {
					const src = img.getAttribute('src');
					return src;
				});		
				$.each(filenames,function(i,obj){
					str += "<input type ='hidden' name='editorAttachList["+i+"].savedImg' value='c:/"+obj+"'>";
				});	
			formObj.append(str);
			    	
			if (data == '' || data == null) {
                alert("후기 내용을 작성하세요");
                return;
            } else {
                // Ajax를 사용하여 데이터 전송
                $.ajax({
                    type: "POST",
                    url: "/common/reviewInsert", // 서버 엔드포인트 URL을 설정하세요.
                    data: formObj.serialize(), // 폼 데이터를 직렬화하여 전송합니다.
                    success: function (response) {
                    	Swal.fire({
      	        		  icon: 'success',                      
      	        		  title: '등록되었습니다.'
      	        		  
      	        		});
                    	modal.style.display = 'none';
                    },
                    error: function (error) {
                    }
                });
            }
        })
    })
    .catch(error => {
        console.error(error);
    });
			
			function serializeObject(){
				let formData = $('#reviewInsert').serializeArray();
				let formObject={};
				$.each(formData, function(idx,obj){
					//let field = obj.name;
					//let val= obj.value;
					formObject[obj.name] = obj.value;
					//formObject[field] = val;
				});
				
				return formObject;
			}
		
		
		
	   //페이지 호출시 기본으로 보여줄 지도
		
    	// 지도를 표시할 div
       var mapContainer = document.getElementById('map'), mapOption = {
          // 최초로 생성된 지도의 중심좌표
          //추가적으로 작업해야하는게 해당 지역에 맞는 위도 경도를 받아와야함
          center : new kakao.maps.LatLng(35.871159972672, 128.60183648521),
          // 지도의 확대 레벨
          level : 7
       };
    	
    	// 지도 생성 
       var map = new kakao.maps.Map(mapContainer, mapOption);

		$(".btn.btn-secondary#showMap").click(function(){			
			//db의 여행 정보를 불러오는 스크립트	
			var postData = [[${tripInfo.postId}]];
			var mapDb = [];
			
			
			var tData = $(this).siblings("input").val();

			var parsedDate = new Date(tData);

			var year = (parsedDate.getYear() - 100); // 연도에서 뒤의 2자리 추출
			var month = (parsedDate.getMonth() + 1); // 월 (0부터 시작하므로 1을 더함)
			var day = parsedDate.getDate(); // 일

			// 월과 일을 두 자리로 만들기 (0을 추가)
			if (month < 10) {
			  month = '0' + month;
			}
			if (day < 10) {
			  day = '0' + day;
			}

			var formattedDate = year + '/' + month + '/' + day;
			
			$.ajax({
				url: '/mapInfoList',
				type: 'Post',
				data: {
						postId : postData,
						tripDate : formattedDate
					  }
			}).done(data => {
				mapDb = data.tripMap;
				//지도 관련 스크립트	
				
				if(mapDb == ''){
					Swal.fire({
	            		  icon: 'warning',                    
	            		  title: '해당 일자에 등록된 여행 경로가 없습니다.'
	            		});
	           	}
				else{
				
				//마커를 담을 배열
				var markers = [];
				//db에 저장된 좌표를 담아줄 배열
				var mapping = [];
				//생성된 마커를 연결하는 선 
				var polyline = null;
				
				//ajax를 통해 받은 여행경로 데이터의 첫번째 위도와 경도를 찾아서 그 값을 지도의 중심좌표로 설정
				var firstMapLat = mapDb[0].mapLat;
		        var firstMapLng = mapDb[0].mapLng;
				
				// 지도를 표시
				var mapContainer = document.getElementById('map'), mapOption = {
			    	// 최초로 생성된 지도의 중심좌표 
			    	center : new kakao.maps.LatLng(firstMapLat, firstMapLng),
			        // 지도의 확대 레벨
			        level : 9
			    };
				
				// 지도 생성 
		        var map = new kakao.maps.Map(mapContainer, mapOption);
					
		        //DB에서 가져온 map 데이터
		        var mapList = mapDb;
		         
		        //여행 경로 데이터에서 받아온 장소 데이터를 통해 지도위에 마커 생성
		        var first_positions = [];
		         
		        $.each(mapList, function (index, obj){
		         
		        	let object = {};
		         	object["content"] = obj.mapName;
		         	object["latlng"] = new kakao.maps.LatLng(obj.mapLat, obj.mapLng);
		         		
		         	first_positions.push(object);
		         	
		        });
		         	
		        for (var i = 0; i < first_positions.length; i++) {
		        	// 마커를 생성
		            var marker = new kakao.maps.Marker({
		            	map : map, // 마커를 표시할 지도
		                position : first_positions[i].latlng
		            });

		            // 마커에 표시할 인포윈도우를 생성
		            var infowindow = new kakao.maps.InfoWindow({
		             	content : first_positions[i].content, // 인포윈도우에 표시할 내용
		                removable : true
		            });

		            kakao.maps.event.addListener(marker, 'click', marker_click(map, marker, infowindow));
		         }
		         
		         
		         function marker_click(map, marker, infowindow) {
		          	return function() {
		            	infowindow.open(map, marker);
		            };
		         }
		             
		         //선을 구성하는 좌표 배열 이 좌표들을 이어서 선을 표시
		         var first_polyline = []
		         //여행 경로 데이터에서 받아온 장소 데이터를 통해 마커 사이에 선을 생성
				 
		         $.each(mapList, function (index, obj){
		          	let object2 = {};
		         	object2 = new kakao.maps.LatLng(obj.mapLat, obj.mapLng),
		         	first_polyline.push(object2);
		         		
		         });
		           


		         // 지도에 표시할 선을 생성합니다
		         var first_linePath = new kakao.maps.Polyline({
		          	 path : first_polyline, // 선을 구성하는 좌표 배열
		             strokeWeight : 3, // 선의 두께
		             strokeColor : 'black', // 선의 색깔
		             strokeOpacity : 0.7, // 선의 불투명도 (1에서 0 사이의 값, 0에 가까울수록 투명)
		             strokeStyle : 'solid' // 선의 스타일

		          });
		             
		          // 지도에 마커를 표시
		          marker.setMap(map);
		          
		          // 선 생성 
		          first_linePath.setMap(map);
				}
				
			}).fail(reject => console.log(reject));
				//ajax 실패시 출력되는 부분
		})
		
		//게시글 삭제버튼 클릭시
		$("#tripDelbtn").click(function(){
			postId = $(this).siblings("input[name=postId]").val();
			
			Swal.fire({
		    	icon: 'warning',                      
		     	title: '삭제 하시겠습니까?.',
		      	showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: '삭제',
				cancelButtonText: '취소',
		    }).then((result) => {
			   	if (result.isConfirmed) {
			   		Swal.fire({
		                icon: 'success',
		                title: '삭제 되었습니다.'
		            }).then(() => {
		                location.href = `/common/tripRecordDelete?postId=${postId}`;
		            });
				}
			})
		});
		
		//여행기간이 지나면 스케줄러를 통해 자동으로 여행완료 상태로 업데이트
		//여행 완료상태에서는 본인의 게시글에 여행후기 등록 버튼 활성화
		
	})
	</script>	
</body>
</html>