<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Azenta Template">
<meta name="keywords" content="Azenta, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>여행기록 전체 조회</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<!-- include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.css" />
<style>
.insertForm {
  background-color: #2cbdb8;
  color: whitesmoke;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  padding: 5px 15px;
  cursor: pointer;
  white-space: nowrap;
  margin: 3px;
  height: 44px;
}

.text-center {
       text-align: center;
      }

.form-control {
       width: 100%;
       padding: 10px;
       border: 1px solid #ced4da;
       border-radius: 4px;
       box-sizing: border-box;
      }

.btn {
       padding: 10px 20px;
       font-size: 16px;
       border-radius: 4px;
      }

.btn-primary {
       background-color: #007bff;
       border: none;
       color: #ffffff;
      }

.btn-primary:hover {
       background-color: #0069d9;
       color: #ffffff;
      }

.btn-secondary {
      background-color: #6c757d;
      border: none;
      color: #ffffff;
      }

.btn-secondary:hover {
      background-color: #5a6268;
      color: #ffffff;
      }


#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

#modalBody {
  width: 600px;
  height: 420px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#modalBody textarea {
  width: 100%;
  height: 100px; /* 원하는 높이로 조절하세요 */
  padding: 10px;
  border: 1px solid #ddd;
  resize: none;
  margin-bottom: 10px;
}

/* 모달 내부의 table 스타일 */
#modalBody table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

#modalBody th, #modalBody td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#modalBody th {
  background-color: #f5f5f5;
  width: 30%;
  text-align: center;
}

#modalBody td a {
  text-decoration: none;
}

</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- 페이지 제목 부분 -->
		<section class="breadcrumb-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-text">
							<h2>여행 기록</h2>
							<div class="col-lg-12">
								<div id="modalWrap">
	 								 <div id="modalContent">
	    								<div id="modalBody">
	     									<div id="modalData">
	     										<div class="text-center">
           											<br>
               										<h3>여행 메이트 글 등록</h3>
               										<br>
        										</div>
        										<div id="ls" class="text-center">
												<form name="sendData" action="/common/tripRecordInsertForm" method="post">
													<input type="hidden" name="writerId" th:value="${session.sessionId}">
  													<div class="mb-3" style="float: left; margin-right: 20px;">
  														<select id="tripArea" name="tripArea">
  															<option value="" selected="selected">여행 지역</option>
  															<option value="35.871159972672, 128.60183648521">대구
  															<option value="35.1798269951885, 129.075103035027">부산
  															<option value="36.01889392625669, 129.34319484447613">포항
  															<option value="36.5684065570509, 128.7295973406168">안동
  															<option value="35.85619885284879, 129.22477009676797">경주
  															<option value="35.539464253228324, 129.31158865378814">울산
  															<option value="34.85442687930827, 128.43314233985606">통영
  															<option value="34.880381383213354, 128.62132760543582">거제
  														</select><br>
  													</div>
  													<div class="mb-3" style="float: left; margin-right: 20px;" >
                 										<select class="" id="tripDisclose" name="tripDisclose" aria-label="Default select example" >
                  											<option value="" selected="selected">공개여부</option>
                  											<option value="O1">공개</option>
                  											<option value="O2">비공개</option>
               											</select>
              										</div>
  													<div>
  														<table class="table">
  															<tr>
  																<th style="text-align: left; width: 20%;">타이틀</th>
  																<td colspan="5">
  																	<input type="text" name="tripTitle" placeholder="타이틀을 입력 해주세요." class="form-control">
  																</td>
  															</tr>
  															<tr>
                       											<th style="text-align: left; width: 20%;">여행기간</th>
                       											<td colspan="2">
                           											<input type="date" id="startDay" name="startDay" class="form-control">
                       											</td>
                       											<td colspan="2">
                           											<input type="date" id="endDay" name="endDay" class="form-control">
                       											</td>
                  	 										</tr>
  														</table> 
  													</div>
  													<div style ="margin-top: 30px;"> 
  														<button type="reset" class="btn btn-secondary mx-2">취소</button>
  														<button type="button" id="closeBtn" class="btn btn-secondary mx-2">닫기</button>
  														<button type="submit" class="insertForm" id="tripInsert">여행일정 작성</button> 
													</div>
												</form>	
												</div>						
	     									</div>
	    								</div>
	  								</div>
								</div>
								<!-- href 속성값을 사용하여 modal을 띄워주는 링크 -->
								<button id="buttonWrap" class="primary-btn">여행기록 등록</button>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<br>
		<div style="float:right; margin-right: 150px;">
			<select id="searchBy" name="searchBy">
				<option value="writerId">아이디로 검색</option>
				<option value="tripTitle">타이틀로 검색</option>
			</select> &nbsp;
			<input type="text" id="keyword" name="keyword" placeholder="검색어를 입력해주세요." style="height: 40px; width: 200px;">
			<button id="searchButton" class="feature-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
		<br>
		<!-- 여행기록 section-->
		<section class="blog-section blog-page spad">
			<div class="container">
				<div class="row">
					<div th:each="tripInfo : ${tripRecordList}" th:onclick="|location.href='@{/tripRecordInfo(postId=${tripInfo.postId})}'|"
						class="col-lg-4 col-md-6">
						<div class="single-blog-item">
							<div class="sb-pic">
								<img th:if="${not #strings.isEmpty(tripInfo.loadingImg)}" th:src="${tripInfo.loadingImg}" style="height:277px;">
                            	<img th:unless="${not #strings.isEmpty(tripInfo.loadingImg)}" th:src="@{/img/no-image.png}">
							</div>
							<div class="sb-text">
								<ul>
									<li>
										<i class="fa fa-user"></i>
										<span th:text="${tripInfo.writerId}"></span>
									</li>
									<li>
										<i class="fa fa-clock-o"></i>
										<span th:text="${#dates.format(tripInfo.registDay, 'yy년 MM월 dd일')}"></span>
									</li>
									<li>
										<i class="fa"></i>
										조회수 : <span th:text="${tripInfo.hit}"></span>
									</li>
								</ul>
							 </div>
							 <div align="center">
								<h5>
									<a th:text="${tripInfo.tripTitle}"></a>
								</h5>
							</div>
						</div>
					</div>
					<th:block th:if="${#lists.isEmpty(tripRecordList)}">
						<div align="center">
							<br>
							<h5>조회된 결과가 없습니다.</h5>
							<br>
							<br>
						</div>
					</th:block>
				</div>
			</div>
			<!-- 페이징 구문 -->
			<!-- 검색키워드가 없을때 -->
			<th:block th:if="${#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{tripRecordList(nowPage=1, cntPerPage=${paging.cntPerPage})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{tripRecordList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage}">
						<a th:href="@{tripRecordList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"	th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{tripRecordList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage}">
					<a th:href="@{tripRecordList(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">&gt;&gt;</a>
				</th:block>
			</div>
			</th:block>
			<!-- 검색키워드가 있을때 -->
			<th:block th:if="${!#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{searchTripRecord(nowPage=1, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{searchTripRecord(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage and p > 0}">
						<a th:href="@{searchTripRecord(nowPage=${p}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}" th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchTripRecord(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchTripRecord(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;&gt;</a>
				</th:block>
			</div>
			</th:block>
		</section>
		<!-- 여행기록 section end -->
	<script th:inline="javascript" type="text/javascript">
	$(document).ready(function() {
		// 이벤트 설정
		$('#searchButton').on('click', search);
		
		rememberKeyword();

	// 조건검색기능
	function search(event){
		let value = $('#searchBy').val();
		let keyword = $('#keyword').val().trim();
		
		if(!keyword.replace(/^\s+|\s+$/g, '')){
			Swal.fire({
				  icon: 'warning',
			      title: '키워드를 입력해주세요.',
			    })
			    return;
		}
		
		location.href='/searchTripRecord?searchBy='+value+'&keyword='+keyword;
		rememberKeyword();
	}
	
	// 검색 기록 기억
	function rememberKeyword(){
		// 우리가 실제로 만든 셀렉트 박스의 option을 selected 설정
		$('#searchBy').val([[${searchBy}]]).prop("selected", true);
			      
		// 우리가 실제로 만든 셀렉트 박스의 변경값을 나이스 셀렉트 박스에 업데이트
		$('select').niceSelect('update');
			      
		// 검색어 입력창의 값 유지
		$('#keyword').val([[${keyword}]]);
	}
	
	document.querySelector('form[name="sendData"]').addEventListener('submit', function(e) {
		e.preventDefault();
		
		let title = document.getElementsByName('tripTitle')[0];
		let date1 = document.getElementsByName('startDay')[0];
		let date2 = document.getElementsByName('endDay')[0];
		if (title.value == '') {
			Swal.fire({
      		  icon: 'warning',                    
      		  title: '여행 타이틀을 입력해주세요.'
      		});
			title.focus();
			return;
	    }
		
		if (date1.value == '') {
			Swal.fire({
	      	   icon: 'warning',                    
	      	   title: '여행 시작일을 입력해주세요.'
	      	});
			return;
		}
		if (date2.value == '') {
			Swal.fire({
		       icon: 'warning',                    
		       title: '여행 종료일을 입력해주세요.'
		    });
			return;
		}
		sendData.submit();
		
	});
	
	//modal 창 띄우는 구문
	var btn = $("#btnWrap");
	const modal = document.getElementById('modalWrap');
	const closeBtn = document.getElementById('closeBtn');
	
	$("#buttonWrap").click(function() {
		//모달창 띄우기
		modal.style.display = 'block';
		//데이터값 가져와서 ajax 통신
		var memberId = $(this).find("td:eq(0)").text();
		var postId = $(this).find("td:eq(0)").attr('value');
		$.ajax({
			type : 'get',
			url: '/common/ajaxMember',
			data: { memberId : memberId, 
					postId : postId }
		}).done(data => {
			modalInfo(data)
		}).fail(reject => console.log(reject));
		  });
	  closeBtn.onclick = function() {
	    modal.style.display = 'none';
	  }
		  
	  window.onclick = function(event) {
	    if (event.target == modal) {
	      modal.style.display = "none";
	    }
	  }
	  //ajax 통신으로 모달창 데이터 띄우기
	function modalInfo(data){
		var modal = $("#modalData")
		var modalInfo = "";
		var birthDate = data.birthDate.substr(0, 10);
		modalInfo = `
			<input type="hidden" id="dataPostId" value="${data.postId}">
			<input type="hidden" id="dataApplyId" value="${data.applyId}">
			<input type="hidden" id="dataMemberId" value="${data.memberId}">
			<table>
				<tr>
					<th>이름</th>
					<td>${data.memberName}</td>
				</tr>
				<tr>
					<th>성별</th>
					<td>${data.gender}</td>
				</tr>
				<tr>
					<th>성별</th>
					<td>${data.nationality}</td>
				</tr>
				<tr>
					<th>생년월일</th>
					<td>${birthDate}</td>
				</tr>
			</table>
			<label>신청 내용</label>
			<textarea>${data.applyInfo}</textarea>
		`
		modal.html(modalInfo);
	}
	
	});
	</script>
	</div>
</body>
</html>