<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!-- head fragment 사용 -->
    <th:block th:replace="fragments/admin_head :: headFragment"></th:block>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/admin_header :: headerFragment"></th:block>
        
    <!-- aside + content -->    
    <section class="property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="property-sidebar">
                        <h4>관리자 마이페이지</h4>
                        <form action="#" class="sidebar-search">
                            <select>
                                <option value="">회원관리</option>
                                <option value="">- 회원정보관리</option>
                                <option value="">- 권한승인요청내역</option>
                            </select>
                            <select>
                                <option value="">신고 현황 및 제재 관리</option>
                                <option value="">- 새로운 신고 내역 관리</option>
                                <option value="">- 제재 처리 내역 관리</option>
                            </select>
                            <select>
                                <option value="">상품 판매 및 예약 관리</option>
                                <option value="">- 특산물 판매 관리</option>
                                <option value="">- 패키지 여행 상품 관리</option>
                            </select>
                            <select>
                                <option value="">문의 내역 관리</option>
                            </select>
                            <select>
                                <option value="">공지 관리</option>
                            </select>
                            <!-- 작업중 -->
                            <div>
	                        	<h6><b>일반사용자</b></h6>
	                        	<a href="/myPage"><h6>마이페이지</h6></a>
	                        	<a href="/cartList "><h6>장바구니</h6></a>
	                        	<a href="/common/buyPkList "><h6>구매내역 패키지</h6></a>
	                        	<a href="/common/buySpList "><h6>구매내역 특산물</h6></a>
	                        	<a href="/myMtList "><h6>여행메이트 좋아요</h6></a>
	                        	<a href="/common/memberQue "><h6>멤버 문의글</h6></a>
	                        	<a href="/myPageTrip "><h6>미완료 여행기록</h6></a>
	                        	<a href="/myPageNotTrip "><h6>임시저장 여행기록</h6></a>
	                        	<a href="/myPageComTrip "><h6>완료 여행기록</h6></a>
	                        	<a href="/common/myPageTrip "><h6>여행메이트 게시글 전체 조회</h6></a>
	                        	<h6><b>관리자</b></h6>
	                        	<a href="/guideQue"><h6>관리자 문의글</h6></a>
	                        </div>
                            
                        </form>
                    </div>
                </div>
                <div class="col-lg-9">
                	<!-- content fragment -->
					<th:block layout:fragment="content"></th:block>
                </div>
            </div>
        </div>
    </section>
    <!-- footer fragment -->
    <th:block th:replace="fragments/admin_footer :: footerFragment"></th:block>
</body>
<th:block th:replace="fragments/admin_bottom_config :: bottomConfigFragment"></th:block>
</html>