<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/myPage_layout}">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<title>문의사항</title>
<style type="text/css">
.hidden{
	border: none;
	text-align: center;
	margin: 0 auto;
}

}
</style>
<script>
$(document).ready(function() {
	$("#pk").click(function() {
		location.href="/common/buyPkList"	
	})

	$("#sp").click(function() {
		location.href="/common/buySpList"
	})
    $('.reportInfo').on('mouseover', colorDarker)
					.on('mouseleave', colorReset)
});

//마우스 오버 : 색상 어둡게
function colorDarker(event){
$(event.currentTarget).css({background: '#f2f4f5'})
		  .css({cursor: 'pointer'});		
}


//마우스릴리브 : 색상 원상복귀
function colorReset(event){
$(event.currentTarget).css({background: '#ffffff'});
}
</script>
</head>
<body>

	<div layout:fragment="content">
	<div class="table-responsive">
	<form>
		<h5>구매 목록</h5>
		<br>
     	<div class="radioButton">
	         <div class="bt-item">
	            <input type="radio" name="s-type" id="pk">
	            <label for="pk">패키지</label>
	         </div>
	         <div class="bt-item">
	            <input type="radio" name="s-type" id="sp" checked>
	            <label for="sp">특산물</label>
	         </div>
      	</div>
		<table class="table">
			<thead>
				<tr>
					<th>이름</th>
					<th>가격</th>
					<th>옵션</th>
					<th>갯수</th>
					<th>총 구매가격</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="li : ${list}">
					<tr class="reportInfo" th:onclick="|location.href='@{/common/buySpSelect(orderDetailId=${li.orderDetailId})}'|">
						<td th:text="${li.title}"></td>
						<td th:text="${li.price}"></td>
						<td th:text="${li.specialtyType}"></td>
						<td th:text="${li.quantity}"></td>
						<td th:text="${li.price * li.quantity}"></td>
					</tr>
				</th:block>
			</tbody>
			</table>
		</form>
		</div>
		<div class="property-pagination">
			<th:block th:if="${paging.startPage != 1}">
				<a th:href="@{/common/buySpList(nowPage=1, cntPerPage=${paging.cntPerPage})}"><<</a>
			</th:block>
			<th:block th:if="${paging.startPage != 1}">
				<a
					th:href="@{/common/buySpList(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
			</th:block>
			<th:block
				th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
				<th:block th:if="${p eq paging.nowPage}">
					<b th:text="${p}"></b>
				</th:block>
				<th:block th:if="${p ne paging.nowPage and p > 0}">
					<a
						th:href="@{/common/buySpList(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
						th:text="${p}"></a>
				</th:block>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage and paging.lastPage > 5}">
				<a
					th:href="@{/common/buySpList(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage and paging.lastPage > 5}">
				<a
					th:href="@{/common/buySpList(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">>></a>
			</th:block>
		</div>
	</div>
</body>
</html>