<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/myPage_layout}">
<head>
<meta charset="UTF-8">
<meta name="description" content="Azenta Template">
<meta name="keywords" content="Azenta, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>여행기록 전체 조회</title>
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">
<script>
$(document).ready(function() {
	   //현재 페이지에 데이터가 없으면 이전 페이지로 이동하는 구문
	   var hasContent = [[${paging.end}]]-[[${paging.start}]] ;
	   var currentPage = [[${paging.nowPage}]];
	   
	   // 데이터가 없고 현재 페이지가 1보다 큰 경우 이전 페이지로 자동 이동
	   if (hasContent < 0 && currentPage > 1) {
	      let selected = $('#cntPerPage').val();
	      var prevPage = currentPage - 1;
	       var prevPageUrl = location.href = 'cartList?nowPage=' + prevPage + '&cntPerPage=' + selected;
	       window.location.href = prevPageUrl; // 자동으로 이동
	   }
	   
	   $('.feature-btn').click(function(event){
		   event.stopPropagation();
		   var applyId = $(this).attr('value');// 버튼의 'th:value' 속성 값을 가져옵니다.
		   var postId = $(this).parent().parent().find("td:eq(0)").attr("value");
			Swal.fire({
				showCancelButton: true,
		       	title: '삭제 하시겠습니까?',
				    icon: 'question',
					confirmButtonText: '확인',
					cancelButtonText: '취소',
			    }).then((firstResult) => {
			    	if(firstResult.value == true){
				        var form = $("<form action='/common/myPageCancle' method='post'></form>");
				        form.append("<input type='hidden' name='applyId' value='" + applyId + "'>");
				        form.append("<input type='hidden' name='postId' value='" + postId + "'>");
				        form.appendTo("body").submit();
			    	}
				})
	        

	   })

	   $("#comButton").click(function(){
		   location.href='/common/myPageMate'
	   })
	   $("#appButton").click(function(){
		   location.href='/common/myPageAppMate'
	   })

	   
	   $('.entranceChat').click(function(event){
		   event.stopPropagation();
		   
		   let channelKey = $(this).data('roomNumber');
			let chatRoomUrl = "https://www.vchatcloud.com/chat-demo/iframe/iframe_kakao/v3/index.html?channelKey="+channelKey;
		    let newWindow = window.open(chatRoomUrl, "_blank", "width=391,height=691,scrollbars=no,menubar=no,toolbar=no,location=no,status=no");
		    
		    if (newWindow) {
		    	newWindow.focus();
		    } else {
		        // 팝업 차단이 활성화되어 있을 경우 대비
		        alert("팝업 차단이 활성화되어 있습니다. 팝업 차단을 해제하고 다시 시도하세요.");
		    }
	   })
	   
		$('.reportInfo').on('mouseover', colorDarker)
						.on('mouseleave', colorReset)
	});

		// 마우스 오버 : 색상 어둡게
		function colorDarker(event){
			$(event.currentTarget).css({background: '#f2f4f5'})
								  .css({cursor: 'pointer'});		
		}
		
		// 마우스릴리브 : 색상 원상복귀
		function colorReset(event){
			$(event.currentTarget).css({background: '#ffffff'});
		}

</script>
</head>
<body>
<div layout:fragment="content" style="width: 1000px">
      <div class="sidebar-btn">
         <div class="bt-item">
            <input type="radio" name="s-type" id="comButton">
            <label for="pakage">작성한 여행</label>
         </div>
         <div class="bt-item">
            <input type="radio" name="s-type" id="appButton" checked>
            <label for="mul">신청한 여행</label>
         </div>
      </div>
	<section>
		<!-- 여행기록 section-->
		<div class="table-responsive">
			<form method="post" >
				<table class="table">
					<thead>
						<tr> 
							<th>제목</th>
							<th>모집기간</th>
							<th>마감</th>
							<th>모집현황</th>
							<th>완료여부</th>
							<th>조회수</th>
							<th>채팅방</th>
							<th>취소</th>
						</tr>
					</thead>
					<tbody>
							<th:block th:each="l : ${list}">
								<tr class="reportInfo" th:onclick="|location.href='@{/tripMateInfo(postId=${l.postId})}'|">
									<td th:text="${l.mateTitle}" th:value="${l.postId}" ></td>
									<td th:text="${#dates.format(l.startDay, 'yyyy-MM-dd')} + '~' + ${#dates.format(l.endDay, 'yyyy-MM-dd')}"></td>
			    					<td th:text="${#dates.format(l.deadline, 'yyyy-MM-dd')}"></td>
			    					<td th:text="${l.applyNum} + '/' +${l.mateMax}"></td>
			    					<td th:text="${l.complition}"></td>
			    					<td th:text="${l.hit}"></td>
			    					<td><button type="button" class="btn btn-outline-dark entranceChat" th:attr="data-room-number=${l.roomNumber}" >입장</button></td>
			    					<td><button type="button" class="feature-btn" th:value="${l.applyId}">취소</button></td>
								</tr>
							</th:block>
					</tbody>
					</table>
				</form>
			</div>
			<!-- 여행기록 페이징 -->
			<div style="text-align: center" class="property-pagination">
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{/common/myPageAppMate(nowPage=1, cntPerPage=${paging.cntPerPage})}" ><<</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{/common/myPageAppMate(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<b th:text="${p}"></b>
					</th:block>
					<th:block th:if="${p ne paging.nowPage}">
						<a th:href="@{/common/myPageAppMate(nowPage=${p}, cntPerPage=${paging.cntPerPage})}" th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block
					th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{/common/myPageAppMate(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.endPage != paging.lastPage}">
					<a th:href="@{/common/myPageAppMate(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">>></a>
				</th:block>
			</div>
		</section>
	</div>

</body>
</html>