<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>여행 메이트 상세 조회</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css"></th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script"></th:block>
<style>
body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333;
}

h1 {
	color: #333;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

th {
	background-color: #f5f5f5;
}

textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	resize: none;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #222;
}

p {
    padding: 5px;
    margin-bottom: 5px;
    margin-left : 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin: 10px;
	padding: 10px;
}
    .report-form {
        display: inline;
        background-color: #f2f2f2;
        padding: 10px;
        border-radius: 5px;
    }

    .report-form label {
        font-weight: bold;
    }

    .report-form select {
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .report-form input[type="submit"] {
        background-color: #333;
        color: white;
        padding: 8px 16px;
        border: 1px solid black;
        border-radius: 0;
        cursor: pointer;
    }

    .report-form input[type="submit"]:hover {
        background-color: #222;
    }
    
 
     #comment_table {
         width: 100%;
         border-top: 1px solid rgba(50, 50, 50, 0.2);
         border-collapse: collapse;
     }

     #comment_table th, td {
         background-color: white;
         border-bottom: 1px solid rgba(50, 50, 50, 0.2);
         padding: 10px;
         margin: 10px;
     }

     #comment_table td a {
         text-decoration: none;
     }
  	/*모달 창*/

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

#btnWrap {
  width: 500px;
  margin: 100px auto;
}
#popupBtn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
}
#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

#modalBody {
  width: 500px;
  height: 420px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#modalBody textarea {
  width: 100%;
  height: 100px; /* 원하는 높이로 조절하세요 */
  padding: 10px;
  border: 1px solid #ddd;
  resize: none;
  margin-bottom: 10px;
}

/* 모달 내부의 table 스타일 */
#modalBody table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

#modalBody th, #modalBody td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#modalBody th {
  background-color: #f5f5f5;
  width: 30%;
  text-align: center;
}

#modalBody td a {
  text-decoration: none;
}
</style>
</head>
<body>
	<div align="center">
		<br>
		<br>
		<h1>여행 메이트 글 상세보기</h1>
		<br>
	</div>
	<div id="ls2" align="center">
		<table border="1" style="width: 80%;">
        <tr>
            <th width="50">여행 지역</th>
            <td width="70" align="center" th:text="${tripMateInfo.tripArea}"></td>
            <th width="50">여행 스타일</th>
            <td width="70" align="center" th:text="${tripMateInfo.tStyle}"></td>
            <th width="100">등록일자</th>
            <td width="150" align="center"
                th:text="${#dates.format(tripMateInfo.writeDate, 'yy년 MM월 dd일')}"></td>
            <th width="50">조회수</th>
            <td width="70" align="center" th:text="${tripMateInfo.hit}"></td>
        </tr>
         <tr>
        	<th width="100">작성자</th>
            <td width="110" align="center" th:text="${tripMateInfo.writerId}"></td>
            <th width="100">예상 경비</th>
            <td width="110" align="center" th:text="${#numbers.formatInteger(tripMateInfo.mateExpense, 0, 'COMMA')}"></td>
            <th width="100">모집 인원</th>
            <td width="110" align="center" th:text="${tripMateInfo.mateMax}"></td>
            <th width="100">신청 인원</th>
            <td width="110" align="center" th:text="${tripMateInfo.applyNum}"></td>
        </tr>
         <tr>
            <th colspan="1">여행 기간</th>
            <td colspan="3" align="center">[[${#dates.format(tripMateInfo.startDay, 'yy년 MM월 dd일')}]] ~
                [[${#dates.format(tripMateInfo.endDay, 'yy년 MM월 dd일')}]]
            </td>
            <th colspan="1">마감일</th>
            <td colspan="3" align="center">[[${#dates.format(tripMateInfo.deadline, 'yy년 MM월 dd일')}]]</td>
        </tr>
        <tr>
            <th colspan="1">여행 타이틀</th>
            <td colspan="7" align="center" th:text="${tripMateInfo.mateTitle}">
            </td>
        </tr>
        <tr>
        	<th colspan="1">내용</th>
        	<td colspan="7">
    			<div style="min-height: 300px;" th:utext="${tripMateInfo.mateContent}" class="contentStyle" ></div> 
    		</td>
    	</tr>
    </table>
		<br>
		<h5>신청자</h5>
		<th:block th:if="${!#lists.isEmpty(member)}">
		<table  border="1" style="width: 80%;">
			<thead>
				<tr>
					<th>아이디</th>
					<th>생년월일</th>
					<th>성별</th>
					<th>국적</th>
				</tr>
			</thead>
			<tbody id="memberData">
				<th:block th:each="tripMateInfo : ${member}">
					<tr class="btnWrap">
						<td th:text="${tripMateInfo.memberId}" th:value="${tripMateInfo.postId}"></td>
						<td th:text="${#dates.format(tripMateInfo.birthDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${tripMateInfo.gender}"></td>
						<td th:text="${tripMateInfo.nationality}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		</th:block>
		<th:block th:if="${	#lists.isEmpty(member)}">
			<table  border="1" style="width: 80%;">
			<thead>
				<tr>
					<th>아이디</th>
					<th>생년월일</th>
					<th>성별</th>
					<th>국적</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" style="text-align: center;">신청자가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		</th:block>
	
	<div id="modalWrap">
	  <div id="modalContent">
	    <div id="modalBody">
	     <div id="modalData">
	     </div>
	     <button type="button" class="feature-btn" id="cancle">반려</button>	
	     <button type="button" class="feature-btn" id="closeBtn">취소</button>
	    </div>
	  </div>
	</div>
	</div>
	<div align="center">
	    <form id="form" method="post">
	        <input type="hidden" class="postId" name="postId" th:value="${tripMateInfo.postId}">
	        <input type="hidden" name="mateWriter" th:value="${tripMateInfo.writerId}">
	        <button th:if="${session.sessionId} != null and ${session.sessionId} == ${tripMateInfo.writerId}" type="button"
	                class="feature-btn" id="mateModify">수정
	        </button>&nbsp;&nbsp;
	        <button th:if="${session.sessionId} != null and ${session.sessionId} == ${tripMateInfo.writerId}" type="button"
	                class="feature-btn" id="mateDelbtn">삭제
	        </button>&nbsp;&nbsp;
	        <button type="button" class="feature-btn" onclick="history.back()">목록으로</button>
	    </form>
	</div>
<!-- 댓글 기능 -->
<div class="row comment-div">
    <div class="col-lg-10 offset-lg-1">
        <div class="comment-option">
            <h4 class="commentCount" th:text="|${commentNum}건의 댓글|"></h4>
            <hr id="afterComment">
            <!-- 댓글 -->
            <div class="comment-container" th:each="commentInfo : ${commentList}"
                 th:attr="data-origin-comment-id=${commentInfo.originCommentId}, data-comment-id=${commentInfo.commentId}, data-writer-id=${commentInfo.writerId}">
                <div class="single-comment-item first-comment"
                     th:if="${commentInfo.commentId}==${commentInfo.originCommentId}">
                    <div class="sc-text col-12">
                        <span th:text="${#dates.format(commentInfo.registDate, 'yyyy.MM.dd')}"></span>
                        <h5 th:text="${commentInfo.writerId}"></h5>
                        <p th:text="${commentInfo.content}"></p>
                        <div class="input-group mb-3 col-11 modify-div" style="display: none;">
                            <input type="text" class="form-control modify-input" 
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary modify-btn" type="button" id="button-addon2">수정</button>
                        </div>
                        <div class="input-group mb-3 col-11" >
                            <input type="text" class="form-control insert-input" placeholder="답글 달기"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary insert-btn" type="button" id="button-addon2">등록</button>
                        </div>
                        &emsp;<a class="comment-btn update-btn">수정</a>
                        &emsp;<a class="comment-btn del-btn">삭제</a>
                    </div>
                </div>
                <!-- 대댓글 -->
                <div class="row" th:if="${commentInfo.commentId}!=${commentInfo.originCommentId}">
                    <div class="col-lg-12 offset-lg-1">
                        <div class="single-comment-item reply-comment">
                            <div class="sc-text col-11">
                                <span th:text="${#dates.format(commentInfo.registDate, 'yyyy.MM.dd')}"></span>
                                <h5 th:text="${commentInfo.writerId}"></h5>
                                <p th:text="${commentInfo.content}"></p>
                                <div class="input-group mb-3 col-11 reply-modify-div" style="display: none;">
		                            <input type="text" class="form-control reply-modify-input" 
		                                   aria-label="Recipient's username" aria-describedby="button-addon2">
		                            <button class="btn btn-outline-secondary reply-modify-btn" type="button" id="button-addon2">수정</button>
		                        </div>
                                &emsp;<a class="comment-btn reply-update-btn">수정</a>
                                &emsp;<a class="comment-btn del-btn">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-custom more-comment-div" th:if="${commentNum > 5}">
    <button type="button" class="site-btn add-comment" th:attr="data-page='1'" id="add-btn" style="margin: 0 auto;">댓글 더보기</button>
</div>
<br>
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="leave-comment">
            <h6>&nbsp;궁금한 점 남겨보아요</h6>
            <form action="#">
                <input type="text" id="commentInput" placeholder="내용">
                <div class="btn-custom">
                    <button type="button" class="site-btn" id="search">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
	
	<script th:inline="javascript">
	
	$(document).ready(function() {  
		//게시글 삭제버튼 클릭시
		$(".primary-btn#mateDelbtn").click(function(){
			postId = $(this).siblings("input[name=postId]").val();
			
			Swal.fire({
		    	icon: 'warning',                      
		     	title: '삭제 하시겠습니까?.',
		      	showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: '삭제',
				cancelButtonText: '취소',
		    }).then((result) => {
			   	if (result.isConfirmed) {
			   		Swal.fire({
		                icon: 'success',
		                title: '삭제 되었습니다.'
		            }).then(() => {
		                location.href = `/common/mateRecruitDelete?postId=${postId}`;
		            });
				}
			})
		});
		
		//게시글 수정버튼 클릭시
		$(".primary-btn#mateModify").click(function(){
			postId = $(this).siblings("input[name=postId]").val();
			location.href = `/common/mateRecruitUpdateForm?postId=${postId}`;
		});
		
		
	    //댓글 등록
	    $(document).on('click', '#search', function () {

	        let postId = $('.postId').val();
	        let content = $('#commentInput').val();

	        let commentContent = $('#commentInput').val();
	        if (commentContent == null || commentContent.replaceAll(' ', '') == '') {
	      
	            Swal.fire({
	      		  icon: 'warning',                      
	      		  title: '내용을 입력해주세요.'
	      		});
	            return;


	        }
	        //  ajax 들어가서 로그인 되어있는지 먼저 확인 - 안되면 바로 fail throw new Exception(); 예외 일부러 발생시켜주기
	        insertComment(postId, content, function (data) {
	            if (data) {
	                let totalCount = $('.commentCount').text();
	                $('.commentCount').html(data.totalCount + '건의 댓글');

	                clearComment();
	                appendComment(data.commentList);

	                Swal.fire({
	            		  icon: 'success',                    
	            		  title: '댓글이 등록되었습니다.'
	            		});
	            } else {

	            }
	        });
	    })

		$(document).on('click', '.del-btn', function() {
	        let postId = $('.postId').val();
			let commentId = $(this).parents('.comment-container').data('commentId');
			let writerId = $(this).parents('.comment-container').data('writerId');

			deleteComment(postId, commentId, writerId, function(data) {
				if(data) {
					let totalCount = $('.commentCount').text();
					$('.commentCount').html(data.totalCount + '건의 댓글');

					clearComment();
					appendComment(data.commentList);

					Swal.fire({
	          		  icon: 'success',                      
	          		  title: '댓글이 삭제되었습니다.'
	          		});
				} else {

				}
			});
		})

	    $(document).on('click', '.insert-btn', function() {
	        let postId = $('.postId').val();
	        let originCommentId = $(this).parents('.comment-container').data('originCommentId');
	        let content = $(this).siblings('.insert-input').val();

	        insertCommentReply(postId, originCommentId, content, function(data) {
	           if(data) {
	               console.log('data');
	               console.log(data);
	               let totalCount = $('.commentCount').text();
	               $('.commentCount').html(data.totalCount + '건의 댓글');

	               clearComment();
	               appendComment(data.commentList);

	               Swal.fire({
	         		  icon: 'success',                    
	         		  title: '대댓글이 등록되었습니다.'
	         		});
	           } else {

	           }
	        });
	    })

	    $(document).on('click', '#add-btn', function() {
	        let nowPage = $(this).data('page');
	        let nextPage = Number(nowPage) + 1;
	        let postId = $('.postId').val();

	        getComment(nextPage, postId, function(data) {
	            if(data) {
	                checkLastPage(nextPage);
	                appendMoreComment(data);
	                $(this).data('page', nextPage);
	            } else {

	            }
	        });
	    })

	    function clearComment() {
	        $('.comment-container').remove();
	    }

	    function appendComment(data) {
	        let node = ``;
	        for (let i = 0; i < data.length; i++) {
	            let registDate = data[i].registDate.toLocaleString('ko-KR').substr(0, 10);
				node += `
					<div class="comment-container" data-origin-comment-id="${data[i].originCommentId}" data-comment-id="${data[i].commentId}" data-writer-id="${data[i].writerId}" >
				`;
	            if (data[i].commentId == data[i].originCommentId) {
	                node += `
						<div class="single-comment-item first-comment">
							<div class="sc-text col-12">
								<span>${registDate}</span>
								<h5>${data[i].writerId}</h5>
								<p>${data[i].content}</p>
	                            <div class="input-group mb-3 col-11 modify-div" style="display: none;">
	                                <input type="text" class="form-control modify-input"
	                                       aria-label="Recipient's username" aria-describedby="button-addon2">
	                                <button class="btn btn-outline-secondary modify-btn" type="button" id="button-addon2">수정</button>
	                            </div>
	                            <div class="input-group mb-3 col-11" >
	                                <input type="text" class="form-control insert-input" placeholder="답글 달기"
	                                       aria-label="Recipient's username" aria-describedby="button-addon2">
	                                <button class="btn btn-outline-secondary insert-btn" type="button" id="button-addon2">등록</button>
	                            </div>
								&emsp;<a class="comment-btn update-btn">수정</a>
								<a class="comment-btn del-btn">삭제</a>
							</div>
						</div>
	            	`;
	            } else {
	                node += `
	                    <div class="row">
	                        <div class="col-lg-12 offset-lg-1">
	                            <div class="single-comment-item reply-comment">
	                                <div class="sc-text col-11">
	                                    <span>${registDate}</span>
	                                    <h5>${data[i].writerId}</h5>
	                                    <p>${data[i].content}</p>
	                                    <div class="input-group mb-3 col-11 reply-modify-div" style="display: none;">
	                                        <input type="text" class="form-control reply-modify-input"
	                                            aria-label="Recipient's username" aria-describedby="button-addon2">
	                                        <button class="btn btn-outline-secondary reply-modify-btn" type="button" id="button-addon2">수정</button>
	                                    </div>
	                                    <a class="comment-btn reply-update-btn">수정</a>
	                                    <a class="comment-btn del-btn">삭제</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                `;
	            }
				node += `
					</div>
				`;
	        }
	        $('#afterComment').after(node);

	        let commentCount = Number($('.commentCount').text().replace('건의 댓글', ''));
	        if(commentCount > 5) {
	            $('#add-btn').css('display', 'block');
	            $('#add-btn').data('page', '1');
	        }
	    }

	    function appendMoreComment(data) {
	        let node = ``;
	        for (let i = 0; i < data.length; i++) {
	            let registDate = data[i].registDate.toLocaleString('ko-KR').substr(0, 10);
	            node += `
					<div class="comment-container" data-origin-comment-id="${data[i].originCommentId}" data-comment-id="${data[i].commentId}" data-writer-id="${data[i].writerId}" >
				`;
	            if (data[i].commentId == data[i].originCommentId) {
	                node += `
						<div class="single-comment-item first-comment">
							<div class="sc-text col-12">
								<span>${registDate}</span>
								<h5>${data[i].writerId}</h5>
								<p>${data[i].content}</p>
	                            <div class="input-group mb-3 col-11 modify-div" style="display: none;">
	                                <input type="text" class="form-control modify-input"
	                                       aria-label="Recipient's username" aria-describedby="button-addon2">
	                                <button class="btn btn-outline-secondary modify-btn" type="button" id="button-addon2">수정</button>
	                            </div>
	                            <div class="input-group mb-3 col-11" >
	                                <input type="text" class="form-control insert-input" placeholder="답글 달기"
	                                       aria-label="Recipient's username" aria-describedby="button-addon2">
	                                <button class="btn btn-outline-secondary insert-btn" type="button" id="button-addon2">등록</button>
	                            </div>
								&emsp;<a class="comment-btn update-btn">수정</a>
								<a class="comment-btn del-btn">삭제</a>
							</div>
						</div>
	            	`;
	            } else {
	                node += `
	                    <div class="row">
	                        <div class="col-lg-12 offset-lg-1">
	                            <div class="single-comment-item reply-comment">
	                                <div class="sc-text col-11">
	                                    <span>${registDate}</span>
	                                    <h5>${data[i].writerId}</h5>
	                                    <p>${data[i].content}</p>
	                                    <div class="input-group mb-3 col-11 reply-modify-div" style="display: none;">
	                                        <input type="text" class="form-control reply-modify-input"
	                                            aria-label="Recipient's username" aria-describedby="button-addon2">
	                                        <button class="btn btn-outline-secondary reply-modify-btn" type="button" id="button-addon2">수정</button>
	                                    </div>
	                                    <a class="comment-btn reply-update-btn">수정</a>
	                                    <a class="comment-btn del-btn">삭제</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                `;
	            }
	            node += `
					</div>
				`;
	        }
	        $('.comment-option').children().last().after(node);
	    }

	    function insertComment(postId, content, callback) {
	        $.ajax({
	            type: 'POST',
	            url: '/insertComment',
	            data: {
	                'postId': postId,
	                'content': content
	            }
	        })
			.done(function (data, textStatus, jqXHR) {
				console.log('done');

				callback(data);
			})
			.fail(function (jqXHR, textStatus, errorThrown) {
				console.log('fail');

				let errorMessage = JSON.parse(jqXHR.responseText).message;
				if (errorMessage == 'no login') {
					Swal.fire({
			      		  icon: 'info',                      
			      		  title: '로그인 해주세요.',
	        		  	  text: '댓글은 로그인 후 작성할 수 있습니다.'
			      		});
				} else if (errorMessage == 'not insert') {
					Swal.fire({
		           		  icon: 'error',                      
		           		  title: '댓글이 등록되지 않았습니다.'
		           		});
				}
			})
	    }

		function deleteComment(postId, commentId, writerId, callback) {
			$.ajax({
				type: 'DELETE',
				url: '/deleteComment',
				data: {
	                'postId': postId,
					'commentId': commentId,
					'writerId': writerId
				}
			})
			.done(function (data, textStatus, jqXHR) {
				console.log('done');

				callback(data);
			})
			.fail(function (jqXHR, textStatus, errorThrown) {
				console.log('fail');

				let errorMessage = JSON.parse(jqXHR.responseText).message;
				if (errorMessage == 'no login') {
					Swal.fire({
			      		  icon: 'info',                      
			      		  title: '로그인 해주세요.',
	          		  	  text: '댓글은 로그인 후 작성할 수 있습니다.'
			      		});
				} else if (errorMessage == 'not insert') {
					Swal.fire({
	           		  icon: 'error',                      
	           		  title: '댓글이 삭제되지 않았습니다.'
	           		});
				} else if(errorMessage == 'not same') {
	                Swal.fire({
	             		  icon: 'warning',                      
	             		  title: '댓글을 삭제할 수 없습니다.',
	             		  text: '자신의 댓글만 삭제 할 수 있습니다.'
	             		});
	            }
			})
		}

	    function insertCommentReply(postId, originCommentId, content, callback) {
	        $.ajax({
	            type: 'POST',
	            url: '/insertCommentReply',
	            data: {
	                'postId': postId,
	                'originCommentId': originCommentId,
	                'content': content
	            }
	        })
	        .done(function (data, textStatus, jqXHR) {
	            console.log('done');

	            callback(data);
	        })
	        .fail(function (jqXHR, textStatus, errorThrown) {
	            console.log('fail');

	            let errorMessage = JSON.parse(jqXHR.responseText).message;
	            if (errorMessage == 'no login') {
	            	Swal.fire({
	 		      		  icon: 'info',                      
	 		      		  title: '로그인 해주세요.',
	            		  text: '댓글은 로그인 후 작성할 수 있습니다.'
	 		      		});
	            } else if (errorMessage == 'not insert') {
	            	Swal.fire({
	             		  icon: 'error',                      
	             		  title: '대댓글이 삭제되지 않았습니다.'
	             		});
	            }
	        })
	    }

	    //댓글 수정폼 띄우기
	     $(document).on('click', '.update-btn', function (){
	    	 $(this).hide();
	    	 
	    	 let modifyInput = $(this).siblings('.modify-div');
	    	 modifyInput.css('display', '');
	    	 
	     });
	    
	    $(document).on('click', '.modify-btn', function (){
	    	
	   	 	 let postId = $('.postId').val();
			 let commentId = $(this).parents('.comment-container').data('commentId');
			 let writerId = $(this).parents('.comment-container').data('writerId');
			 let content = $(this).parent().find('.modify-input').val();
			 
	         if (content == null || content.replaceAll(' ', '') == '') {
	        	 Swal.fire({
	         		  icon: 'warning',                    
	         		  title: '내용을 입력해주세요.'
	         		});
	             return;
	         }
	         
	         
	         modifyComment(postId, commentId, writerId, content, function (data) {
	             if (data) {
	                 console.log(data);
	                 let totalCount = $('.commentCount').text();
	                 $('.commentCount').html(data.totalCount + '건의 댓글');

	                 clearComment();
	                 appendComment(data.commentList);

	                 Swal.fire({
		          		  icon: 'success',                    
		          		  title: '댓글이 수정되었습니다'
		          		});
	             } else {

	             }
	         });
	         
	         function modifyComment(postId, commentId, writerId, content, callback) {
	        	 $.ajax({
	     			type: 'POST',
	     			url: '/modifyComment',
	     			data: {
	                     'postId': postId,
	     				 'commentId': commentId,
	     				 'writerId': writerId,
	     				 'content' : content
	     			}
	     		})
	     		.done(function (data, textStatus, jqXHR) {
	     			console.log('done');

	     			callback(data);
	     		})
	     		.fail(function (jqXHR, textStatus, errorThrown) {
	     			console.log('fail');

	     			let errorMessage = JSON.parse(jqXHR.responseText).message;
	     			if (errorMessage == 'no login') {
	     				Swal.fire({
	   		      		  icon: 'info',                      
	   		      		  title: '로그인 해주세요.',
	              		  text: '댓글은 로그인 후 작성할 수 있습니다.'
	   		      		});
	     			} else if (errorMessage == 'not modify') {
	     				Swal.fire({
	               		  icon: 'error',                      
	               		  title: '댓글이 수정되지 않았습니다.'
	               		});
	     			} else if(errorMessage == 'not same') {
	     				Swal.fire({
	               		  icon: 'warning',                      
	               		  title: '댓글을 수정할 수 없습니다.',
	               		  text: '자신의 댓글만 수정 할 수 있습니다.'
	               		});
	                }
	     		})
	         }
	    });
	    
	   
	    //대댓글 수정폼 띄우기
	     $(document).on('click', '.reply-update-btn', function (){
			 $(this).hide();
	    	 
	    	 let replyModifyInput = $(this).siblings('.reply-modify-div');
	    	 replyModifyInput.css('display', '');
	 		 
	     });
	    
	    //대댓글 수정하기
	    $(document).on('click', '.reply-modify-btn', function (){
	    	
	   	 	 let postId = $('.postId').val();
			 let commentId = $(this).parents('.comment-container').data('commentId');
			 let writerId = $(this).parents('.comment-container').data('writerId');
			 let content = $(this).parent().find('.reply-modify-input').val();
			 
	         if (content == null || content.replaceAll(' ', '') == '') {
	        	 Swal.fire({
	         		  icon: 'warning',                      
	         		  title: '내용을 입력해주세요.'
	         		});
	             return;
	         }
	         
	         modifyComment(postId, commentId, writerId, content, function (data) {
	             if (data) {
	                 console.log(data);
	                 let totalCount = $('.commentCount').text();
	                 $('.commentCount').html(data.totalCount + '건의 댓글');

	                 clearComment();
	                 appendComment(data.commentList);

	                 Swal.fire({
		          		  icon: 'success',                    
		          		  title: '대댓글이 수정되었습니다'
		          		});
	             } else {

	             }
	         });
	         
	         function modifyComment(postId, commentId, writerId, content, callback) {
	        	 $.ajax({
	     			type: 'POST',
	     			url: '/modifyComment',
	     			data: {
	                     'postId': postId,
	     				 'commentId': commentId,
	     				 'writerId': writerId,
	     				 'content' : content
	     			}
	     		})
	     		.done(function (data, textStatus, jqXHR) {
	     			console.log('done');

	     			callback(data);
	     		})
	     		.fail(function (jqXHR, textStatus, errorThrown) {
	     			console.log('fail');

	     			let errorMessage = JSON.parse(jqXHR.responseText).message;
	     			if (errorMessage == 'no login') {
	     				 Swal.fire({
	     		      		  icon: 'info',                      
	     		      		  title: '로그인 해주세요.',
	                		  text: '댓글은 로그인 후 작성할 수 있습니다.'
	     		      		});
	     			} else if (errorMessage == 'not modify') {
	     				Swal.fire({
	              		  icon: 'error',                      
	              		  title: '댓글이 수정되지 않았습니다.'
	              		});
	     			} else if(errorMessage == 'not same') {
	                     Swal.fire({
	                 		  icon: 'warning',                      
	                 		  title: '댓글을 수정할 수 없습니다.',
	                 		  text: '자신의 댓글만 수정 할 수 있습니다.'
	                 		});
	                }
	     		})
	         }
	    });

	    function getComment(page, postId, callback) {
	        $.ajax({
	            type: 'GET',
	            url: '/getComment',
	            data: {
	                'postId': postId,
	                'page': page
	            }
	        })
	        .done(function (data, textStatus, jqXHR) {
	            console.log('done');

	            callback(data);
	        })
	        .fail(function (jqXHR, textStatus, errorThrown) {
	            console.log('fail');


	        })
	    }

	    function checkLastPage(page) {
	        let commentCount = Number($('.commentCount').text().replace('건의 댓글', ''));
	        let lastPage = (Math.floor(commentCount/5)) + (commentCount%5 == 0 ? 0 : 1);
	        if(page == lastPage) {
	            $('#add-btn').css('display', 'none');
	        }
	    }

		//modal 창 띄우는 구문
		var btn = $("#btnWrap");
		const modal = document.getElementById('modalWrap');
		const closeBtn = document.getElementById('closeBtn');
		
		$(".btnWrap").click(function() {
			//모달창 띄우기
			modal.style.display = 'block';
			//데이터값 가져와서 ajax 통신
			var memberId = $(this).find("td:eq(0)").text();
			var postId = $(this).find("td:eq(0)").attr('value');
			$.ajax({
				type : 'get',
				url: '/common/ajaxMember',
				data: { memberId : memberId, 
						postId : postId }
			}).done(data => {
				modalInfo(data)
			}).fail(reject => console.log(reject));
			  });
		  closeBtn.onclick = function() {
		    modal.style.display = 'none';
		  }
			  
		  window.onclick = function(event) {
		    if (event.target == modal) {
		      modal.style.display = "none";
		    }
		  }
		  //ajax 통신으로 모달창 데이터 띄우기
		function modalInfo(data){
			var modal = $("#modalData")
			var modalInfo = "";
			var birthDate = data.birthDate.substr(0, 10);
			modalInfo = `
				<input type="hidden" id="dataPostId" value="${data.postId}">
				<input type="hidden" id="dataApplyId" value="${data.applyId}">
				<input type="hidden" id="dataMemberId" value="${data.memberId}">
				<table>
					<tr>
						<th>이름</th>
						<td>${data.memberName}</td>
					</tr>
					<tr>
						<th>성별</th>
						<td>${data.gender}</td>
					</tr>
					<tr>
						<th>성별</th>
						<td>${data.nationality}</td>
					</tr>
					<tr>
						<th>생년월일</th>
						<td>${birthDate}</td>
					</tr>
				</table>
				<label>신청 내용</label>
				<textarea>${data.applyInfo}</textarea>
			`
			modal.html(modalInfo);
		}
		  //신청반려버튼
		$("#cancle").click(function(){
			Swal.fire({
				showCancelButton: true,
	        	title: '반려 하시겠습니까?',
			    icon: 'question',
				confirmButtonText: '확인',
				cancelButtonText: '취소',
			    reverseButtons: true,
		    }).then((firstResult) => {
		    	console.log(firstResult)
		    	if(firstResult.value == true){
				var postId = $("#dataPostId").val()
				var applyId = $("#dataApplyId").val()
				var memberId = $("#dataMemberId").val()
				var applyNum = parseInt($("#applyNum").text());
				$.ajax({
				       url: '/common/myPageMyCancle',
				        type: 'post',
				        data: {postId : postId,
				        	   applyId : applyId,
				        	   memberId : memberId
				        }
				       }).done(data => {
				    	   modal.style.display = "none";
				    	   $('tr.btnWrap').each(function() {
				                var memberId = $(this).find('td:eq(0)').text();
				                if (memberId === data.data.memberId) {
				                    $(this).remove();
				                    var newApplyNum = applyNum - 1;
				                    $("#applyNum").text(newApplyNum);
				                }
				            });
				    	   if($('.btnWrap').length == 0){
				    		   makeNullTable()
				    	   }
				    	   $('.btnWrap').length;
				    	   console.log($('.btnWrap').length)
				
				       }).fail(reject => console.log(reject));
		    	}
		    })
	     })
	     
	     function makeNullTable(){
			var table = $('#memberData')
			var makeTd = "";
			console.log(table)
			makeTd = `
				<tr>
					<td colspan="4" style="text-align: center;">신청자가 없습니다.</td>
				</tr>
			`
			
			console.log('makeTd')
			table.html(makeTd); 
		  }
	})
		//보낸 데이터 확인 작업
		function confirmCode(){
			   
			   var number1 = $("#smsCode").val();
			   var number2 = $("#numValue").val();
			   
		        if (number1 == number2) { // 저장된 SMS 코드를 사용
		            alert("인증되었습니다.");
		        } else {
		            alert("번호가 다릅니다.");
		        }
		    }
	</script>
</body>
</html>