
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
   <html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      			layout:decorate="@{layouts/default_layout}"
      			layout:fragment="content"> 
      			

<!-- <%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
 -->
<head>
<title>NAVER LOGIN TEST</title>
</head>
<body>
<h1>Login Form</h1>
<hr>	
<br>
 
 <!-- 세션에 정보 있으면 환영합니다 + 로그아웃 가능 -->
	<!--  세션에 정보 없으면 로그인 화면 가능  나옴 -->
<center>


		<div th:if="${session.sessionId != null}">
			<h2> 네이버 아이디 로그인 성공하셨습니다!! </h2>
			<h3>'${session.sessionId}' 님 환영합니다! </h3>
            	<h3><a href="logout">로그아웃</a></h3>
            	<h3><a href="home">홈</a></h3>
        </div>
 

	
		
			<form action="naverlogin" method="post" name="frm"  style="width:470px;">
				<h2>로그인</h2>
				  <input type="text" name="id" id="id" class="w3-input w3-border" placeholder="아이디" value="${id}"> <br>
				  <input type="password" id="pwd" name="pwd" class="w3-input w3-border" placeholder="비밀번호" >	<br>
				<input type="submit" value="로그인" onclick="#"> <br>
			</form>
			<br>
			
			<!-- 네이버 로그인 창으로 이동 -->
			<div id="naver_id_login" style="text-align:center"><a th:href="@{${url}}" >
			<img width="223" src="https://developers.naver.com/doc/review_201802/CK_bEFnWMeEBjXpQ5o8N_20180202_7aot50.png"/></a></div>
			<br>
		

	
</center>
</body>
</html>