<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/admin_layout}">
	
<!-- Content -->
<!-- 기본 : 판매중인 상품 -->
<!-- 기간에 따라 정산내역 조회 다르게 할 수 있게 필터 걸어주자 -->
<div layout:fragment="content">
	<div class="container">
		<h5><b>정산 내역 관리</b></h5>
		<br>
		<form>
			<a href="#">전체내역조회</a><a href="#">정산대기중</a><a href="#">정산완료</a>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck" class="form-control"></th>
							<th>정산분류번호</th>
							<th>가이드ID</th>
							<th>정산예정금액</th>
							<th>계좌번호</th>
							<th>처리현황</th>
							<th>바로정산</th>
						</tr>
					</thead>
					<th:block th:if="${!#lists.isEmpty(list)}">
						<tbody>
							<th:block th:each="l : ${list}">
								<tr class="reportInfo">
									<td><input type="checkbox" class="form-control normalcheck"></td>
									<td align="center" th:text="l.calId"></td>
									<td align="center" th:text="l.writerId"></td>
									<td align="center" th:text="l.calAmount"></td>
									<td align="center" th:utext="|l.bankCode l.accountNumber|"></td>
									<td align="center" th:text="l.calStatus"></td>
									<td align="center" ><button type="button" class="feature-btn cal-btn">정산하기</button></td>
								</tr>
							</th:block>
						</tbody>
					</th:block>
				</table>
				<th:block th:if="${#lists.isEmpty(list)}">
					<div align="center">
						<span>조회할 정산 내역이 없습니다.</span>
					</div>
				</th:block>
			</div>
		</form>
		<!-- 페이징 구문 -->
		<!-- 검색키워드가 없을때 -->
		<th:block th:if="${#strings.isEmpty(keyword)}">
			<div style="text-align : center;" class="property-pagination">
				<th:block th:if="${paging.nowPage != 1}">
					<a th:href="@{/admin/seeAllReport(nowPage=1, cntPerPage=${paging.cntPerPage})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{/admin/seeAllReport(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}" style="background-color : #2cbdb8; color: white;"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage}">
						<a th:href="@{/admin/seeAllReport(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"	th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{/admin/seeAllReport(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage}">
					<a th:href="@{/admin/seeAllReport(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">&gt;&gt;</a>
				</th:block>
			</div>
		</th:block>
		<!-- 검색키워드가 있을때 -->
		<th:block th:if="${!#strings.isEmpty(keyword)}">
			<div style="text-align : center;">
				<th:block th:if="${paging.nowPage != 1}" class="property-pagination">
					<a th:href="@{searchAdminMember(nowPage=1, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;&lt;</a>
				</th:block>
				<th:block th:if="${paging.startPage != 1}">
					<a th:href="@{searchAdminMember(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&lt;</a>
				</th:block>
				<th:block th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
					<th:block th:if="${p eq paging.nowPage}">
						<a th:text="${p}"></a>
					</th:block>
					<th:block th:if="${p ne paging.nowPage}">
						<a th:href="@{searchAdminMember(nowPage=${p}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}" th:text="${p}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage and paging.lastPage > 5}">
					<a th:href="@{searchAdminMember(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;</a>
				</th:block>
				<th:block th:if="${paging.nowPage != paging.lastPage}">
					<a th:href="@{searchAdminMember(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage}, keyword=${keyword}, searchBy=${searchBy})}">&gt;&gt;</a>
				</th:block>
			</div>
		</th:block>
	</div>
	
	<script th:inline="javascript" type="text/javascript">
	
	$(document).ready(function() {
		// 이벤트 설정
		$('#searchButton').on('click', search);
		$('.reportInfo').on('mouseover', colorDarker)
						.on('mouseleave', colorReset)
						.on('click')
						.on('mouseup', moveToReportDetail)
	});
	
	// 조건검색기능
	function search(event){
		
		let value = $('#searchBy').val();
		let keyword = $('#keyword').val();
		location.href='/admin/searchAdminMember?searchBy='+value+'&keyword='+keyword;
		
	}
	
	// 마우스 오버 : 색상 어둡게
	function colorDarker(event){
		$(event.currentTarget).css({background: '#f2f4f5'})
							  .css({cursor: 'pointer'});		
	}
	
	// 마우스릴리브 : 색상 원상복귀
	function colorReset(event){
		$(event.currentTarget).css({background: '#ffffff'});
	}
	
	// 클릭시 신고상세내역 조회페이지로 이동(구현중)
	function moveToReportDetail(event){
		
		// 상세보기 할 report의 id값 가져오기
		let reportId = $(event.currentTarget).find('td:eq(0)').text();
		
		// 페이지 전환 실행
		location.href=`seeReportDetail?reportId=${reportId}`;
	}
	
	
	// 메시지 프린트
	
	printMessage([[${message}]]);
		
	function printMessage(message){
		
		if(message != null && message != ""){
			
			Swal.fire({
				  icon: 'success',
			      title: message,
			    })	
		
		}
		
	}
	
	</script>
</div>

</html>