<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/myPage_layout}">
<head>
<style type="text/css">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 공통 스타일 */
#btnWrap,
#btnWrapBank {
  width: 500px;
  margin: 100px auto;
}

#popupBtn,
#popupBtnBank {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
}

#modalWrap,
#modalWrapBank {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 250px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

/* 전화번호 확인 모달 스타일 */
#modalBody {
  width: 500px;
  height: 300px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

/* 계좌번호 확인 모달 스타일 */
#modalBodyBank {
  width: 500px;
  height: 370px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
    border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

</style>
</head>
	
<!-- Content -->
<div layout:fragment="content">
		<div class="container">
			<form id="update" th:object="${memberInfo}" method="post">
				<h5><b>회원정보 수정</b></h5>
				<br><br>
				<div class="table">
					<p><b>기본정보</b></p>
					<br>
					<table id="defaultInfo" class="table">
						<tbody>
							<tr>
								<th width="150" align="center">아이디</th>
								<td width="400" align="center" th:text="*{memberId}"></td>
								<th width="150" align="center">가입일자</th>
								<td width="400" align="center" th:text="*{#strings.substring(signUpDate, 0, 10)}"></td>
							</tr>
							<tr>
								<th width="150" align="center">이름</th>
								<td width="400" align="center" id="name" th:text="*{memberName}"></td>
								<th width="150" align="center"></th>
								<td width="550" align="center"></td>
							</tr>
							<tr>
								<th width="150" align="center">비밀번호</th>
								<td width="400" align="center"><input type="password" name="password" id="password" class="form-control checkStirng"></td>
								<th width="150" align="center">비밀번호 확인</th>
								<td width="400" align="center"><input type="password" id="passwordInfo" class="form-control checkStirng"></td>
							</tr>
							<tr>
								<th width="150" align="center">성별</th>
								<td width="400" align="center" th:text="*{gender}"></td>
								<th width="150" align="center">생년월일</th>
								<td width="400" align="center" th:text="*{#strings.substring(birthDate, 0, 10)}"></td>
							</tr>
							<tr>
								<th width="150" align="center">국적</th>
								<td id="nationality" width="400" align="center" th:text="*{nationality}"></td>
								<th width="150" align="center">제재횟수</th>
								<td width="400" align="center" th:text="*{punishCount}"></td>
							</tr>
														<tr align="left">
								<th width="150" align="center">주소</th>
								<td colspan="3" width="400" align="center">
								<div class="row">
									<div class="col-lg-5">
										<th:block th:if="*{!#strings.isEmpty(zipCode)}">
											<input style="margin-bottom: 3px;" type="text" name="zipCode" class="zip form-control" th:value="*{zipCode}" readonly>
										</th:block>
										<th:block th:if="*{#strings.isEmpty(zipCode)}">
											<input style="margin-bottom: 3px;" type="text" name="zipCode" class="zip form-control" placeholder="우편번호" readonly>
										</th:block>	
										<input style="margin-bottom: 3px;" type="text" name="address" class="zip form-control" th:value="*{address}" placeholder="주소" readonly>
										<input type="text" name="addressDetail" class="form-control" th:value="*{addressDetail}" placeholder="상세주소">
									</div>
									<div class="col-lg-1">
										<button type="button" id="zip" class="feature-btn">우편번호 찾기</button><br>
									</div>
								</div>
								</td>
							</tr>
							<tr>
								<th width="150" align="center">이메일</th>
								<td width="400" align="center"><input type="email" name="email" th:value="*{email}" class="form-control checkStirng"></td>
								<th width="150" align="center">연락처</th>
								<td width="400" align="center" class="row justify-content-end">
									<input type="text" name="phoneNumber" id="phoneNumber" th:value="*{phoneNumber}" readonly="readonly" class="form-control checkStirng" style="width: 300px">
									<button type='button' class='feature-btn' id='phoneChange'>변경</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive" th:if="${session.sessionAuthority == 'A2'}">
					<p><b>계좌 정보</b></p>
						<table id="accountInfo" class="table">
						<tbody>
							<tr>
								<td style="border-top: none; text-align: right;">
									<button type="button" id="bankCodeSelect" class="feature-btn" style="float: right;">계좌변경</button>
								</td>
							</tr>
							<tr>
								<th width="150" align="center">은행명</th>
								<td id="bank" width="400">
									<input type="text" th:value="*{bankCode}" class="form-control checkStirng" readonly>
									<input type="hidden" id="bankCode" name="bankCode">
								</td>	
								<th width="150" align="center">예금주</th>
								<td width="400" align="center">
									<input type="text" id="bankHolderName" name="bankHolderName" th:value="*{memberName}" class="form-control checkStirng" readonly>
								</td>
							</tr>
							<tr>
								<th width="150" align="center">계좌번호</th>
								<td colspan="3" align="center">
									<input type="text" id="accountNumber" name="accountNumber"  th:value="*{accountNumber}" class="form-control checkStirng" readonly>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
				<!-- 계좌번호 확인 모달 -->
				<div id="modalWrapBank">
				  <div id="modalContentBank">
				    <div id="modalBodyBank">
					    <div id="modalDataBank">
							<div>
							<br>
							    <label for="type"></label>
							    <select class="type" id="modalType" name="bankCodeInfo">
							        <option value="">선택</option>
							        <option th:each="b : ${B}" th:value="${b.detailCode}" th:text="${b.value}">옵션 텍스트</option>
							    </select>
							    <br>
							    <br>
							    <label for="bankHolderInfo">예금주</label>
							    <input type="text" class="form-control" id="bankHolderNameInfo" name="bankHolderNameInfo" readonly>
							</div>
							<div>
							    <label for="accountNumber">계좌번호</label>
							    <input type="text" class="form-control" id="accountNumberInfo" name="accountNumberInfo" >
							    <button type="button" id="accountHolderCheck" class="btn btn-default">예금주 조회</button>
							</div>
					     </div>
				     <button type="button" id="closeBtnBank" class="feature-btn" style="margin-top:20px; text-align: right;">취소</button>
				     <button type="button" id="bankChange" class="feature-btn" style="display:none; margin-top:20px;">변경</button>	
				    </div>
				  </div>
				</div>
				<div align="center">
					<button type="button" id="submit" class="feature-btn">수정완료</button>
					<button id="returnPage" type="button" class="feature-btn">이전으로</button>
				</div>
				<!-- 전화번호 확인 모달 -->
				<div id="modalWrap">
				  <div id="modalContent">
				    <div id="modalBody">
				     <div id="modalData">
				    	<div class="mb-3">
							<label for="" class="form-label">전화번호 &nbsp;  </label> <button type="button" id="approveButton" class="feature-btn" style="text-align:right;">코드 발송</button>
							<input type="text" class="form-control" name="to" id="phoneSubmit" placeholder="전화번호를 입력하세요" required>
						</div>
						<div id="codeCheck" class="mb-3"  style="display: none">
							<input type="text" class="form-control" name="smsCode" id="smsCode" placeholder="코드 입력하세요" required>
							<button type="button" id="code" name="codeConfirmBtn" class="btn btn-default" value="">코드 확인</button>
						</div>
						<input type="hidden" id="numValue" value="">
				     </div>
				     <button type="button" id="closeBtn" class="feature-btn">취소</button>
				     <button type="button" id="phone" class="feature-btn" style="display:none;">변경</button>	
				    </div>
				  </div>
				</div>
				
		</div>
	
	<!-- Daum 주소 API -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- 페이지 기능 Script -->
	<script th:inline="javascript" type="text/javascript">
	
	$(document).ready(function() {
		// 이벤트 설정
		$('#zip').on('click', openDaumAddrApi);
		$('.zip').on('click', openDaumAddrApi);
		$('#returnPage').on('click', returnToBeforePage);
		
		//전화변호 변경 모달 관련 부분
		var btn = $("#btnWrap");
		const modal = document.getElementById('modalWrap');
		const closeBtn = document.getElementById('closeBtn');
		
		$("#phoneChange").on("click",function() {
			modal.style.display = 'block';
		  closeBtn.onclick = function() {
		    modal.style.display = 'none';
		  }
		  window.onclick = function(event) {
		    if (event.target == modal) {
		      modal.style.display = "none";
		    }
		  }
		});
		//계좌번호 조회 모달
		var btnBank = $("#btnWrapBank");
		const modalBank = document.getElementById('modalWrapBank');
		const closeBtnBank = document.getElementById('closeBtnBank');
		
		$("#bankCodeSelect").on("click",function() {
		    $("#bankHolderNameInfo").val("");
		    $("#accountNumberInfo").val("")
		    $("#modalType option:selected").text("");
		    $("#modalType option:selected").val("");
			modalBank.style.display = 'block';
			$("#bankChange").attr("style", "display:none");
			closeBtnBank.onclick = function() {
		    modalBank.style.display = 'none';
		  }
		  window.onclick = function(event) {
		    if (event.target == modal) {
		      modalBank.style.display = "none";
		    }
		  }
		});
		
		//전화번호 변경 관련 스크립트
		// 승인 버튼. 클릭(이벤트)발생시  ajaxApprove메서드 실행 설정(핸들러)
	      $('#approveButton').on('click',function(){
	    	  if($("#phoneSubmit").val() == ""){
					Swal.fire({
			        	title: '전화번호를 입력하세요',
					    icon: 'error',
					    confirmButtonText: '확인',
					    confirmButtonColor: '#3085d6',
					    })
	    	  }else{
	    	  ajaxApprove();
	    	  sendCode();	
	    	  }
	      });
	    
	   function ajaxApprove(event){
		  console.log("sms 버튼 눌렀다.");
		// memberId 정의
	 	let phonenumber = $("#phoneSubmit").val();
		console.log(phonenumber)
	
	     $.ajax({
	         url : "/sms/send", 
	         type : 'post',
	         data: { to : phonenumber },
	      })
	      .done( data => {
	         if(data != null && data.num != null){
	            alert(`${phonenumber } 문자발송했습니다`); 
	            $("#numValue").val(data.num);
	         } else {
	            alert(`문자 발송 안됐습니다.`);
	         }
	      })
	      .fail( reject => console.log(reject));
	   };
	   
	   $("#code").click(function(){
			   var number1 = $("#smsCode").val();
			   var number2 = $("#numValue").val();
		        if (number1 == number2) { // 저장된 SMS 코드를 사용
		            alert("인증되었습니다.");
		        	$("#phone").attr("style", "display:block");
		        } else {
		            alert("번호가 다릅니다.");
		            $("#smsCode").focus()
		            
		        }
	   })
	   
	   $("#phone").on("click", function(){
		    var code = $("#phoneSubmit").val();
		    $("#phoneNumber").val(code);
		    $("#phoneSubmit").val(""); // 전화번호 입력 필드 초기화
		    $("#smsCode").val("");
		    $("#smsCode").attr("style", "display:none");
		    $("#phone").attr("style", "display:none");
		    $("#code").attr("style", "display:none");
		    modal.style.display = 'none';
	   })
	   
	   
	   //코드 보내고 활성화 시킴
	function sendCode(){
	    $("#codeCheck").css("display","block");
    }
		
    $('#submit').click(function(event){
    	event.preventDefault();
    	
        let memPas = $('#password').val();
        let verPas = $('#passwordInfo').val();
        
        if (memPas != "") {
            if (verPas == "") {
                alert("비밀번호 확인을 해주세요");
                $('#passwordInfo').focus();
                return;
            } else if (verPas != memPas) {
                alert("비밀번호가 일치하지 않습니다.");
                $('#passwordInfo').val('');
                $('#passwordInfo').focus();
                return;
            }
        }
        console.log("확인");
        // 폼 제출
        $("#update").attr("action", "/common/myPageUpdate").submit();
    });

    
    //계좌번호 확인
    $("#accountHolderCheck").click(function() {
    	var bank_code = $("#modalType option:selected").val();
		var bank_num = $("#accountNumberInfo").val();
		$("#bankChange").attr("style", "display:none");
		
		if (bank_code =="" && bank_num == "") {
		    Swal.fire({
		        title: '은행과 계좌번호를 선택해주세요',
		        icon: 'error',
		        confirmButtonText: '확인',
		        confirmButtonColor: '#3085d6',
		    });
		} else if (bank_num == "") {
		    Swal.fire({
		        title: '계좌번호를 입력해주세요',
		        icon: 'error',
		        confirmButtonText: '확인',
		        confirmButtonColor: '#3085d6',
		    });
		} else if (bank_code == "") {
		    Swal.fire({
		        title: '은행을 선택해주세요',
		        icon: 'error',
		        confirmButtonText: '확인',
		        confirmButtonColor: '#3085d6',
		    });
		}

		$.ajax({
			url: "/check1",
			type: 'post',
			data: {
				bank_code: bank_code,
				bank_num: bank_num
			},
		})
		.done(function(data) {
			if (bank_code !="" && bank_num != "") {
			if(data.bankHolderInfo == null){
				Swal.fire({
		        	title: '계좌정보를 찾을수가 없습니다.',
				    icon: 'error',
				    confirmButtonText: '확인',
				    confirmButtonColor: '#3085d6',
				    })
				   $("#accountNumberInfo").val("");
				}
			}
			if (data.bankHolderInfo) {

				$("#bankHolderNameInfo").val(data.bankHolderInfo);
				var name1 = $("#name").text();
				var name2 = $("#bankHolderNameInfo").val();
				Swal.fire({
		        	title: '계좌를 확인했습니다.',
				    icon: 'success',
				    confirmButtonText: '확인',
				    confirmButtonColor: '#3085d6',
				    }).then((result)=>{
				    $("#bankChange").attr("style", "display:block");
				    })
				if (name1 !== name2) { 
					Swal.fire({
			        	title: '이름이 다릅니다. \n 본인의 계좌를 입력해주세요',
					    icon: 'error',
					    confirmButtonText: '확인',
					    confirmButtonColor: '#3085d6',
					    })
					$("#bankHolderNameInfo").val(""); // 이름이 다를 경우 값을 비워줍니다.
					$("#accountNumberInfo").val(""); // 이름이 다를 경우 값을 비워줍니다.
				} else if (data.errormsg) {
					alert("Error: " + data.errormsg);
				}
				
			}
		})
		.fail(function(reject) {
			
		});
	});
    
    //계좌번호 조회 후 변경 버튼 눌렀을 시 작동하는 구문
    $("#bankChange").on("click", function(){
		    var name = $("#bankHolderNameInfo").val();
		    var account = $("#accountNumberInfo").val()
		    var bankName = $("#modalType option:selected").val();
		    $("#bankHolderName").val(name)
		    $("#accountNumber").val(account)
		    $("#bankCode").val(bankName)
		    
		    modalBank.style.display = 'none';
	   })
	   
	   
	});
	
	// daum 주소 api 호출
	function openDaumAddrApi(){
		
		// daum api 팝업창을 생성하고 호출
		new daum.Postcode({
	        oncomplete: function(data) {
	            
	            // 사용자가 선택한 주소값 넣기
	            $('input[name=zipCode]').val(data.zonecode);
	            
	            if (data.userSelectedType === 'R') { 
	            	// 사용자가 도로명 주소를 선택했을 경우
	            	$('input[name=address]').val(data.roadAddress);    
                } else {
                	// 사용자가 지번 주소를 선택했을 경우
                	$('input[name=address]').val(data.jibunAddress);
                }
	            
	            // 상세주소 입력란을 비우고 포커스를 상세주소 입력란으로 옮기기
	            $('input[name=addressDetail]').val("")
	            							  .focus();
	            
	        }
	    }).open();
	}
	
	// 이전페이지로 이동
	function returnToBeforePage(){
		location.href='/common/myPage?memberId='+[[${memberInfo.memberId}]];
	}	
	</script>
	
</div>
</html>