<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<title>문의사항</title>
<style type="text/css">
table, th,td {
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
}
.hidden{
	border: none;
	text-align: center;
	margin: 0 auto;
	display:none;
}

}
</style>
<script>
$(document).ready(function() {
	let list = [];
    
    $('.answer').click(function(){
        var tr = $(this).closest('tr'); // 부모 <tr> 요소 선택
        var hiddenRows = tr.nextAll('.hidden:first, .hidden:eq(1)');
        
        if (hiddenRows.is(':visible')) {
            hiddenRows.hide();
        } else {
            hiddenRows.show();
        }
    });
     //미답변 입력
    $('.insert').click(function(){
    	var tr = $(this).closest('tr');
    	var td = tr.parent();
    	
    	var answerContexts = tr.find('input[type=text]').val();
    	var questionId = tr.prev().prev().find('input[type=hidden]').val();
    	console.log(answerContexts);
    	console.log(questionId);
    	
    	var obj = {};
        obj["questionId"] = questionId; // question_id 값을 설정
        obj["answerContexts"] = answerContexts;
        
    	
    	console.log(obj);
    	
    	$.ajax({
            url: 'queInsert',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(obj) // JSON 응답 처리 설정
        }).done(data => {
            console.log(data);
            top.document.location.reload();
            
        }).fail(reject => console.log(reject));
    });
     //업데이트
    $('.update').click(function(){
    	var tr = $(this).closest('tr');
    	var td = tr.parent();
    	
    	var answerContexts = tr.find('input[type=text]').val();
    	var answerId = tr.prev().find('input[type=hidden]').val();
    	console.log(answerContexts);
    	console.log(answerId);
    	
    	var obj = {};
        obj["answerId"] = answerId; // question_id 값을 설정
        obj["answerContexts"] = answerContexts;
        
    	
    	console.log(obj);
    	
    	$.ajax({
            url: 'queUpdate',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify(obj) // JSON 응답 처리 설정
        }).done(data => {
            console.log(data);
            top.document.location.reload();
        }).fail(reject => console.log(reject));
  
    });
});
</script>
</head>
<body>

	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
	<div layout:fragment="content" style="text-align: center;">
	<form>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>답변여부</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="que: ${guideQue}">
					<tr class="question">
						<td class="que"><input type="hidden" th:value="${que.questionId}"></td>
						<td th:text="${que.questionContent}"></td>
						<td th:text="${que.memberId}"></td>
						<td th:text="${que.questionDate}"></td>
						<td th:if="${que.answerContent == null}" class="answer">미답변</td>
						<td th:if="${que.answerContent != null}" class="answer">답변완료</td>
					</tr>
					
					<tr class="hidden">
						<td colspan="5">
							<input type="hidden" th:value="${que.answerId}">
							<th:blcok th:if="${que.answerModifyDate == null}">
							<label>답변일</label>
							<input type="text" th:value="${que.answerDate}">
							</th:blcok>
							<th:blcok th:if="${que.answerModifyDate != null}">
							<label>수정일</label>
							<input type="text" th:value="${que.answerModifyDate}">
							</th:blcok>
							<label>내용</label>
							<th:textarea rows="9" cols="70">[[${que.questionContent}]]</th:textarea>
						</td>
					</tr>
					<tr class="hidden">
						<td colspan="5">
							<label>답변</label>
							<textarea rows="9" cols="70" readonly="readonly">[[${que.answerContexts}]]</textarea>
							<br><button type="reset">취소</button>	
							<button type="button" class="update">수정</button>									
						</td>
					</tr>
					
				</th:block>
					</tbody>
			</table>
		</form>
		<div>
			<th:block th:if="${paging.startPage != 1}">
				<a th:href="@{guideQue(nowPage=1, cntPerPage=${paging.cntPerPage})}"><<</a>
			</th:block>
			<th:block th:if="${paging.startPage != 1}">
				<a
					th:href="@{guideQue(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
			</th:block>
			<th:block
				th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
				<th:block th:if="${p eq paging.nowPage}">
					<b th:text="${p}"></b>
				</th:block>
				<th:block th:if="${p ne paging.nowPage}">
					<a
						th:href="@{guideQue(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
						th:text="${p}"></a>
				</th:block>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage}">
				<a
					th:href="@{guideQue(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage}">
				<a
					th:href="@{guideQue(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">>></a>
			</th:block>
		</div>
	</div>
</body>
</html>