<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/admin_layout}">
<head>
	<style type="text/css">
		.left-table th, td{
			text-align: left !important;
		}
	</style>
</head>
<!-- Content -->
<div layout:fragment="content">
		<div class="container">
			<form action="/admin/modifyMemberInfoForm" th:object="${memberVO}" method="post">
				<h5><b>회원정보 상세 조회</b></h5>
				<br><br>
				<p><b>기본정보</b></p>
				<div class="table-responsive">
					<table id="defaultInfo" class="table left-table">
						<tbody>
							<tr>
								<th width="150" align="center">아이디</th>
								<td width="400" align="center" th:text="*{memberId}"></td>
								<th width="150" align="center">가입일자</th>
								<td width="400" align="center" th:text="*{#strings.substring(signUpDate,0,10)}"></td>
							</tr>
							<tr>
								<th width="150" align="center">이름</th>
								<td width="400" align="center" th:text="*{memberName}"></td>
								<th width="150" align="center">권한분류</th>
								<th:block th:if="*{authority} != 'A5'">	
									<td width="400" align="center" th:text="*{authority}"></td>
								</th:block>	
								<th:block th:if="*{authority} == 'A5'">	
									<td width="400" align="center" th:text="|*{authority} (탈퇴 일자 : *{#strings.substring(withdrawalDate, 0, 10)})|"></td>
								</th:block>	
							</tr>
							<tr>
								<th width="150" align="center">성별</th>
								<td width="400" align="center" th:text="*{gender}"></td>
								<th width="150" align="center">생년월일</th>
								<th:block th:if="*{birthDate != null}">
									<td width="400" align="center" th:text="*{#strings.substring(birthDate,0,10)}"></td>
								</th:block>
								<th:block th:if="*{birthDate == null}">
									<td width="400" align="center">-</td>
								</th:block>
							</tr>
							<tr>
								<th width="150" align="center">국적</th>
								<td width="400" align="center" th:text="*{nationality}"></td>
								<th width="150" align="center">제재횟수</th>
								<td width="400" align="center" th:text="*{punishCount}"></td>
							</tr>
							<tr>
								<th width="150" align="center">주소</th>
								<th:block th:if="*{!#strings.isEmpty(zipCode)}">
									<th:block th:if="*{!#strings.isEmpty(addressDetail)}">
										<td colspan="3" width="400" align="center" th:utext="|(*{zipCode}) <br> *{address} *{addressDetail}|"></td>
									</th:block>
									<th:block th:if="*{#strings.isEmpty(addressDetail)}">
										<td colspan="3" width="400" align="center" th:utext="|(*{zipCode}) <br> *{address}|"></td>
									</th:block>
								</th:block>
								<th:block th:if="*{#strings.isEmpty(zipCode)}">
									<td colspan="3" width="400" align="center">-</td>
								</th:block>	
							</tr>
							<tr>
								<th width="150" align="center">이메일</th>
								<td width="400" align="center" th:text="*{email}"></td>
								<th width="150" align="center">연락처</th>
								<th:block th:if="*{!#strings.isEmpty(phoneNumber)}">
									<td width="400" align="center" th:text="*{phoneNumber}"></td>
								</th:block>
								<th:block th:unless="*{!#strings.isEmpty(phoneNumber)}">
									<td width="400" align="center">-</td>
								</th:block>
							</tr>
						</tbody>
					</table>
				</div>
				<br><br>
				<p><b>계좌정보</b><p>
				<div class="table-responsive">
					<table id="accountInfo" class="table left-table">
						<tbody>
							<tr>
								<th width="150" align="center">은행명</th>
								<td width="400" align="center" th:text="*{bankCode}"></td>
								<th width="150" align="center">예금주</th>
								<td width="400" align="center" th:text="*{memberName}"></td>
							</tr>
							<tr>
								<th width="150" align="center">계좌번호</th>
								<td colspan="3" width="400" align="center" th:text="*{accountNumber}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<input type="hidden" name="memberId" th:value="*{memberId}">
				</div>
				<div align="center">
					<button type="submit" class="feature-btn">수정하기</button>
					<button type="button" class="feature-btn">탈퇴처리</button>
				</div>
			</form>
		</div>
	
	<script th:inline="javascript" type="text/javascript">
	
	$(document).ready(function() {
		// 이벤트 설정
		$('#searchButton').on('click', search);
		$('.memberInfo').on('mouseover', colorDarker)
						.on('mouseleave', colorReset)
						.on('click')
						.on('mouseup', moveToMemberDetail);
		// 작업중 : 수정해야함
		$('button[type=button]').on('click', withdrawMember);
		console.log([[${memberVO.phoneNumber}]]);
	});
	
	// 조건검색기능
	function search(event){
		
		let value = $('#searchBy').val();
		let keyword = $('#keyword').val();
		location.href='searchAdminMember?searchBy='+value+'&keyword='+keyword;
		
	}
	
	// 마우스 오버 : 색상 어둡게
	function colorDarker(event){
		$(event.currentTarget).css({background: '#f2f4f5'})
							  .css({cursor: 'pointer'});		
	}
	
	// 마우스릴리브 : 색상 원상복귀
	function colorReset(event){
		$(event.currentTarget).css({background: '#ffffff'});
	}
	
	// 회원상세정보 조회페이지로 이동
	function moveToMemberDetail(event){
		
		// 상세보기 할 member의 id값 가져오기
		let memberId = $(event.currentTarget).find('td:eq(0)').text();
		
		// 페이지 전환 실행
		location.href=`seeMemberDetail?employeeId=${memberId}`;
	}
	
	// 회원 탈퇴 처리
	function withdrawMember(){
		
		//e.stopPropagation();
		
		Swal.fire({
		      title: '해당 회원을 탈퇴처리하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '승인',
		      cancelButtonText: '취소',
		      reverseButtons: true,
		      
	    }).then((result) => {
	      if (result.isConfirmed) {
	          
	    	  //post방식으로 페이지 전환
			  sendPost();
	      }
	    })
	
	// post 방식으로 보내기위한 함수 생성
    function sendPost(){
	    
	    // form 생성 
	  	let form = document.createElement('form');
	    form.setAttribute('id', 'instantForm')
	    form.setAttribute('method', 'post');
	    form.setAttribute('action', '/admin/withdrawMember');
	    
	    // input 생성
	    let input = document.createElement('input');
	    input.setAttribute('name', 'memberId');
	    input.setAttribute('value', [[${memberVO.memberId}]]);
	    
	    // 동적으로 생성한 태그 본문에 붙이기 및 폼 서브밋
	    document.body.appendChild(form);
	    document.getElementById('instantForm').appendChild(input);
	    document.getElementById('instantForm').submit();
		
		}    
	}
	
	</script>
</div>

</html>