<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/admin_layout}">
	
<!-- Content -->
<div layout:fragment="content">
		<div class="container">
			<form action="/admin/modifyMemberInfo" th:object="${memberVO}" method="post">
				<h5><b>회원정보 수정</b></h5>
				<br><br>
				<div class="table-responsive">
					<h6>기본정보</h6>
					<br>
					<table id="defaultInfo" class="table">
						<tbody>
							<tr>
								<th width="150" align="center">아이디</th>
								<td width="400" align="center"><input type="text" name="memberId" th:value="*{memberId}"></td>
								<th width="150" align="center">가입일자</th>
								<td width="400" align="center"><input type="date" name="signUpDate" th:value="*{#strings.substring(signUpDate, 0, 10)}"></td>
							</tr>
							<tr>
								<th width="150" align="center">이름</th>
								<td width="400" align="center"><input type="text" name="memberName" th:value="*{memberName}"></td>
								<th width="150" align="center">권한분류</th>
								<td width="400" align="center"><input type="text" name="authority" th:value="*{authority}"></td>
							</tr>
							<tr>
								<th width="150" align="center">성별</th>
								<td width="400" align="center"><input type="text" name="gender" th:value="*{gender}"></td>
								<th width="150" align="center">생년월일</th>
								<td width="400" align="center"><input type="date" name="birthDate" th:value="*{#strings.substring(birthDate, 0, 10)}"></td>
							</tr>
							<tr>
								<th width="150" align="center">국적</th>
								<td id="nationality" width="400" align="center">
									<select name="nationality">
										<!-- <option>[[*{nationality}]]</option> -->
										<option value="대한민국">대한민국</option>
										<option value="일본">일본</option>
										<option value="중국">중국</option>
										<option value="미국">미국</option>
										<option value="캐나다">캐나다</option>
										<option value="필리핀">필리핀</option>
									</select>
								</td>
								<th width="150" align="center">제재횟수</th>
								<td width="400" align="center" th:text="*{punishCount}"></td>
							</tr>
							<tr align="left">
								<th width="150" align="center">주소</th>
								<td colspan="3" width="400" align="center">
								<input type="text" name="zipCode" class="zip" th:value="*{zipCode}" readonly>
								<button type="button" id="zip" class="feature-btn">우편번호 찾기</button><br>
								<input type="text" name="address" class="zip" th:value="*{address}" readonly><br>
								<input type="text" name="addressDetail" class="zip" th:value="*{addressDetail}" placeholder="상세주소">
								</td>
							</tr>
							<tr>
								<th width="150" align="center">이메일</th>
								<td width="400" align="center"><input type="email" name="email" th:value="*{email}"></td>
								<th width="150" align="center">연락처</th>
								<td width="400" align="center"><input type="text" name="phoneNumber" th:value="*{phoneNumber}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<br><br>
				<div class="table-responsive">
					<h6>계좌정보</h6>
					<br>
					<table id="accountInfo" class="table">
						<tbody>
							<tr>
								<th width="150" align="center">은행명</th>
								<!-- 작업중 : selelct로 수정해야함 -->
								<td width="400" align="center"><input type="text" name="bankCode" th:value="*{bankCode}"></td>
								<th width="150" align="center">예금주</th>
								<td width="400" align="center"><input type="text" th:value="*{memberName}"></td>
							</tr>
							<tr>
								<th width="150" align="center">계좌번호</th>
								<td colspan="3" width="400" align="center"><input type="text" name="accountNumber" th:value="*{accountNumber}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div align="center">
					<button type="submit" class="feature-btn">수정완료</button>
					<button id="returnPage" type="button" class="feature-btn">이전으로</button>
				</div>
			</form>
		</div>
	
	<!-- Daum 주소 API -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- 페이지 기능 Script -->
	<script th:inline="javascript" type="text/javascript">
	
	$(document).ready(function() {
		// 이벤트 설정
		$('#zip').on('click', openDaumAddrApi);
		$('.zip').on('click', openDaumAddrApi);
		$('#returnPage').on('click', returnToBeforePage);
		setDefaultNationality();
	});
	
	// daum 주소 api 호출
	function openDaumAddrApi(){
		
		// daum api 팝업창을 생성하고 호출
		new daum.Postcode({
	        oncomplete: function(data) {
	            
	            // 사용자가 선택한 주소값 넣기
	            $('input[name=zipCode]').val(data.zonecode);
	            
	            if (data.userSelectedType === 'R') { 
	            	// 사용자가 도로명 주소를 선택했을 경우
	            	$('input[name=address]').val(data.roadAddress);    
                } else {
                	// 사용자가 지번 주소를 선택했을 경우
                	$('input[name=address]').val(data.jibunAddress);
                }
	            
	            // 상세주소 입력란을 비우고 포커스를 상세주소 입력란으로 옮기기
	            $('input[name=addressDetail]').val("")
	            							  .focus();
	            
	        }
	    }).open();
	}
	
	// 이전페이지로 이동
	function returnToBeforePage(){
		location.href='/admin/seeMemberDetail?memberId='+[[${memberVO.memberId}]];
	}
	
	// 국가 선택 기본설정하기(작업중)
	function setDefaultNationality(){
		
		// 기본으로 설정할 국적 설정(컨트롤러에서 불러온 회원의 기본 국적 설정값)
		let defaultNationality = [[${memberVO.nationality}]];
		
		// select 태그에 기본적으로 표출되는 부분 원하는값으로 변경 
		$('#nationality').find('span').text(defaultNationality);
		
		// selected 처리되어있던 option을 일반 옵션으로 변경
		$('#nationality').find('.option.selected').attr("class", "option");
		
		// 불러온 국적값에 해당하는 option을 selected 및 focus 처리
		$('.option[data-value="'+defaultNationality+'"]').attr("class", "option selected focus");
	}
	
	</script>
	
</div>
</html>