<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/myPage_layout}">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<title>문의사항</title>
<style type="text/css">
table, th,td {
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
}
.hidden{
	border: none;
	text-align: center;
	margin: 0 auto;
}

}
</style>
<script>
$(document).ready(function() {
	$("#sale").click(function() {
		location.href="/guide/packageSale"	
	})

	$("#soldOut").click(function() {
		location.href="/guide/packageSoldOut"
	})
	$("#com").click(function() {
		location.href="/guide/packageCom"
	})
	
	$(".deletePac").click(function(e) {
		e.stopPropagation()
		var thi = $(this);
		var postId = thi.val();
		console.log(postId);
		$.ajax({
		       url: '/guide/deletePackage',
		        type: 'get',
		        data: {postId : postId}
		       }).done(data => {
		    	thi.parent().parent().remove();
		       }).fail(reject => console.log(reject));
	})
});
</script>
</head>
<body>

	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
	<div layout:fragment="content" style="text-align: center;">
	<form>
		<h5>패키지 판매 목록</h5>
		<button type="button" id="sale">모집중</button>
		<button type="button" id="soldOut">모집완료</button>
		<button type="button" id="com">판매완료</button>
		<table>
			<thead>
				<tr>
					<th>타이틀</th>
					<th>가격</th>
					<th>여행날짜</th>
					<th>마감날짜</th>
					<th>여행테마</th>
					<th>인원</th>
					<th>등록일</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="li : ${list}">
					<tr class="list" th:onclick="|location.href='@{/guide/packageDetail(postId=${li.postId})}'|">
						<td th:text="${li.name}"></td>
						<td th:text="${li.price}"></td>
						<td th:text="${#dates.format(li.startDate, 'yyyy-MM-dd')} + '~' + ${#dates.format(li.endDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${#dates.format(li.deadlineDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${li.tourTheme}"></td>
						<td th:text="${li.nowReservation} + '/' + ${li.maxReservation}"></td>
						<td th:text="${#dates.format(li.regDate, 'yyyy-MM-dd')}"></td>
						<td><button type="button" class="deletePac" th:value="${li.postId}">삭제</button></td>
					</tr>
				</th:block>
			</tbody>
			</table>
			<button type="button" id="insert" th:onclick="|location.href='@{/packageInsertForm}'|">등록</button>
		</form>
		<div>
			<th:block th:if="${paging.startPage != 1}">
				<a th:href="@{/guide/packageSale(nowPage=1, cntPerPage=${paging.cntPerPage})}"><<</a>
			</th:block>
			<th:block th:if="${paging.startPage != 1}">
				<a
					th:href="@{/guide/packageSale(nowPage=${paging.startPage - 1}, cntPerPage=${paging.cntPerPage})}">&lt;</a>
			</th:block>
			<th:block
				th:each="p : ${#numbers.sequence(paging.startPage, paging.endPage)}">
				<th:block th:if="${p eq paging.nowPage}">
					<b th:text="${p}"></b>
				</th:block>
				<th:block th:if="${p ne paging.nowPage}">
					<a
						th:href="@{/guide/packageSale(nowPage=${p}, cntPerPage=${paging.cntPerPage})}"
						th:text="${p}"></a>
				</th:block>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage}">
				<a
					th:href="@{/guide/packageSale(nowPage=${paging.endPage + 1}, cntPerPage=${paging.cntPerPage})}">&gt;</a>
			</th:block>
			<th:block th:if="${paging.endPage != paging.lastPage}">
				<a
					th:href="@{/guide/packageSale(nowPage=${paging.lastPage}, cntPerPage=${paging.cntPerPage})}">>></a>
			</th:block>
		</div>
	</div>
</body>
</html>