#cartAllList{
	margin:0 20% 15px;
}

.quantity-cell {
    display: flex;
    align-items: center;
}

.quantity-btn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}

/*radio 버튼*/
.sidebar-btn {
	margin-bottom: 20px;
	overflow: hidden;
}
.sidebar-btn .bt-item {
	width: 100px;
	height: 30px;
	float: left;
}
.sidebar-btn .bt-item input[type=radio] {
	display: none;
}
.sidebar-btn .bt-item input[type=radio]:checked+label {
	background: #2cbdb8;
	color: #ffffff;
}
.sidebar-btn label {
	display: block;
	font-size: 16px;
	margin-bottom: 0;
	font-weight: 600;
	background: #EBEBEB;
	color: #707079;
	text-align: center;
	cursor: pointer;
	padding: 4px 0 6px;
	
}

