<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/admin_layout}">
	
<!-- Content -->
<div layout:fragment="content">
	<div class="container">
		<h5><b>권한 승인 요청 조회</b></h5>
		<p>권한 승인 요청을 한 목록을 조회할 수 있는 페이지입니다.</p>
		<br>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th width="100" align="center">신청자ID</th>
						<th width="150" align="center">신청자명</th>
						<th width="300" align="center">신청자 사진</th>
						<th width="200" align="center">사기 내역 조회</th>
						<th width="200" align="center">요청 처리</th>
					</tr>
				</thead>
				<th:block th:if="${!#lists.isEmpty(list)}">
					<tbody>
						<th:block th:each="l : ${list}">
							<tr>
								<td align="center" th:text="${l.memberId}"></td>
								<td align="center" th:text="${l.memberName}"></td>
								<!-- 사진 저장할 경로 정해야함 -->
								<td align="center"><img th:src="${l.savedProfileImg}"></td>
								<td align="center" th:text="${l.accountNumber}"></td>
								<td align="center">
								<button type="button" class="approveButton" name="approveButton">승인</button>  
								<button type="button" class="rejectButton" name="rejectButton">반려</button>
								<!-- 모달 부분 -->
								
								</td>
							</tr>
						</th:block>
					</tbody>
				</th:block>
			</table>
			<th:block th:if="${#lists.isEmpty(list)}">
				<div align="center">
					<span>새로운 권한 승인 요청이 없습니다.</span>
				</div>
			</th:block>
		</div>
		<div>
			<form id="form" method="post">
				<input type="hidden" id="memberId" name="memberId">
			</form>
		</div>
	</div>
	
	<script th:inline="javascript" type="text/javascript">
	
	// 동적으로 버튼이 다 만들어지고 문서가 다 로드 된 후 이벤트가 정의되게 하기 위해 콜백함수 사용 
	
	$(document).ready(function() {
		// 승인 버튼 클릭 시 발생 이벤트 설정
		$('.approveButton').on('click', authApprove);
		$('.rejectButton').on('click', authReject);
	});
	
	// 승인 버튼 클릭 시 발생 이벤트
	function authApprove(e){
		
		e.stopPropagation();
		
		Swal.fire({
		      title: '해당 회원의 권한 신청 요청을 \n승인하시겠습니까?',
		      icon: 'warning',
		      showCancelButton: true,
		      confirmButtonColor: '#3085d6',
		      cancelButtonColor: '#d33',
		      confirmButtonText: '승인',
		      cancelButtonText: '취소',
		      reverseButtons: true, // 버튼 순서 거꾸로
		      
		    }).then((result) => {
		      if (result.isConfirmed) {
				let form = document.getElementById("form");
				form.memberId.value = e.currentTarget.closest('tr').firstElementChild.textContent;
				form.action = "approveAuthRequest";
				form.submit();
		      }
		    })
		
	}
	
	// 반려 버튼 클릭 시 발생 이벤트
	function authReject(e){
		// 작업중 : 모달창 띄워야함
		e.stopPropagation();
	
		 
	
		let form = document.getElementById("form");
		form.memberId.value = e.currentTarget.closest('tr').firstElementChild.textContent;
		form.action = "rejectAuthRequest";
		form.submit();
	}
	
	// 권한 요청 처리 결과 표출
	printApproveResult([[${approveResult}]]);
	//printRejectResult(`${rejectResult}`);
		
	
	function printApproveResult(message){
		
		if(message == "success"){
			Swal.fire({
				  icon: 'success',
			      title: '승인이 완료되었습니다.',
			      text: '여기다 뭘 넣어볼까?',
			    })	
		}
		else if (message == "fail") {
			Swal.fire({
				  icon: 'error',
			      title: '권한 처리에 실패했습니다.\n다시 시도해주십시오.',
			    })	
		}
		
		
	}
	
	
	</script>
</div>

</html>