<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
<title>관광정보 검색 페이지</title>
<!-- getbootstrap cdn -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
	crossorigin="anonymous"></script>
<!-- jquery cdn -->
<script
		src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous"></script>
<style>
	.sb-text {
         text-align: center;
     }
     @media (min-width: 1400px) {
            .single-blog-item .sb-pic img {
                height: 277px;
            }
        }

        @media (min-width: 1200px) and (max-width: 1399px) {
            .single-blog-item .sb-pic img {
                height: 237px;
            }
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            .single-blog-item .sb-pic img {
                height: 197px;
            }
        }

        @media (min-width: 768px) and (max-width: 991px) {
            .single-blog-item .sb-pic img {
                height: 224px;
            }
        }

        @media (min-width: 576px) and (max-width: 767px) {
            .single-blog-item .sb-pic img {
                height: 344px;
            }
        }
</style>
</head>
<body>
<div layout:fragment="content">
<!-- 제목란 -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2 th:text="|${searchKeyWord} 검색결과|"></h2>
                        <div class="breadcrumb-option">
                            <a href="/localTourInfo"><i class="fa fa-home"></i> TOURINFO</a>
                            <span>검색결과</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- 내용란 -->
    <section class="blog-section blog-page spad">
        <div class="container">
        	<!-- 검색창 -->
			<div class="search row">
				<div class="col-8"></div>
					<div class="searchbox col-4">
						<div class="input-group input-group-sm mb-3">
							<button id="locationTypeButton" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">지역 선택</button>
							<ul id="locationType" class="dropdown-menu">
								<li><a class="dropdown-item" th:attr="data-area-code='4', data-sigungu-code='0'">대구</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='6', data-sigungu-code='0'">부산</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='7', data-sigungu-code='0'">울산</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='35', data-sigungu-code='2'">경주</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='35', data-sigungu-code='23'">포항</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='35', data-sigungu-code='11'">안동</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='36', data-sigungu-code='17'">통영</a></li>
								<li><a class="dropdown-item" th:attr="data-area-code='36', data-sigungu-code='1'">거제</a></li>
							</ul>
							<input type="text" class="form-control" aria-label="search"
								aria-describedby="button-addon2" id="search-input">
							<button class="btn btn-outline-secondary" type="button"
								id="button-addon2">검색</button>
						</div>
					</div>
			</div>
			<!-- 검색결과 -->
            <div class="row">
                <div class="col-lg-4 col-md-6" th:each="searchInfo:${searchInfoList}" data-bs-toggle="modal" data-bs-target="#searchDetailInfoModal">
                    <div class="single-blog-item" th:attr="data-content-id=${searchInfo.contentId}, data-content-type-id=${searchInfo.contentTypeId}, data-address=${searchInfo.address}">
                        <div class="sb-pic">
                            <img th:if="${not #strings.isEmpty(searchInfo.firstImage)}" th:src="${searchInfo.firstImage}" alt="" >
                            <img th:unless="${not #strings.isEmpty(searchInfo.firstImage)}" th:src="@{/img/no-image.png}" alt="" >
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li>
	                                <i class="fa-solid fa-location-dot" style="color: #2cbdb8;"></i>
	                                <span th:if="${searchInfo.areaCode=='4'}" th:text="대구"></span>
	                                <span th:if="${searchInfo.areaCode=='6'}" th:text="부산"></span>
	                                <span th:if="${searchInfo.areaCode=='7'}" th:text="울산"></span>
	                                <span th:if="${searchInfo.sigunguCode=='2'}" th:text="경주"></span>
	                                <span th:if="${searchInfo.sigunguCode=='23'}" th:text="포항"></span>
	                                <span th:if="${searchInfo.sigunguCode=='11'}" th:text="안동"></span>
	                                <span th:if="${searchInfo.sigunguCode=='1'}" th:text="거제"></span>
	                                <span th:if="${searchInfo.sigunguCode=='17'}" th:text="통영"></span>
	                                
                                </li>
                                <li>
                                	<i class="fa-regular fa-comment-dots" style="color: #2cbdb8;"></i> 개의 리뷰
                                </li>
                            </ul>
                            <h4 th:text="${searchInfo.title}"><a href="#"></a></h4>
                        </div>
                    </div>
                </div>
                
                <!--모달창-->
	            <div class="modal fade" id="searchDetailInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
	                    <div class="modal-content">
	                        <div class="modal-header">
	                            <h1 class="modal-title fs-5 modalText" id="exampleModalLabel"></h1>
	                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	                        </div>
	                        <div class="modal-body">
	                            <table class="table">
	                                <tbody>
	                                <tr>
	                                    <td colspan="3"><img id="modalImage" src="" style="width: 100%;"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row" style="width: 25%">주소</th>
	                                    <td colspan="2" id="modalAddress" class="modalText"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row" style="width: 25%">전화번호</th>
	                                    <td colspan="2" id="modalPhone" class="modalText"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row" style="width: 25%">주차</th>
	                                    <td colspan="2" id="modalParking" class="modalText"></td>
	                                </tr>
	                                <tr>
	                                    <th scope="row" style="width: 25%">홈페이지</th>
	                                    <td colspan="2" id="modalHomepage" class="modalText"></td>
	                                </tr>
	                                </tbody>
	                            </table>
	                            <!--로딩창-->
								<div class="modal-overlay" id="modal-loadingOverlay">
									<div class="d-flex justify-content-center">
										<div class="spinner-border text-primary" role="status">
											<span class="visually-hidden">Loading...</span>
										</div>
									</div>
								</div>
	                            <!-- 모달창 내 리뷰 -->
	                            <div class="review">
	                                <h7 id="reviewCount"></h7>
	                                <hr>
	                                <hr id="afterReview">
	                                <div class="d-grid gap-2 col-6 mx-auto">
	                                    <button class="btn btn-outline-info justify-content-center" id="moreReview" type="button"
	                                            data-page="1" >
	                                        더보기
	                                    </button>
	                                </div>
	                                <hr>
	                                <div class="form-check form-check-inline">
	                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
	                                    <label class="form-check-label" for="inlineRadio1">1점</label>
	                                </div>
	                                <div class="form-check form-check-inline">
	                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
	                                    <label class="form-check-label" for="inlineRadio2">2점</label>
	                                </div>
	                                <div class="form-check form-check-inline">
	                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3">
	                                    <label class="form-check-label" for="inlineRadio3">3점</label>
	                                </div>
	                                <div class="form-check form-check-inline">
	                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
	                                    <label class="form-check-label" for="inlineRadio4">4점</label>
	                                </div>
	                                <div class="form-check form-check-inline">
	                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5" th:checked="true">
	                                    <label class="form-check-label" for="inlineRadio5">5점</label>
	                                </div>
	                                <div class="input-group mb-3">
	                                    <input id="reviewInput" type="text" class="form-control" placeholder="추억을 남겨보세요!" aria-label="추억을 남겨보세요!" aria-describedby="button-addon2">
	                                    <button class="btn btn-outline-secondary" type="button" id="addReview">리뷰 등록</button>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                        </div>
	                        
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <script>
		//	모달창 : 로딩창 오버레이 none, block 처리 함수
		function toggleOverlayModal(display) {
			display == 'block' ? $('.modal-overlay').attr('style','display: block;') : $('.modal-overlay').attr('style','display: none;');
		}
    
		//	카드 눌렀을 시 모달창 띄우는 함수
	    $(document).on('click', '.single-blog-item', function() {
	
	    	toggleOverlayModal('block');
	    	
	        let contentId = $(this).data('contentId');
	        let contentTypeId = $(this).data('contentTypeId');
	        let address = $(this).data('address');
	        let title = $(this).find('h4').text();
	        let image = $(this).find('img').attr('src');
	
	        getSpotDetailInfoReview(contentId, contentTypeId, function(data) {
	            if(data) {
	                clearModal(); // 기존 데이터 삭제
	                appendSpotDetailInfoReview(data, address, title, image, contentId);
	                toggleOverlayModal('none');
	            }
	        });
	    })
	
	    function clearModal() {
	        $('.modalText').text('');
	        $('#modalImage').attr('src', '');
	        $('#reviewCount').text('');
	        $('.review-content').remove();
	        $('#moreReview').removeClass('disabled');
	        $('#moreReview').data('contentId', '');
	        $('#moreReview').data('page', '1');
	    }
	
	    function getSpotDetailInfoReview(contentId, contentTypeId, callback) {
	        $.ajax({
	            type: 'GET',
	            url: '/localTourInfo/infoReview',
	            data: {
	                'contentId': contentId,
	                'contentTypeId': contentTypeId
	            }
	        })
	        .done(function (data, textStatus, jqXHR){
	            console.log('done');
	
	            callback(data);
	        })
	        .fail(function (jqXHR, textStatus, errorThrown){
	            console.log('fail');
	
	            callback(null);
	        })
	    }
	
	    function appendSpotDetailInfoReview(data, address, title, image, contentId) {
	        $('#exampleModalLabel').text(title);
	        $('#modalImage').attr('src', image);
	        $('#modalAddress').text(address);
	        $('#reviewCount').text(data.totalCount + '개의 리뷰');
	        $('#reviewCount').data('totalCount', data.totalCount);
	        if(data.totalCount == 0) {
	            $('#moreReview').addClass('disabled');
	        }
	        $('#moreReview').data('contentId', contentId);
	
	        if(data.detailInfoMap.phone == null || data.detailInfoMap.phone.replaceAll(' ', '') == '') {
	            $('#modalPhone').text('-');
	        } else {
	            $('#modalPhone').text(data.detailInfoMap.phone);
	        }
	        if(data.detailInfoMap.parking == null || data.detailInfoMap.parking.replaceAll(' ', '') == '') {
	            $('#modalParking').text('-');
	        } else {
	            $('#modalParking').html(data.detailInfoMap.parking);
	        }
	        if(data.detailInfoMap.homepage == null || data.detailInfoMap.homepage.replaceAll(' ', '') == '') {
	            $('#modalHomepage').text('-');
	        } else {
	            $('#modalHomepage').html(data.detailInfoMap.homepage);
	        }
	
	        if(data.spotDetailReviewVoList.length > 0) {
	            appendReview(data.spotDetailReviewVoList, contentId);
	        }
	    }
	
	    //모달창 리뷰 페이징
	    $(document).on('click', '#moreReview', function () {
	        let contentId = $(this).data('contentId');
	        let page = $(this).data('page');
	
	        page = Number(page)+1;
	
	        $.ajax({
	            type: 'GET',
	            url: '/localTourInfo/review',
	            data: {
	                'contentId' : contentId,
	                'page' : page
	            }
	        })
	        .done(function(data, textStatus, jqXHR) {
	            console.log('done');
	
	            appendReview(data, contentId);
	            changeInfoMoreReviewButton(page);
	        })
	        .fail(function(jqXHR, textStatus, errorThrown) {
	            console.log('fail');
	
	        })
	    });
	
	    function appendReview(data, contentId) {
	        let node = ``;
	        for(let i = 0; i < data.length; i++) {
	            let stars = '';
	            for(let j = 1; j <= 5; j++) {
	                if(j <= data[i].grade) {
	                    stars += '★';
	                } else {
	                    stars += '☆';
	                }
	            }
	
	            let date = data[i].writeDate.substring(0,10);
	
	            node += `
	                <div class="review-content">
	                    <p>
	                        <span class="writerId">${data[i].writerId}</span>
	                        <span class="grade">${stars}</span>
	                        <span class="writeDate" style="float: right;">${date}&emsp;
	                            <button type="button" class="btn btn-secondary btn-sm deleteReview" data-content-id="${contentId}" data-review-id="${data[i].reviewId}">삭제</button>
	                        </span>
	                        <br>
	                        <span class="content">${data[i].content}</span>
	                    </p>
	                </div>
	            `;
	        }
	        $('#afterReview').before(node);
	    }
	
	    function changeInfoMoreReviewButton(page) {
	        $('#moreReview').data('page', page);
	
	        let totalCount = $('#reviewCount').data('totalCount');
	        let reviewCount = $('.review-content').length;
	
	        if(totalCount == reviewCount) {
	            $('#moreReview').addClass('disabled');
	        }
	    }
	
	    //리뷰 등록
	    $(document).on('click', '#addReview', function() {
	        let contentId = $('#moreReview').data('contentId');
	
	        let checkedgrade = $('input[name=inlineRadioOptions]:checked').val();
	        if(checkedgrade == null) {
	            alert("점수를 체크해주세요.");
	        }
	
	        let reviewContent = $('#reviewInput').val();
	        if(reviewContent == null) {
	            alert("내용을 입력해주세요.");
	        }
	        //  ajax 들어가서 로그인 되어있는지 먼저 확인 - 안되면 바로 fail throw new Exception(); 예외 일부러 발생시켜주기
	        $.ajax({
	            type: 'POST',
	            url: '/localTourInfo/review',
	            data : {
	                'grade' : checkedgrade,
	                'content' : reviewContent,
	                'originPostId' : contentId
	            }
	        })
	        .done(function (data, textStatus, jqXHR){
	            console.log('done');
	
	            //  data는 totalCount이고, x개의 리뷰를 바꿔야함
	            $('#reviewCount').text(data.totalCount + '개의 리뷰');
	            $('#reviewCount').data('totalCount', data.totalCount);
	
	            $('.review-content').remove();
	            appendReview(data.recentReviewList, contentId);
	
	            changeInfoMoreReviewButton(1);
	            clearInput();
	
	            alert('리뷰가 등록되었습니다.');
	        })
	        .fail(function (jqXHR, textStatus, errorThrown) {
	            console.log('fail');
	
	            let errorMessage = JSON.parse(jqXHR.responseText).message;
	            if(errorMessage == 'no login') {
	                alert('로그인을 해주세요.');
	            } else if(errorMessage == 'not insert') {
	                alert('리뷰가 등록되지 않았습니다.');
	            }
	        })
	
	    })
	
	    //리뷰 삭제
	    $(document).on('click', '.deleteReview', function() {
	
	        let contentId = $(this).data('contentId');
	        let writerId = $(this).parent().siblings('.writerId').text();
	        let reviewId = $(this).data('reviewId');
	
	        //  ajax로 가서 session에 저장된 아이디랑 writerId랑 같은지 확인 - 같지 않다면 fail 
	        $.ajax({
	            type: 'DELETE',
	            url: "/localTourInfo/review",
	            data: {
	                'contentId' : contentId,
	                'writerId' : writerId,
	                'reviewId' : reviewId
	            }
	        })
	        .done(function (data, textStatus, jqXHR){
	            console.log('done');
	
	            $('#reviewCount').text(data.totalCount + '개의 리뷰');
	            $('#reviewCount').data('totalCount', data.totalCount);
	
	            $('.review-content').remove();
	            appendReview(data.recentReviewList, contentId);
	
	            changeInfoMoreReviewButton(1);
	
	            alert('리뷰가 삭제되었습니다.');
	        })
	        .fail(function (data, textStatus, jqXHR) {
	            console.log('fail');
	
	            let errorMessage = JSON.parse(jqXHR.responseText).message;
	            if(errorMessage == 'no login') {
	                alert('로그인을 해주세요.');
	            } else if(errorMessage == 'not same') {
	                alert('본인의 리뷰만 삭제할 수 있습니다.');
	            } else if(errorMessage == 'not delete') {
	                alert('리뷰가 삭제되지 않았습니다.');
	            }
	        })
	
	    })
	
	    function clearInput() {
	        $('#reviewInput').val('');
	        $('#inlineRadio5').prop('checked', true);
	    }
    
	  //검색정보 보내기
	    $('#button-addon2').on('click', function(e){
			e.preventDefault();
			let searchKeyWord = $('#search-input').val();
			let areaCode = $('#locationTypeButton').data('areaCode');
			let sigunguCode = $('#locationTypeButton').data('sigunguCode');

			if(searchKeyWord.length<=1){
				alert('1글자 이상 검색해주세요.');
				return;
			} else if($('#locationTypeButton').text() == '지역 선택') {
				alert('지역을 선택해주세요.');
				return;
			}

			window.location.href=window.location.origin + "/localTourInfo/search?searchKeyWord="+searchKeyWord+"&areaCode="+areaCode+"&sigunguCode="+sigunguCode;
	    })

		$('#locationType li > a').on('click', function() {
			// 버튼에 선택된 항목 텍스트 넣기
			$('#locationTypeButton').text($(this).text());
			$('#locationTypeButton').data('areaCode', $(this).data('areaCode'));
			$('#locationTypeButton').data('sigunguCode', $(this).data('sigunguCode'));
		});
    </script>
</div>
</body>
</html>