<!DOCTYPE html>
<!-- 타임리프 구역, 레이아웃 설정 -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.sb-text {
 		text-align: center;
}
</style>
</head>
<body>
<div layout:fragment="content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2 th:text="|${locationName} ${contentName}|"></h2>
                        <div class="breadcrumb-option">
                            <a href="/localTourInfo"><i class="fa fa-home"></i>TOURINFO</a>
                            <span th:text="|${locationName} ${contentName} 정보|"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section Begin -->

    <!-- Blog Section Begin -->
    <section class="blog-section blog-page spad">
        <div class="container">
            <div class="row">
            	<div th:each="spotdetail:${spotdetail}">
	                <div class="col-lg-4 col-md-6">
	                    <div class="single-blog-item">
	                        <div class="sb-pic">
	                            <img th:src="${spotdetail.firstImage}" alt="" loading="lazy">
	                        </div>
	                        <div class="sb-text" >
	                            <ul>
	                                <li><i class="fa-solid fa-location-dot" style="color: #2cbdb8;" ></i><span th:text="| ${locationName}|"></span></li>
	                                <li><i class="fa-regular fa-comment-dots" style="color: #2cbdb8;"></i> 10개의 리뷰</li>
	                            </ul>
	                            <h4 th:text="${spotdetail.title}"><a href="#"></a></h4>
	                        </div>
	                    </div>
	                </div>
                </div>
	                <div class="col-lg-4 col-md-6">
	                    <div class="single-blog-item">
	                        <div class="sb-pic">
	                            <img src="img/blog/latest-2.jpg" alt="">
	                        </div>
	                        <div class="sb-text">
	                            <ul>
	                                <li><i class="fa fa-user"></i> Adam Smith</li>
	                                <li><i class="fa fa-clock-o"></i> 18th Jan, 2019</li>
	                            </ul>
	                            <h4><a href="./blog-details.html">Illustration In Marketing Materials</a></h4>
	                        </div>
	                    </div>
	                </div>
                
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-3.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 22th Jan, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">Branding Do You Know Who You Are</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-4.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 24th Jan, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">Looking For Your Dvd Printing Solution</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-5.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 29th Jan, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">How To Set Intentions That Energize You</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-6.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 30th Jan, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">Do Your Self Realizations Quickly Fade</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-3.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 02th Feb, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">Motivation How To Build Trust At Work</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-7.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 09th Feb, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">Not All Blank Cassettes Are Created Equal</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-item">
                        <div class="sb-pic">
                            <img src="img/blog/latest-8.jpg" alt="">
                        </div>
                        <div class="sb-text">
                            <ul>
                                <li><i class="fa fa-user"></i> Adam Smith</li>
                                <li><i class="fa fa-clock-o"></i> 12th Feb, 2019</li>
                            </ul>
                            <h4><a href="./blog-details.html">The Small Change That Creates Massive Results</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <nav aria-label="Page navigation">
			  <ul class="pagination justify-content-center">
			    <li class="page-item"><a class="page-link" href="#"><</a></li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item"><a class="page-link" href="#">4</a></li>
			    <li class="page-item"><a class="page-link" href="#">5</a></li>
			    <li class="page-item"><a class="page-link" href="#">></a></li>
			  </ul>
			</nav>
        </div>
    </section>
    <!-- Blog Section End -->
</div>
</body>
</html>