<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layouts/default_layout}">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<meta charset="UTF-8">
<title>장바구니</title>
<link rel="stylesheet" th:href="@{/css/cart.css}" type="text/css">
<script>
</script>
</head>
<body>
	<div layout:fragment="content" id="cartAllList" style="text-align: center;">
	<script th:src="@{/js/cartList.js}"></script>

		<div class="sidebar-btn">
			<div class="bt-item">
				<input type="radio" name="s-type" id="pakage" checked>
				<label for="pakage">패키지</label>
			</div>
			<div class="bt-item">
				<input type="radio" name="s-type" id="mul">
				<label for="mul">특산물</label>
			</div>
		</div>


		<table id="board-table" class="board-table">
			<thead>

			</thead>
			<tbody>

			</tbody>
		</table>
		<div id="price">
				
		</div>
		<button type="button">구매</button>
		<button type="button" id="delBtn">삭제</button>
		<div id="paging" class="property-pagination"></div>
	</div>
</body>
</html>